<link rel="stylesheet" th:href="@{/css/my/address.css}">
<link rel="stylesheet" th:href="@{/css/basic.css}">
<script th:src="@{/js/axios.min.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<header th:replace="layout/main/header.html"></header>
<th:block th:replace="layout/my/modal"></th:block>
<main style="margin-top: 230px;">
    <div id="my">
        <th:block th:replace="layout/my/aside.html"></th:block>
        <main>
            <th:block th:replace="layout/my/banner.html"></th:block>
            <section>
                <h3>배송지 설정</h3>
                <div class="address-wrapper">
                    <div th:class="${addr.state==1 ? 'address-box on' : 'address-box'}" th:each="addr,i : ${addrs}">
                        <div th:text="${addr.addrNick eq '기본배송지'?'내 정보':addr.addrNick}" class="address-nick" style="font-size: 17px">
                            기본배송지
                        </div>
                        <div style="margin-bottom: 30px; height: 15px;"><span th:text="${addr.name} + ' / '"></span><span th:text="${addr.hp1+addr.hp2+addr.hp3}"></span></div>
                        <div style="margin-bottom: 5px; height: 25px;">
                            <span th:text="'(' + ${addr.addr1} + ')'"></span><br>
                            <span th:text="${addr.addr2}"></span>
                        </div>
                        <div style="margin-bottom: 30px; height: 15px;margin-top: 5px;">
                            <span th:text="${addr.addr3}"></span>
                        </div>
                        <div style="margin-bottom: 69px; height: 25px;">
                            요청사항 :<span th:text="${addr.request}"></span>
                        </div>
                        <div class="card-bottom-box">
                            <div class="left-box">
<!--                                <img style="width: 95px; height:39px; margin-left: -14px" th:src="@{/images/lotteon-deliver-logo.png}">-->
                                <button
                                        class="basic-btn"
                                        style="border: none;
                                        background-color: transparent;"
                                        onclick="updateBasic(event)" th:data-id="${addr.id}">
                                    <span class="now" th:data-id="${addr.id}"></span>
                                    [[${addr.state != 1?'기본 배송지 변경':'기본 배송지'}]]
                                </button>
                            </div>
                            <div class="right-box" style="display: flex; justify-content: center; align-items: center; font-size: 12px;">
                                <button
                                        th:data-nick="${addr.addrNick}"
                                        th:data-name="${addr.name}"
                                        th:data-hp1="${addr.hp1}"
                                        th:data-hp2="${addr.hp2}"
                                        th:data-hp3="${addr.hp3}"
                                        th:data-addr1="${addr.addr1}"
                                        th:data-addr2="${addr.addr2}"
                                        th:data-addr3="${addr.addr3}"
                                        th:data-req="${addr.request}"
                                        th:data-state="${addr.state}"
                                        onclick="addressPopup(event,2)" th:data-id="${addr.id}">수정</button>
                            </div>
                        </div>
                        <button onclick="deleteAddress(event)" th:data-id="${addr.id}" class="x-btn" th:if="${i.index > 0}" >삭제</button>

                    </div>
                    <div th:if="${number < 3}" style="display: flex; justify-content: center; align-items: center; font-size: 50px; padding: 0" class="new-addr">
                        <button onclick="addressPopup(event,1)" class="noItem" style="border: none; background-color: transparent; color:#7F7F7F">+</button>
                    </div>
                </div>
            </section>
        </main>
    </div>
</main>
<footer th:replace="layout/main/footer.html"></footer>
<script>
    function addressPopup(event,a){
        event.stopPropagation();
        if(a===1){
            const newAddr = document.querySelector('.new-addr')
            newAddr.innerHTML = `
            <div class="new-addr">
                <div class="address-nick">
                    <span class="label">배송지 별명</span>
                    <input id="addrNick2" placeholder="집, 회사 등">
                </div>
                <div class="address-name">
                    <span class="label">수취인 </span>
                    <input id="addrName2" placeholder="받는 사람 이름">
                </div>
                <span class="label">연락처 </span>
                <div id="addrHp2">
                    <input id="addrHp12" maxlength="3" data-valid="number" style="text-align: right;margin-right: 4px"><span>-</span>
                    <input id="addrHp22" maxlength="7" data-valid="number" style="text-align: center" placeholder="'-' 제외 숫자 입력"><span>-</span>
                    <input id="addrHp32" maxlength="5" data-valid="number" style="text-align: left;margin: 0 2px">
                </div>
                <span class="addrBox label" onclick="postcode(2)">배송지 <span>우편번호 검색</span> <a style="margin-left: 4px;text-decoration: underline; color:#A3A3A3;font-size: 12px">검색하기</a></span>
                <div id="addrBox2">
                    <input id="addr12" placeholder="우편번호">
                    <input id="addr22" placeholder="주소">
                    <input id="addr32" placeholder="상세주소">
                </div>
                <span class="label">배송 요청사항</span>
                <input id="request2" placeholder="요청사항"><br>
                <input id="basicState2" type="checkbox" class="screen-reader"><label for="basicState2"><i></i> 이 배송지를 기본배송지로 </label><br>
                <button onclick="addAddress(event)" class="add-btn">추가</button>
            </div>
        `
            autofocus('#addrHp2>input');

        } else if(a===2){
            const id = event.target.dataset.id;
            const nick = event.target.dataset.nick
            const name = event.target.dataset.name
            const addr1 = event.target.dataset.addr1
            const addr2 = event.target.dataset.addr2
            const addr3 = event.target.dataset.addr3
            const req = event.target.dataset.req
            const hp1 = event.target.dataset.hp1
            const hp2 = event.target.dataset.hp2
            const hp3 = event.target.dataset.hp3
            const state = event.target.dataset.state
            event.target.parentElement.parentElement.parentElement.style.backgroundColor = 'white'
            event.target.parentElement.parentElement.parentElement.innerHTML = `

            <div class="address-nick">
            <span>배송지 별명</span>
                <input value="${nick}" id="addrNick3" placeholder="집, 회사 등">
            </div>
            <div class="address-name">
                <span>수취인 </span>
                <input value="${name}" id="addrName3" placeholder="받는 사람 이름">
            </div>
            <span>연락처 </span>
            <div id="addrHp3">
                <input value="${hp1}" id="addrHp13" type="number" min="000" max="099" maxlength="3">-
                <input value="${hp2}" id="addrHp23" type="number" min="0000" max="9999" maxlength="4">-
                <input value="${hp3}" id="addrHp33" type="number" min="0000" max="9999" maxlength="4">
            </div>
            <span class="addrBox" onclick="postcode(3)">배송지 <span>우편번호 검색</span></span>
            <div id="addrBox3">
                <input value="${addr1}" id="addr13" placeholder="우편번호">
                <input value="${addr2}" id="addr23" placeholder="주소">
                <input value="${addr3}" id="addr33" placeholder="상세주소">
            </div>
            <span>배송 요청사항</span>
            <input value="${req}" id="request3" placeholder="요청사항"><br>
            <input id="basicState3" ${state === 1 ? 'checked' : ''} type="checkbox" class="screen-reader"><label for="basicState3"><i></i> 이 배송지를 기본배송지로 </label><br>
            <button onclick="putAddress(event)" data-id="${id}" class="add-btn">완료</button>

        `

        }

    }

    async function deleteAddress(event){
        event.stopPropagation();
        const id = event.target.dataset.id;

        try {
            const resp = await axios.delete("/my/address",{
                params: {
                    'id' : id
                },
                headers : {
                    "Content-type" : "application/json"
                }
            })
            if(resp.status===200){
                window.location.href = "/my/address"
            }
        } catch (e) {
            console.log(e)
        }
    }

    async function addAddress(event){
        event.stopPropagation();
        const submitData = {
            'addrNick' : document.getElementById('addrNick2').value,
            'addrName' : document.getElementById('addrName2').value,
            'addrHp': document.getElementById('addrHp12').value+document.getElementById('addrHp22').value+document.getElementById('addrHp32').value,
            'addr' : document.getElementById('addr12').value + '/' + document.getElementById('addr22').value + '/' + document.getElementById('addr32').value,
            'request' : document.getElementById('request2').value,
            'basicState' : document.getElementById('basicState2').checked
        }
        try {
            const resp = await axios.post("/my/address",submitData,{
                headers: {
                    "Content-Type" : "application/json"
                }
            })
            if(resp.status===200){
                window.location.href = "/my/address"
            }
        } catch (e) {
            console.log(e)
        }
    }

    async function putAddress(event){
        event.stopPropagation();
        const submitData = {
            'addrNick' : document.getElementById('addrNick3').value,
            'addrName' : document.getElementById('addrName3').value,
            'addrHp': document.getElementById('addrHp13').value+document.getElementById('addrHp23').value+document.getElementById('addrHp33').value,
            'addr' : document.getElementById('addr13').value + '/' + document.getElementById('addr23').value + '/' + document.getElementById('addr33').value,
            'request' : document.getElementById('request3').value,
            'basicState' : document.getElementById('basicState3').checked,
            'id' : event.target.dataset.id
        }
        console.log(submitData)
        try {
            const resp = await axios.put("/my/address",submitData,{
                headers: {
                    "Content-Type" : "application/json"
                }
            })
            if(resp.status===200){
                window.location.href = "/my/address"
            }
        } catch (e) {
            console.log(e)
        }
    }

    async function updateBasic(event){
        event.stopPropagation();
        const submitData = {
            'id' : event.target.dataset.id
        }

        try {
            const resp = await axios.patch("/my/address",submitData,{
                headers : {
                    "Content-Type" : "application/json"
                }
            })
            if(resp.status===200){
                window.location.href = "/my/address"
            }
        } catch (e) {

        }
    }

    function autofocus(formSelector) {
        // 유효성 검사 함수
        function validCheck(rulename, val) {
            let isValid = true;
            switch (rulename) {
                case 'number':
                    let re = /[^0-9]/g;  // 숫자만 허용
                    isValid = !re.test(val);
                    break;
            }
            return isValid;
        }

        // 폼 선택자에 해당하는 모든 input 요소를 가져옵니다.
        let inputs = document.querySelectorAll(formSelector);

        const hp1 = inputs[0];
        const hp2 = inputs[1];
        const hp3 = inputs[2];
        hp1.style.display = 'none';
        hp3.style.display = 'none';
        hp2.style.width='100%';
        hp2.style.padding='0 20px';

        inputs.forEach(function(input, idx) {
            // keyup 이벤트 리스너 추가
            input.addEventListener('keyup', function(e) {
                let val = input.value;
                // 유효성 검사
                if (!validCheck(input.dataset.valid, val)) {
                    input.value = val.substring(0, val.length - 1);
                    return;
                }

                hp2.addEventListener('keyup', function() {
                    // 이전 상태 저장
                    previousHp2Value = hp2.value;
                    previousHp3Value = hp3.value;

                    if (hp2.value.length === 7) {
                        hp1.value = hp2.value.substr(0, 3);
                        hp3.value = hp2.value.substr(6, 1);
                        hp2.value = hp2.value.substr(3, 3);
                        hp3.setAttribute('maxlength', '5');
                        hp1.style.display = 'inline-block';
                        hp3.style.display = 'inline-block';
                        hp2.style.padding='0';
                        document.querySelector('#addrHp12+span').style.display='inline-block';
                        document.querySelector('#addrHp22+span').style.display='inline-block';
                        hp2.style.width='15%';
                        hp3.focus();
                    }
                });

                // iptPhoneC의 keyup 이벤트
                hp3.addEventListener('keyup', function() {
                    // 백스페이스 키가 눌렸을 때
                    if (e.keyCode === 8 && hp3.value.length === 0) {
                        // hp2와 hp3를 이전 상태로 복원
                        hp2.value = hp1.value + hp2.value + hp3.value;
                        hp1.value='';
                        hp3.value='';
                        hp2.focus();
                        hp1.style.display = 'none';
                        hp3.style.display = 'none';
                        hp2.style.width = '100%';
                        hp2.style.padding='0 20px';
                        document.querySelector('#addrHp12+span').style.display = 'none';
                        document.querySelector('#addrHp22+span').style.display = 'none';
                        return;
                    }

                    if (hp3.value.length === 5) {
                        if (hp2.value.length === 3) {
                            hp2.value = hp2.value + hp3.value.substr(0, 1);
                            hp3.value = hp3.value.substr(1, 4);
                            hp3.setAttribute('maxlength', '4');
                        } else if (hp3.value.length === 5) {
                            hp3.value = hp3.value.substr(0, 4);
                        }
                    }
                });
            });
        });
    }


    function postcode(loca) {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업을 통한 검색 결과 항목 클릭 시 실행
                var addr = ''; // 주소_결과값이 없을 경우 공백
                var extraAddr = ''; // 참고항목

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 도로명 주소를 선택
                    addr = data.roadAddress;
                } else { // 지번 주소를 선택
                    addr = data.jibunAddress;
                }

                if (data.userSelectedType === 'R') {
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if (extraAddr !== '') {
                        extraAddr = '(' + extraAddr + ')';
                    }
                } else {
                    document.getElementById(`addr2${loca}`).value = '';
                }

                // 선택된 우편번호와 주소 정보를 input 박스에 넣는다.
                document.getElementById(`addr1${loca}`).value = data.zonecode;
                document.getElementById(`addr2${loca}`).value = addr;
                document.getElementById(`addr3${loca}`).value += extraAddr;
                document.getElementById(`addr3${loca}`).focus(); // 우편번호 + 주소 입력이 완료되었음으로 상세주소로 포커스 이동
            }
        }).open();
    }
</script>

