<link rel="stylesheet" th:href="@{/css/my/my.css}">
<link rel="stylesheet" th:href="@{/css/basic.css}">
<header th:replace="layout/main/header.html"></header>
<th:block th:replace="layout/my/modal"></th:block>
<main style="margin-top: 230px">
  <div id="my">
    <th:block th:replace="layout/my/aside.html"></th:block>
    <main>
    <th:block th:replace="layout/my/banner.html"></th:block>
    <section>
      <h3>쿠폰내역</h3>
      <article>
        <table th:if="${!noItem}" border="0" class="coupon">
          <tr>
            <th>쿠폰명</th>
            <th>할인금액</th>
            <th>적용기준 / 제한조건</th>
            <th>상태</th>
            <th>유효기간</th>
          </tr>
          <tr th:each="coupon : ${coupons}">
            <td th:text="${coupon.couponName}">1만원 할인 중복 쿠폰</td>
            <td th:text="${coupon.couponDiscount}">10,000원</td>
            <td th:text="${coupon.couponMinPrice}">10,000원 이상 구매시</td>
            <td th:text="${coupon.couponState}">사용가능</td>
            <td th:text="${coupon.couponExpiration}">~12/31</td>
          </tr>
        </table>
        <div th:if="${noItem}"
                style="
              width: 100%;
              height: 150px;
              font-size: 14px;
              line-height: 150px;
              text-align: center;
            "
        >
          쿠폰 내역이 없습니다.
        </div>
      </article>
      <article class="notice">
        <ul class="notice">
          <li>
            순금 / 골드바 / 돌반지 / 상품권 등 환금성 카테고리, 중고상품 및
            일부 프로모션 상품에는 쿠폰 사용이 제한됩니다.
          </li>
          <li>
            쿠폰 적용 가능한 금액 기준은 판매자 상품별 할인과 G마켓
            추가할인이 모두 포함된 할인 적용가입니다.
          </li>
          <li>
            중복 쿠폰은 판매자 할인, G마켓 할인과 중복 적용 가능하며 하나의
            상품당 한 장의 중복 쿠폰만 사용 가능합니다.
          </li>
          <li>
            항공 할인은 항공권 전용 할인으로 결제 시점에 할인 혜택을 받을 수
            있습니다.
          </li>
          <li>
            항공권 예약 취소 또는 환불시 적용했던 항공 할인은 id당 1회 다시
            발급됩니다.
          </li>
        </ul>
      </article>
      <div th:if="${!noItem}" class="page">
        <a class="none prev" th:href="@{/my/coupons(page=0,type=${type},keyword=${keyword})}">이전</a>
        <a class="none" th:href="@{/my/coupons(page=${page - 2},type=${type},keyword=${keyword})}" th:if="${page>=2}" th:text="${page}-1"></a>
        <a class="none" th:href="@{/my/coupons(page=${page - 1},type=${type},keyword=${keyword})}" th:if="${page>=1}" th:text="${page}"></a>
        <a class="active" style="font-weight: 600; background-color: #f2f3f7; color: #000;" th:text="${page}+1"></a>
        <a class="none" th:href="@{/my/coupons(page=${page + 1},type=${type},keyword=${keyword})}" th:if="${(totalPages - page)>=2}" th:text="${page}+2"></a>
        <a class="none" th:href="@{/my/coupons(page=${page + 2},type=${type},keyword=${keyword})}" th:if="${(totalPages - page)>=3}" th:text="${page}+3"></a>
        <a class="none next" th:href="@{/my/coupons(page=${totalPages - 1},type=${type},keyword=${keyword})}">다음</a>
      </div>
    </section>
    </main>
  </div>
</main>
<footer th:replace="layout/main/footer.html"></footer>



