<link rel="stylesheet" th:href="@{/css/my/my.css}">
<link rel="stylesheet" th:href="@{/css/basic.css}">
<link rel="stylesheet" th:href="@{/css/my/popup.css}">
<script th:src="@{/js/MyPopup.js}"  defer></script>
<header th:replace="layout/main/header.html"></header>
<th:block th:replace="layout/my/modal.html"></th:block>
<main style="margin-top: 230px">
  <div id="my">
    <th:block th:replace="layout/my/aside.html"></th:block>
    <main>
      <th:block th:replace="layout/my/banner.html"></th:block>
    <section>
      <h3>최근 주문내역<a href="/my/orders">더보기 &gt; </a></h3>
      <article>
        <table border="0" class="order">
          <tr>
            <th>날짜</th>
            <th>이미지</th>
            <th>상품정보</th>
            <th>상태</th>
            <th>확인/신청</th>
          </tr>
          <tr th:if="${orders.isEmpty()}" >
            <td colspan="4" ><div> 주문 내역이 없습니다. </div></td>
          </tr>
          <tr th:unless="${orders.isEmpty()}" th:each="order, iterStat : ${orders}" th:if="${iterStat.index}<5">
            <td class="date" th:text="${order.orderRdate}">2022-12-13</td>
            <td>
              <div class="thumb">
                <a th:href="@{'/prod/product?prodId='+${order.prodId}}">
                  <img  style="width: 80px; height: 80px;" th:src="@{'/file/'+${order.getProdListImg()}}"  alt="상품이미지" />
                </a>
              </div>
            </td>
            <td><ul>
              <li class="company" onclick="openSellerInfo(event)" th:text="${order.seller}" th:data-sell="${order.seller}">(주) 회사명</li>
              <li class="prodName"><a onclick="orderPop(this)" th:text="${order.orderItemCount}>1 ? ${order.prodName}+'외'+(${order.orderItemCount}-1)+'개' : ${order.prodName}">상품명</a></li>
              <li>
                수량 : <span class="prodCount" th:text="${order.orderQuantity}==null?0:${order.orderQuantity}">5</span>개 / 주문번호 :
                <span class="ordNo" th:text="${order.orderId}">1234567</span>
              </li>
              <li class="prodPrice" th:text="${order.orderTotal}==null?0:${order.orderTotal}">34,000</li>
            </ul></td>
            <td class="status" th:text="${order.orderState==0}?'배송중':'배송완료'">배송완료</td>
            <td class="confirm">
              <button class="receive color" th:if="${order.orderState>0}">수취확인</button>
              <button onclick="openReviewWrite(event)" th:data-name="${order.prodName}" th:data-id="${order.orderId}" th:data-prod="${order.prodId}" class="review color">상품평쓰기</button>
              <button class="refund grey">반품신청</button>
              <button class="exchange grey">교환신청</button>
            </td>
          </tr>
        </table>
      </article>

      <h3>포인트 적립내역<a th:href="@{/my/points}">더보기 &gt; </a></h3>
      <article>
        <table th:if="${noPoint==false}" border="0" class="point">
          <tr>
            <th>날짜</th>
            <th>구분</th>
            <th>주문번호</th>
            <th>적립금액</th>
            <th>비고</th>
            <th>유효기간</th>
          </tr>
          <tr th:each="point : ${points}">
            <td th:text="${point.rdate}">날짜</td>
            <td th:text="${point.pointType}">구분</td>
            <td th:text="${point.orderId}">주문번호</td>
            <td th:text="${point.pointVar}">적립금액</td>
            <td th:text="${point.pointEtc}">비고</td>
            <td th:classappend="${point.warningExpiration == 'active'} ? 'warning' : ''" th:text="${point.pointExpiration}">유효기간</td>
          </tr>
        </table>
        <div th:if="${noPoint==true}">포인트 적립내역 없음</div>
      </article>

      <h3>상품평<a th:href="@{/my/reviews/{page}(page=${page})}">더보기 &gt; </a></h3>
      <article>
        <table th:if="${!noReview}" border="0" class="review">
          <tr>
            <th>번호</th>
            <th>상품명</th>
            <th>내용</th>
            <th>평점</th>
            <th>작성일</th>
          </tr>
          <tr th:each="review, stat : ${reviews}">
            <td th:text="${stat.index + 1}">1</td>
            <td><span th:text="${review.prodId}">상품번호</span> / <span> [[${#strings.length(review.prodName) > 10 ? #strings.substring(review.prodName, 0, 10) + '...' : review.prodName}]]</span></td>
            <td style="text-align: center;" th:text="${review.review}">배송이 빠릅니다. 잘 사용하겠습니다.</td>
            <td>
              <span th:if="${review.score >= 10 && review.score <20}" style="font-size: 14px;">
                            <img style="width: 76px; height: 17px;" th:src="@{/images/star1.png}">
                        </span>
              <span th:if="${review.score >= 20 && review.score <30}" style="font-size: 14px;">
                            <img style="width: 76px; height: 17px;" th:src="@{/images/star2.png}">
                        </span>
              <span th:if="${review.score >= 30 && review.score <40}" style="font-size: 14px;">
                            <img style="width: 76px; height: 17px;" th:src="@{/images/star3.png}">
                        </span>
              <span th:if="${review.score >= 40 && review.score <50}" style="font-size: 14px;">
                            <img style="width: 76px; height: 17px;" th:src="@{/images/star4.png}">
                        </span>
              <span th:if="${review.score >= 50}" style="font-size: 14px;">
                            <img style="width: 76px; height: 17px;" th:src="@{/images/star5.png}">
                        </span>
              <span th:if="${review.score  < 10}" style="font-size: 14px;">
                            <img style="width: 76px; height: 17px;" th:src="@{/images/star1.png}">
                        </span>
            </td>
            <td th:text="${review.rdate}">2024-12-10</td>
          </tr>
        </table>
        <div th:if="${noReview}">
          등록된 상품평이 없습니다...
        </div>
      </article>

      <h3>문의내역 <a th:href="@{/my/qnas/{page}(page=${page})}">더보기 &gt; </a></h3>
      <article>
        <table border="0" class="qna">
          <tr>
            <th>번호</th>
            <th>문의채널</th>
            <th>문의유형</th>
            <th>제목</th>
            <th>작성일</th>
            <th>상태</th>
          </tr>
          <tr>
            <td>1</td>
            <td>고객센터</td>
            <td>주문/결제</td>
            <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
            <td>2024-12-12</td>
            <td><span class="check">검토중</span></td>
          </tr>
          <tr>
            <td>2</td>
            <td>고객센터</td>
            <td>주문/결제</td>
            <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
            <td>2024-12-12</td>
            <td><span class="success">답변완료</span></td>
          </tr>
          <tr>
            <td>3</td>
            <td>판매자 게시판</td>
            <td>배송</td>
            <td>배송기간이 보통 얼마나 걸리나요?</td>
            <td>2024-12-12</td>
            <td><span class="success">답변완료</span></td>
          </tr>
        </table>
      </article>

      <h3>나의설정</h3>
      <article>
        <table class="user">
          <tr>
            <td colspan="3"></td>
          </tr>
          <tr>
            <td>
              <div><b>기본배송지 설정</b> <a href="#">변경</a></div>
              <p class="addr1">부산광역시 부산진구 대연동 120</p>
              <p class="addr2">한빛빌딩 10층</p>
            </td>
            <td>
              <div><b>Email 설정</b> <a href="#">변경</a></div>
              <p>abc123@naver.com</p>
              <p class="lastUpdate">(최종수정일 2021-12-10)</p>
            </td>
            <td>
              <div><b>휴대폰 설정</b> <a href="#">변경</a></div>
              <p>010-1234-1001</p>
              <p class="lastUpdate">(최종수정일 2021-12-10)</p>
            </td>
          </tr>
          <tr>
            <td colspan="3"></td>
          </tr>
        </table>
      </article>
    </section>
    </main>
  </div>
</main>
<footer th:replace="layout/main/footer.html"></footer>

<script th:inline="javascript">
  let orderId;
  let prodId;
  let content;
  let score;
  async function openSellerInfo(event){
    event.preventDefault();
    const sellerDialog = document.getElementById('popSeller')
    const company = event.target.dataset.sell
    try {
      const resp = await axios.get("/my/order/seller-info", {
        headers: {
          "Content-Type": "application/json"
        },
        params: {
          "company": company
        }
      })
      const seller = resp.data;
      document.querySelector('#popSeller .level').innerText = seller.sellGrade
      document.querySelector('#popSeller .company').innerText = seller.company
      document.querySelector('#popSeller .ceo').innerText = seller.name
      document.querySelector('#popSeller .tel').innerText = seller.hp
      document.querySelector('#popSeller .fax').innerText = seller.fax
      document.querySelector('#popSeller .email').innerText = seller.email
      document.querySelector('#popSeller .bizNum').innerText = seller.busiCode
      document.querySelector('#popSeller .address').innerText = seller.address
      sellerDialog.showModal();
    } catch (e) {
      console.log(e)
    }

    const closeBtn = document.querySelector('#popSeller .close-btn')
    closeBtn.addEventListener('click', () => {
      sellerDialog.close(); // 다이얼로그 닫기
    });
  }


  async function openReviewWrite(event) {
    orderId = event.target.dataset.id;
    prodId = event.target.dataset.prod;

    try {
      const resp = await axios.get("/prod/review/names",{
        headers:{
          "Content-Type" : "application/json"
        },
        params : {
          "orderId" : orderId
        }
      })
      const prods = resp.data.names
      const selectNames = document.getElementById('select-prod-name')
      selectNames.innerHTML = prods.map(v=>`
        <option value="${v.prodId}">${v.productName}</option>
      `).join('');

      selectNames.addEventListener('change', (event) => {
        prodId = event.target.value;  // 선택된 값으로 prodId 업데이트
        console.log('선택된 prodId:', prodId);  // 콘솔에 선택된 prodId 출력
      });

    } catch (e) {

    }

    const popReviewDialog = document.getElementById("popReview");
    popReviewDialog.showModal();
  }

  const stars = document.querySelectorAll('.star');
  // const selectedRatingDisplay = document.getElementById('selected-rating');

  stars.forEach(star => {
    star.addEventListener('click', function() {
      const ratingValue = this.dataset.value;

      stars.forEach(s => {
        if (s.dataset.value <= ratingValue) {
          s.classList.add('filled');
        } else {
          s.classList.remove('filled');
        }
      });
      score = ratingValue;
    });
  });

  document.getElementById('review-content').addEventListener('input',(e)=>{
    content = e.target.value;
  })

  document.getElementById('reviewButton').addEventListener('click',async ()=>{
    const submitData = {
      "prodId" : prodId,
      "orderId" : orderId,
      "review" : content,
      "score" : score
    }
    try {
      const resp = await axios.post("/prod/review",submitData,{
        headers: {
          "Content-Type" : "application/json"
        }
      })
      alert(resp.data)
    } catch (e) {

    }
  })

</script>


