<link rel="stylesheet" th:href="@{/css/my/my.css}">
<link rel="stylesheet" th:href="@{/css/basic.css}">
<header th:replace="layout/main/header.html"></header>
<th:block th:replace="layout/my/modal.html"></th:block>
<main>
  <div id="my">
    <th:block th:replace="layout/my/aside.html"></th:block>
    <main>
      <th:block th:replace="layout/my/banner.html"></th:block>
    <section>
      <h3>포인트내역</h3>

      <article class="byDate">
        <span class="tit">기간별조회</span>
        <ul class="date_3ea">
          <li><a href="#">1주일</a></li>
          <li><a href="#">15일</a></li>
          <li><a href="#">1개월</a></li>
        </ul>
        <ul class="date_5ea">
          <li><a href="#" class="5month_before">5월</a></li>
          <li><a href="#" class="4month_before">6월</a></li>
          <li><a href="#" class="3month_before">7월</a></li>
          <li><a href="#" class="2month_before">8월</a></li>
          <li><a href="#" class="1month_before">9월</a></li>
        </ul>
        <p>
          <input type="date" max="9999-12-31" /><span>~</span
        ><input type="date" max="9999-12-31" />
        </p>
        <button class="btnConfirm">조회하기</button>
      </article>
      <article>
        <table th:if="${noItem == false}" border="0" class="point">
          <tr>
            <th>날짜</th>
            <th>구분</th>
            <th>주문번호</th>
            <th>적립금액</th>
            <th>비고</th>
            <th>유효기간</th>
          </tr>
          <tr th:each="point : ${points}">
            <th th:text="${point.rdate}">날짜</th>
            <th th:text="${point.pointType}">구분</th>
            <th th:text="${point.orderId}">주문번호</th>
            <th th:text="${point.pointVar}">적립금액</th>
            <th th:text="${point.pointEtc}">비고</th>
            <th th:text="${point.pointExpiration}">유효기간</th>
          </tr>
        </table>
        <div th:if="${noItem==true}"
                style="
              width: 100%;
              height: 150px;
              font-size: 14px;
              line-height: 150px;
              text-align: center;
            "
        >
          적립 내역이 없습니다.
        </div>

        <div class="page">
          <a class="none" th:href="@{/my/points(page=0)}"><<</a>
          <a class="none" th:href="@{/my/points(page=${page - 2})}" th:if="${page>=2}" th:text="${page}-1"></a>
          <a class="none" th:href="@{/my/points(page=${page - 1})}" th:if="${page>=1}" th:text="${page}"></a>
          <a class="active" style="font-weight: 600; text-decoration: underline;" th:text="${page}+1"></a>
          <a class="none" th:href="@{/my/points(page=${page + 1})}" th:if="${(totalPages - page)>=2}" th:text="${page}+2"></a>
          <a class="none" th:href="@{/my/points(page=${page + 2})}" th:if="${(totalPages - page)>=3}" th:text="${page}+3"></a>
          <a class="none" th:href="@{/my/points(page=${totalPages - 1})}" >>></a>
        </div>
      </article>
    </section>
    </main>
  </div>
</main>
<footer th:replace="layout/main/footer.html"></footer>

