<link rel="stylesheet" th:href="@{/css/my/my.css}">
<link rel="stylesheet" th:href="@{/css/basic.css}">
<header th:replace="layout/main/header.html"></header>
<main>
  <div id="my">
    <nav class="info">
      <h2 class="tit">나의쇼핑정보</h2>
      <table>
        <tr>
          <td>주문</td>
          <td>쿠폰</td>
          <td>포인트</td>
          <td>문의</td>
        </tr>
        <tr>
          <td>2</td>
          <td>1</td>
          <td>1,800</td>
          <td>1</td>
        </tr>
      </table>
    </nav>
    <aside>
      <ul class="aside_cate">
        <li>전체주문내역</li>
        <li>포인트내역</li>
        <li>쿠폰</li>
        <li>나의리뷰</li>
        <li>문의하기</li>
        <li>나의설정</li>
      </ul>
    </aside>
    <main>
      <a href="#"
      ><img
              src="https://via.placeholder.com/810x86"
              class="banner"
              alt="배너광고"
      /></a>
      <section>
        <h3>문의하기</h3>
        <article>
          <table border="0" class="qna">
            <tr>
              <th>번호</th>
              <th>문의채널</th>
              <th>문의유형</th>
              <th>제목</th>
              <th>작성일</th>
              <th>상태</th>
            </tr>
            <tr>
              <td>1</td>
              <td>고객센터</td>
              <td>주문/결제</td>
              <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
              <td>2024-12-12</td>
              <td><span class="check">검토중</span></td>
            </tr>
            <tr>
              <td>2</td>
              <td>고객센터</td>
              <td>주문/결제</td>
              <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
              <td>2024-12-12</td>
              <td><span class="success">답변완료</span></td>
            </tr>
            <tr>
              <td>3</td>
              <td>판매자 게시판</td>
              <td>배송</td>
              <td>배송기간이 보통 얼마나 걸리나요?</td>
              <td>2024-12-12</td>
              <td><span class="success">답변완료</span></td>
            </tr>
          </table>
          <div
                  style="
                width: 100%;
                height: 150px;
                font-size: 14px;
                line-height: 150px;
                text-align: center;
              "
          >
            문의 내역이 없습니다.
          </div>

          <ul class="paging">
            <li><a class="prev" href="#">이전</a></li>
            <li><a class="num on" href="#">1</a></li>
            <li><a class="num" href="#">2</a></li>
            <li><a class="num" href="#">3</a></li>
            <li><a class="num" href="#">4</a></li>
            <li><a class="num" href="#">5</a></li>
            <li><a class="next" href="#"> 다음</a></li>
          </ul>
        </article>
      </section>
    </main>
  </div>
</main>
<footer th:replace="layout/main/footer.html"></footer>

