
    <link rel="stylesheet" th:href="@{/css/cs/cs_common.css}">
    <link rel="stylesheet" th:href="@{/css/cs/cs_faq.css}">
    <link rel="stylesheet" th:href="@{/css/basic.css}">
    <header th:replace="layout/main/header.html"></header>
    <main style="margin: 0 auto; margin-bottom: 50px; margin-top: 230px;">
            <aside class="cs_aside">
                <h3 class="aside_title">자주묻는질문</h3>
                <ul class="aside_cate">
                    <li class="cate_list"><a href="#">회원</a></li>
                    <li class="cate_list"><a href="#">쿠폰/이벤트</a></li>
                    <li class="cate_list"><a href="#">주문/결제</a></li>
                    <li class="cate_list"><a href="#">배송</a></li>
                    <li class="cate_list"><a href="#">취소/반품/교환</a></li>
                    <li class="cate_list"><a href="#">여행/숙박/항공</a></li>
                    <li class="cate_list"><a href="#">안전거래</a></li>
                </ul>
            </aside>
            <div id="main" style="height: auto">
                <nav class="cs_nav">
                    <p class="cs_nav_tit"><span>홈</span> > <span>자주묻는질문</span></p>
                </nav>
                <!-- TODO: 일반 CS qna 글 목록 - 2차 유형 / 제목 / 상태 / 아이디 마스킹 / 날짜 -->
                <section class="cs_faq">
                    <div class="cate_bar">
                        <h3 class="cate_title">회원</h3>
                        <p class="cate_des">회원관련 자주 묻는 질문입니다.</p>
                    </div>
                    <div class="faq_main">
                        <h3 class="cate_title">가입</h3>
                        <table class="faq_list">
                            <tr>
                                <td><p><span class="Q">Q.</span>개인회원과 법인회원에 차이가 있나요?</p></td>
                            </tr>
                            <tr>
                                <td><p><span class="Q">Q.</span>개인회원과 법인회원에 차이가 있나요?</p></td>
                            </tr>
                            <tr>
                                <td><p><span class="Q">Q.</span>개인회원과 법인회원에 차이가 있나요?</p></td>
                            </tr>
                            <tr>
                                <td><p><span class="Q">Q.</span>개인회원과 법인회원에 차이가 있나요?</p></td>
                            </tr>
                            <tr>
                                <td><p><span class="Q">Q.</span>개인회원과 법인회원에 차이가 있나요?</p></td>
                            </tr>
                            <tr class="faq_simple">
                                <td><span class="showLess">간단히 보기</span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="faq_main">
                        <h3 class="cate_title">탈퇴</h3>
                        <table class="faq_list">
                            <tr>
                                <td><p><span class="Q">Q.</span>회원가입 후 재가입이 가능한가요?</p></td>
                            </tr>
                            <tr>
                                <td><p><span class="Q">Q.</span>회원가입 후 재가입이 가능한가요?</p></td>
                            </tr>
                            <tr>
                                <td><p><span class="Q">Q.</span>회원가입 후 재가입이 가능한가요?</p></td>
                            </tr>
                            <tr class="faq_simple">
                                <td><span class="loadMore">더보기</span></td>
                            </tr>
                        </table>
                    </div>
                </section>
            </div>
        </main>
    <footer th:replace="layout/main/footer.html"></footer>
