<link rel="stylesheet" th:href="@{/css/cs/cs_common.css}">
<link rel="stylesheet" th:href="@{/css/cs/cs_faq.css}">
<link rel="stylesheet" th:href="@{/css/basic.css}">
<header th:replace="layout/main/header.html"></header>
<main>
    <aside class="cs_aside">
        <h3 class="aside_title">자주묻는질문</h3>
        <ul class="aside_cate">
            <li class="cate_list"><a href="#">회원</a></li>
            <li class="cate_list"><a href="#">쿠폰/이벤트</a></li>
            <li class="cate_list"><a href="#">주문/결제/배송</a></li>
            <li class="cate_list"><a href="#">취소/반품/교환</a></li>
            <li class="cate_list"><a href="#">여행/숙박/항공</a></li>
            <li class="cate_list"><a href="#">안전거래</a></li>
        </ul>
    </aside>
    <main id="main" style="height: auto">
        <nav class="cs_nav">
            <p class="cs_nav_tit"><span>홈</span> > <span>자주묻는질문</span></p>
        </nav>
        <div class="box">

            <section class="cs_notice">
                <div class="cate_bar">
                    <h3 class="cate_title">회원</h3>
                    <p class="cate_des">회원관련 자주 묻는 질문입니다.</p>
                </div>
                <div class="view_title">
                    <p class="v_title Q">Q.</p>
                    <p class="v_title title">개인회원과 법인회원에 차이가 있나요?</p>
                </div>
                <div class="view_content">
                    <div>
                        <p>
                            개인회원에서 법인회원(사업자회원)으로 전환은 불가하므로 법인회원(사업자회원) 전환은 신규가입으로 진행을 해야 합니다.
                        </p>
                    </div>
                    <div class="autolink">
                        <p>* 피싱 관련 피해신고<br><br>
                            > 경찰사이버수사국 (국번없이) 182: http://어쩌구.go.kr<br>
                            > KISA 인터넷침해대응센터 (국번없이) 182: http://어쩌구.go.kr<br>
                            감사합니다.
                        </p>
                    </div>
                </div>
                <a th:href="@{/cs/faqs}" class="btn_gray btn_list">목록</a>

            </section>
        </div>
    </main>
</main>
<footer th:replace="layout/main/footer.html"></footer>

