#sidebar {
    width: 200px;
    max-height: 700px;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.menues {
    background-color: gainsboro;
    width: 200px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 0;
    overflow: hidden; /* 이 부분이 필요합니다 */
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}

.menues.open {
    max-height: 600px; /* 메뉴에 따른 최대 높이 설정 */
    padding: 20px 0;
    border-radius: 10px;
}

.menues a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding-left: 10px;
    &:hover {
        color: brown;
    }
}

.navi .open .active {
    color: brown;
}

.navi li {
    padding: 20px 0;
    cursor: pointer;
    padding-left: 10px;
    font-size: 15px;
}

.navi {
    padding-left: 10px;
    padding-top: 10px;
}
