.container {
  width: 800px;
}


/* 보더 추가 */
.notice-nav {
  border-bottom: 1px solid black;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 70px;
}


table {
  width: 100%;
  height: auto;
  /* text-align: center; */
  border-top: 1px solid #999999;
  border-collapse: collapse;
  margin-top: 5px;
}

tr {
  height: 42.5px;
}

th {
  border-bottom: 1px solid #999999;
}

td {
  border-bottom: 1px solid #999999;
  padding: 8px 0;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 48px;
  padding: 0 12px;
}


.button--back {
  background-color: #d51b33;
  color: white !important; /* 글자 색상을 흰색으로 강제 적용 */
  padding: 6px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: box-shadow 0.3s ease;
}
/* 작성 버튼 호버 효과 */
.button--back:hover {
  background-color: #ec5165;
}

.button--write {
    background-color: #617280;
    color: white !important; /* 글자 색상을 흰색으로 강제 적용 */
    padding: 6px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: box-shadow 0.3s ease;
}


/* 작성 버튼 호버 효과 */
.button--write:hover {
  background-color: #616861;
}

.paging {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}


.noticeCate {
  height: 36px;
  appearance: none;
  width: 100px;
}


.noticeTitle {
    width: 100% !important;
    height: 36px !important;
}
.noticeContent {
    width: 100% !important;
    height: 200px !important;
}