.container {
  width: 800px;
}

/* 보더 추가 */
.faq-nav {
  border-bottom: 1px solid black;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 70px;
}

/* 보더 추가 */
.listTit {
  border-bottom: 1px solid;
  padding-bottom: 8px;
}

table {
  width: 100%;
  height: auto;
  text-align: center;
  border-top: 1px solid #999999;
  border-collapse: collapse;
  margin-top: 5px;
}

tr {
  height: 42.5px;
}

th {
  background-color: #fbfbfb;
  border-bottom: 1px solid #999999;
}

td {
  height: 80px;
  border-bottom: 1px solid #999999;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 0 12px;
}

.button--delete {
  width: 100px;
  height: 40px;
  background: #cfcfcf;
  border: 0;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.button--write {
  width: 100px;
  height: 40px;
  background: #8bbedc;
  border: 0;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.paging {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.faqCate,
.faqType {
  height: 36px;
  appearance: none;
  width: 100px;
}
