.container {
  width: 800px;
}

/* 보더 추가 */
.faq-nav {
  border-bottom: 1px solid black;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 70px;
}

/* 보더 추가 */
.listTit {
  border-bottom: 1px solid;
  padding-bottom: 8px;
}

table {
  width: 100%;
  height: auto;
  text-align: center;
  border-top: 1px solid #999999;
  border-collapse: collapse;
  margin-top: 5px;
}

tr {
  height: 42.5px;
}

th {
  background-color: #fbfbfb;
  border-bottom: 1px solid #999999;
}

td {
  height: 80px;
  border-bottom: 1px solid #999999;
}

.button--delete1 {
  background-color: #f44336;
  color: white !important; /* 글자 색상을 흰색으로 강제 적용 */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: box-shadow 0.3s ease;
}

.button--write {
  background-color: #647264;
  color: white !important; /* 글자 색상을 흰색으로 강제 적용 */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: box-shadow 0.3s ease;
}


.button--delete {
  background-color: #f44336;
  color: white !important; /* 글자 색상을 흰색으로 강제 적용 */
  padding: 1px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: box-shadow 0.3s ease;
}


.button--edit {
  background-color: #617280;
  color: white !important; /* 글자 색상을 흰색으로 강제 적용 */
  padding: 1px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: box-shadow 0.3s ease;
}

/*!* 호버 시 섀도우 효과 *!
.button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); !* 호버 시 섀도우 추가 *!
}*/
/* 삭제 버튼 (호버 효과) */
.button--delete1:hover, .button--delete:hover {
  background-color: #d32f2f;
}



/* 작성 버튼 호버 효과 */
.button--write:hover{
  background-color: #616861;
}

.button--edit:hover {
  background-color: #8f9ba6;
}


.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 0 12px;
}

.paging {
  display: flex; /* 요소들을 중앙에 배치할 수 있도록 설정 */
  justify-content: center; /* 중앙 정렬 */
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px; /* 상단 여백 추가 */
}

.paging ol {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0; /* 기본 여백 제거 */
}

.paging ol li {
  margin: 0 5px;
}

.paging a {
  padding: 5px 10px;
  border: 1px solid #ddd;
  margin: 0 2px;
  color: #333;
  text-decoration: none;
  display: inline-block; /* 중앙 배치 */
}

.paging a.active {
  background-color: #333;
  color: #fff;
}


.faqCate,
.faqType {
  height: 36px;
  appearance: none;
  width: 100px;
}
