.container {
  width: 800px;
  margin: 0 auto;
}

/* 보더 추가 */
.faq-nav {
  border-bottom: 1px solid black;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 70px;
}

table {
  width: 100%;
  height: auto;
  /* text-align: center; */
  border-top: 1px solid #999999;
  border-collapse: collapse;
  margin-top: 5px;
}

tr {
  height: 42.5px;
}

th {
  border-bottom: 1px solid #999999;
}

td {
  border-bottom: 1px solid #999999;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 48px;
  padding: 0 12px;
}

.button--delete {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.button--modify {
  background-color: #617280;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}


.button--back {
  background-color: #8bbedc;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.button--delete:hover {
  background-color: #d32f2f; /* 호버시 배경 색상 */
}

.button--modify:hover {
  background-color: #4f5456; /* 호버시 배경 색상 */
}

.button--back:hover {
  background-color: #b5ddf3; /* 호버시 배경 색상 */
}

.paging {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
