<link rel="stylesheet" th:href="@{/css/admin/shop/income.css}" />
<link rel="stylesheet" th:href="@{/css/basic.css}">
<body>
<header th:replace="layout/admin/header.html"></header>
<main style="margin: 0 auto; margin-bottom: 50px; margin-top: 50px;">
    <aside th:replace="layout/admin/aside.html"></aside>
    <div id="wrap">
        <div class="container">
            <nav id="navi">
                <h2 class="sub_tit">매출현황</h2>
                <p class="location">
                    <span>HOME</span>
                    <span>상점관리</span>
                    <span>매출현황</span>
                </p>
            </nav>
            <form class="search">
                <select name="search" class="search-option">
                    <option value="일간">일간</option>
                    <option value="주간">주간</option>
                    <option value="월간">월간</option>
                </select>
            </form>

            <div class="header-gubun-bottom">
            </div>
            <table class="tb1">
                <colgroup>
                    <col style="width: 5%;">
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                </colgroup>
                <tr>
                    <th>번호</th>
                    <th>상호명</th>
                    <th>사업자 등록번호</th>
                    <th>주문 건수</th>
                    <th>결제 완료</th>
                    <th>배송 중</th>
                    <th>배송 완료</th>
                    <th>구매 확정</th>
                    <th>주문 합계</th>
                    <th>매출 합계</th>
                </tr>
                <tr>
                    <td>5</td>
                    <td>(주)나다와</td>
                    <td>112-12-12345</td>
                    <td>103</td>
                    <td>90</td>
                    <td>56</td>
                    <td>52</td>
                    <td>6</td>
                    <td>구매확정 포인트 지급</td>
                    <td>0000-00-00 00:00:00</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>(주)나다와</td>
                    <td>112-12-12345</td>
                    <td>103</td>
                    <td>90</td>
                    <td>56</td>
                    <td>52</td>
                    <td>6</td>
                    <td>구매확정 포인트 지급</td>
                    <td>0000-00-00 00:00:00</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>(주)나다와</td>
                    <td>112-12-12345</td>
                    <td>103</td>
                    <td>90</td>
                    <td>56</td>
                    <td>52</td>
                    <td>6</td>
                    <td>구매확정 포인트 지급</td>
                    <td>0000-00-00 00:00:00</td>
                </tr>
            </table>
            <div class="page">
                <a href="#" class="first">이전</a>
                <a class="on" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#" class="last">다음</a>
            </div>
        </div><!--container-->
    </div>
</main>
<footer th:replace="layout/admin/footer.html"></footer>
