<link rel="stylesheet" th:href="@{/css/admin/shop/shop.css}" />
<link rel="stylesheet" th:href="@{/css/basic.css}">
<body>
<header th:replace="layout/admin/header.html"></header>
<main style="margin: 0 auto; margin-bottom: 50px; margin-top: 50px;">
    <aside th:replace="layout/admin/aside.html"></aside>
    <div id="wrap">
        <div class="container">
            <nav id="navi">
                <h2 class="sub_tit">상점목록</h2>
                <p class="location">
                    <span>HOME</span>
                    <span>상점관리 </span>
                    <span>상점목록</span>
                </p>
            </nav>
            <form class="search">
                <select name="searchType" class="search-option">
                    <option th:selected="${searchType == 'sellCompany'}" value="sellCompany">상호명</option>
                    <option th:selected="${searchType == 'sellRep'}" value="sellRep">대표자</option>
                    <option th:selected="${searchType == 'busiCode'}" value="busiCode">사업자등록번호</option>
                    <option th:selected="${searchType == 'sellHp'}" value="sellHp">연락처</option>
                </select>
                <input class="search-keyword" type="text" name="keyword" placeholder="키워드 입력">
                <button class="search-btn" type="submit">검색</button>
            </form>

            <div class="header-gubun-bottom">
                <span class="circle green">운영 중</span>
                <span class="circle red">운영 중지</span>
                <span class="circle blue">운영 준비</span>
            </div>
            <table class="tb1">
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 5%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 5%;">
                    <col style="width: 15%;">
                </colgroup>
                <tr>
                    <th class="checkbox">
                        <input type="checkbox" id="allCheckbox">
                    </th>
                    <th>번호</th>
                    <th>상호명</th>
                    <th>대표</th>
                    <th>사업자등록번호</th>
                    <th>통신판매업번호</th>
                    <th>연락처</th>
                    <th>운영</th>
                    <th>관리</th>
                </tr>
                <tr th:each="shop : ${shops}">
                    <td>
                        <input th:data-id="${shop.id}" type="checkbox" class="checkbox">
                    </td>
                    <td th:text="${shop.id}">5</td>
                    <td th:text="${shop.company}">(주)다나와</td>
                    <td th:text="${shop.name}">정우성</td>
                    <td th:text="${shop.businessCode}">112-12-12345</td>
                    <td th:text="${shop.orderCode}">2024 - 서울강남 - 04433</td>
                    <td th:text="${shop.hp}">010-1234-1001</td>
                    <td>
                        <div th:if="${shop.state == '운영중'}" class="cir"></div>
                        <div th:if="${shop.state == '운영중지'}" class="cir2"></div>
                        <div th:if="${shop.state == '운영준비'}" class="cir3"></div>
                    </td>
                    <td class="td-admin">
                        <input onclick="updateState(event)" th:if="${shop.state != '운영중지'}" th:data-id="${shop.id}" type="button" value="[ 중단 ]">
                        <input onclick="updateState(event)" th:if="${shop.state == '운영중지'}" th:data-id="${shop.id}" type="button" value="[ 개시 ]">
                    </td>
                </tr>
            </table>
            <div class="btns">
                <button class="delete-btn" id="deleteButton">영업중지</button>
                <button onclick="openShopPopup()" class="insert-btn">상점등록</button>
            </div>
            <div class="page">
                <a class="none" th:href="@{/admin/shop/shop(page=0, searchType=${searchType}, keyword=${keyword})}"><<</a>
                <a class="none" th:href="@{/admin/shop/shop(page=${page - 2}, searchType=${searchType}, keyword=${keyword})}" th:if="${page>=2}" th:text="${page}-1"></a>
                <a class="none" th:href="@{/admin/shop/shop(page=${page - 1}, searchType=${searchType}, keyword=${keyword})}" th:if="${page>=1}" th:text="${page}"></a>
                <a class="active" style="font-weight: 600; text-decoration: underline;" th:text="${page}+1"></a>
                <a class="none" th:href="@{/admin/shop/shop(page=${page + 1}, searchType=${searchType}, keyword=${keyword})}" th:if="${(totalPages - page)>=2}" th:text="${page}+2"></a>
                <a class="none" th:href="@{/admin/shop/shop(page=${page + 2}, searchType=${searchType}, keyword=${keyword})}" th:if="${(totalPages - page)>=3}" th:text="${page}+3"></a>
                <a class="none" th:href="@{/admin/shop/shop(page=${totalPages - 1}, searchType=${searchType}, keyword=${keyword})}" >>></a>
            </div>
            <div class="popup">
                <div class="header">
                    <div class="title">상점등록</div>
                    <div onclick="closeShopPopup()" class="btn">X</div>
                </div>
                <form action="">
                    <table class="tb2">
                        <div class="userinfo">
                            <tr>
                                <th>아이디</th>
                                <td>
                                    <div style="display: flex; align-items: center; gap: 4px">
                                        <input class="inp" id="memId" type="text" />
                                        <p class="info2">영문, 숫자 4~12자 설정</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>비밀번호</th>
                                <td>
                                    <div style="display: flex; align-items: center; gap: 4px">
                                        <input class="inp" id="memPwd" type="text" />
                                        <p class="info2">영문 숫자 특수문자 8~12자 설정</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>비밀번호 확인</th>
                                <td>
                                    <div style="display: flex; align-items: center; gap: 4px">
                                        <input class="inp" type="text" />
                                    </div>
                                </td>
                            </tr>
                        </div>
                    </table>
                    <br />
                    <table class="tb2">
                        <div class="shopinfo">
                            <tr>
                                <th>상호명</th>
                                <td>
                                    <input
                                            id="sellCompany"
                                            class="inp"
                                            type="text"
                                            placeholder="상호명 입력 예 "
                                    />
                                </td>
                            </tr>
                            <tr>
                                <th>대표</th>
                                <td>
                                    <input class="inp" id="sellRep" type="text" placeholder="이름입력" />
                                </td>
                            </tr>
                            <tr>
                                <th>사업자등록번호</th>
                                <td>
                                    <div style="display: flex; align-items: center; gap: 4px">
                                        <input
                                                id="sellCode"
                                                class="inp"
                                                type="text"
                                                placeholder="사업자등록번호입력"
                                        />
                                        <p class="info2">- 포함 12자리 입력</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>통신판매업번호</th>
                                <td>
                                    <div style="display: flex; align-items: center; gap: 4px">
                                        <input
                                                id="sellOrderCode"
                                                class="inp"
                                                type="text"
                                                placeholder="통신판매업번호입력"
                                        />
                                        <p class="info2">- 포함 12자리 입력</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>전화번호</th>
                                <td>
                                    <input class="inp" id="sellHp" type="text" placeholder="전화번호입력" />
                                </td>
                            </tr>
                            <tr>
                                <th>팩스</th>
                                <td>
                                    <input class="inp" id="sellFax" type="text" placeholder="팩스번호입력" />
                                </td>
                            </tr>
                            <tr>
                                <th>주소</th>
                                <td>
                                    <input
                                            id="sellAddr1"
                                            class="inp"
                                            type="text"
                                            placeholder="우편번호검색클릭"
                                    />
                                    <br />
                                    <input class="inp" id="sellAddr2" type="text" placeholder="기본주소검색" />
                                    <br />
                                    <input class="inp" id="sellAddr3" type="text" placeholder="상세주소검색" />
                                </td>
                            </tr>
                        </div>
                    </table>

                </form>
                <div class="btns">
                    <button type="button" onclick="postSeller(event)" class="submit-btn admin-btn">등록하기</button>
                </div>
            </div>
            <div class="popupbg"></div>
        </div><!--container-->
    </div>
</main>
<footer th:replace="layout/admin/footer.html"></footer>


<script>
    const popup = document.querySelector('.popup')
    const bg = document.querySelector('.popupbg')
    function openShopPopup() {
        popup.style.display = "block";
        bg.style.display = "flex";
    }

    function closeShopPopup() {
        popup.style.display = "none";
        bg.style.display = "none";
    }

    async function postSeller(event){
        const submitData = {
            'memId' : document.getElementById('memId').value,
            'memPwd' : document.getElementById('memPwd').value,
            'sellCompany' : document.getElementById('sellCompany').value,
            'sellRep' : document.getElementById('sellRep').value,
            'sellCode' : document.getElementById('sellCode').value,
            'sellOrderCode' : document.getElementById('sellOrderCode').value,
            'sellHp' : document.getElementById('sellHp').value,
            'sellFax' : document.getElementById('sellFax').value,
            'sellAddr' : document.getElementById('sellAddr1').value+'/'+document.getElementById('sellAddr2').value+'/'+document.getElementById('sellAddr3').value,
        }

        try {
            const resp = await fetch('/admin/shop/seller',{
                method : "POST",
                headers : {
                    "Content-Type" : "application/json"
                },
                body : JSON.stringify(submitData)
            })
            const result = await resp.text();
            if(result==="SU"){
                window.location.href = "/admin/shop/shop"
            }
            
        } catch (e) {
            console.error(e)
        }
    }

    const allCheckbox = document.getElementById('allCheckbox');
    const checkboxes = document.querySelectorAll('.checkbox');
    const submitData = [];

    // 전체 체크박스 클릭 이벤트
    allCheckbox.addEventListener('change', function() {
        checkboxes.forEach(checkbox => {
            checkbox.checked = allCheckbox.checked;
            updateSubmitData();
        });
    });

    async function updateState(event){
        const submitData = {
            "id" : event.target.dataset.id
        }

        try {
            const resp = await axios.patch(`/admin/shop/shop?id=${event.target.dataset.id}`,null,{
                headers : {
                    "Content-Type" : "application/json"
                }
            })
            if(resp.status===200){
                window.location.href = "/admin/shop/shop"
            }
        } catch (e) {
            
        }
    }


    // 각 체크박스 클릭 이벤트
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            updateSubmitData();

            // 전체 체크박스 상태 업데이트
            const allChecked = [...checkboxes].every(checkbox => checkbox.checked);
            allCheckbox.checked = allChecked;
        });
    });

    // 선택된 체크박스의 data-id를 submitData에 추가
    function updateSubmitData() {
        submitData.length = 0; // 기존 데이터 초기화
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                submitData.push(checkbox.getAttribute('data-id'));
            }
        });
    }

    // 삭제 버튼 클릭 이벤트
    document.getElementById('deleteButton').addEventListener('click',async function() {
        if (submitData.length > 0) {
            // 삭제 처리 로직 추가
            console.log('삭제할 데이터 ID:', submitData);
            try {
                const resp = await axios.delete("/admin/shop/shop",{
                    params:{
                        id : submitData.join(",")
                    },
                    headers : {
                        "Content-Type" : "application/json"
                    }
                })
                if(resp.status===200){
                    window.location.href = "/admin/shop/shop"
                }
            } catch (e) {

            }
        } else {
            alert('삭제할 항목이 선택되지 않았습니다.');
        }
    });

</script>
