<link rel="stylesheet" th:href="@{/css/admin/order/list.css}" />
<link rel="stylesheet" th:href="@{/css/basic.css}">
<link rel="stylesheet" th:href="@{/css/reset.css}">
<body>
<header th:replace="layout/admin/header.html"></header>
<main style="margin: 0 auto; margin-bottom: 50px; margin-top: 50px;">
    <aside th:replace="layout/admin/aside.html"></aside>
    <div class="container">
        <div class="header">
            <span class="header-title">배송현황</span>
            <div class="header-right">
                <span>HOME</span>
                <span>></span>
                <span>주문관리</span>
                <span>></span>
                <span class="bold">배송현황</span>
            </div>
        </div>

        <div class="header-gubun"></div>

        <section class="categoryProduct">
            <form class="order-search">
                <select name="searchType">
                    <option value="deliId">송장번호</option>
                    <option value="orderId">주문번호</option>
                    <option value="receiverName">수령인</option>
                </select>
                <input name="keyword" type="text" placeholder="검색어입력">
                <button type="submit">검색</button>
            </form>
            <table class="tb1">
                <tr>
                    <th style="width: 7%;">송장번호</th>
                    <th style="width: 7%;">택배사</th>
                    <th style="width: 7%;">주문번호</th>
                    <th style="width: 5%;">수령인</th>
                    <th>상품명</th>
                    <th style="width: 5%;">건수</th>
                    <th style="width: 9%;">물품합계</th>
                    <th style="width: 7%;">배송비</th>
                    <th style="width: 8%;">배송상태</th>
                    <th style="width: 10%;">접수일</th>
                </tr>
                <tr th:if="${deli.deliveryId} != null" th:each="deli : ${deliverys}">
                    <td th:data-deli="${deli.deliveryId}" th:text="${deli.deliveryId}" onclick="openDeliveryPopup(event)" style="text-decoration: underline; cursor: pointer">10121111</td>
                    <td th:text="${deli.deliCompany}">로젠택배</td>
                    <td th:text="${deli.orderItemId}">10121122020</td>
                    <td th:text="${deli.receiverName}">김유신</td>
                    <td th:text="${deli.prodName}">OOO</td>
                    <td th:text="${deli.orderItemSize}">3</td>
                    <td th:text="${#numbers.formatInteger(deli.orderItemTotalPrice, 1,'COMMA')+'원'}">68,400</td>
                    <td th:text="${deli.prodDeli>0?#numbers.formatInteger(deli.prodDeli, 1,'COMMA')+'원':'무료'}">무료</td>
                    <td th:text="${deli.orderItemState2}" style="color: #00B050;">배송준비</td>
                    <td th:text="${deli.orderRdate}">2024.10.16<br>00:00:00</td>
                </tr>
            </table>
            <div class="page">
                <a class="none" th:href="@{/admin/order/deliverys(page=0, searchType=${searchType}, keyword=${keyword})}"><<</a>
                <a class="none" th:href="@{/admin/order/deliverys(page=${page - 2}, searchType=${searchType}, keyword=${keyword})}" th:if="${page>=2}" th:text="${page}-1"></a>
                <a class="none" th:href="@{/admin/order/deliverys(page=${page - 1}, searchType=${searchType}, keyword=${keyword})}" th:if="${page>=1}" th:text="${page}"></a>
                <a class="active" style="font-weight: 600; text-decoration: underline;" th:text="${page}+1"></a>
                <a class="none" th:href="@{/admin/order/deliverys(page=${page + 1}, searchType=${searchType}, keyword=${keyword})}" th:if="${(totalPages - page)>=2}" th:text="${page}+2"></a>
                <a class="none" th:href="@{/admin/order/deliverys(page=${page + 2}, searchType=${searchType}, keyword=${keyword})}" th:if="${(totalPages - page)>=3}" th:text="${page}+3"></a>
                <a class="none" th:href="@{/admin/order/deliverys(page=${totalPages - 1}, searchType=${searchType}, keyword=${keyword})}" >>></a>
            </div>
        </section>
        <div class="popup"></div>
        <div class="popupbg"></div>
    </div>
</main>
<footer th:replace="layout/admin/footer.html"></footer>

<script>
    const popup = document.querySelector('.popup')
    const bg = document.querySelector('.popupbg')
    async function openDeliveryPopup(event) {
        const deliveryId = event.target.dataset.deli
        console.log(deliveryId)
        try {
            const resp = await axios.get("/admin/prod/order/delinfo",{
                headers : {
                    "Content-Type" : "application/json"
                },
                params : {
                    "deliveryId" : deliveryId
                }
            })
            const data = resp.data.info;
            popup.innerHTML = `

                <div class="header">
                    <div class="title">배송입력 <span style="color: white">1012000000</span></div>
                    <div onclick="closeShopPopup()" class="btn">X</div>
                </div>
                <div style="margin: 20px; margin-bottom: 30px;">
                    <div class="header-gubun"></div>
                    <form class="popup_form">
                        <table class="tb3">
                            <tr>
                                <th>주문번호</th>
                                <td><input type="text" class="input1" value="${data.orderId}" readonly></td>
                            </tr>
                            <tr>
                                <th>수령인</th>
                                <td><input type="text" class="input2" value="${data.receiverName}" readonly></td>
                            </tr>
                            <tr>
                                <th>우편번호</th>
                                <td><input type="text" class="input2" value="${data.addr1}" readonly></td>
                            </tr>
                            <tr>
                                <th>기본주소</th>
                                <td><input type="text" class="input3" value="${data.addr2}" readonly></td>
                            </tr>
                            <tr>
                                <th>상세주소</th>
                                <td><input type="text" class="input3"  value="${data.addr3}" readonly></td>
                            </tr>
                            <tr>
                                <th>택배사</th>
                                <td>
                                    <input type="text" class="input3" value="${data.company}" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th>운송장번호</th>
                                <td><input type="text" class="input3" value="${data.deliveryId}" ></td>
                            </tr>
                            <tr>
                                <th>기타</th>
                                <td><textarea placeholder="기타정보입력">${data.orderReq}</textarea></td>
                            </tr>
                        </table>
                        <button onclick="closeShopPopup()" class="btn_green">닫기</button>
                    </form>
                </div>
                `

            popup.style.display = "block";
            bg.style.display = "flex";
        } catch (e) {
            
        }
        

    }

    function closeShopPopup() {
        popup.style.display = "none";
        bg.style.display = "none";
    }
</script>