<link rel="stylesheet" th:href="@{/css/admin/order/list.css}" />
<link rel="stylesheet" th:href="@{/css/basic.css}">
<link rel="stylesheet" th:href="@{/css/reset.css}">
<header th:replace="layout/admin/header.html"></header>
<main style="margin: 0 auto; margin-bottom: 50px; margin-top: 50px;">
    <aside th:replace="layout/admin/aside.html"></aside>
    <div class="container">
        <div class="header">
            <span class="header-title">주문현황</span>
            <div class="header-right">
                <span>HOME</span>
                <span>></span>
                <span>주문관리</span>
                <span>></span>
                <span class="bold">주문현황</span>
            </div>
        </div>

        <div class="header-gubun"></div>

        <section class="categoryProduct">
            <form class="order-search">
                <select>
                    <option>주문번호</option>
                    <option>주문자</option>
                    <option>주문자명</option>
                </select>
                <input type="text" placeholder="검색어입력">
                <button type="submit">검색</button>
            </form>
            <table class="tb1">
                <tr>
                    <th>주문번호</th>
                    <th>주문자</th>
                    <th>주문자명</th>
                    <th>상품명</th>
                    <th>주문건수</th>
                    <th>주문합계</th>
                    <th>결제수단</th>
                    <th>주문상태</th>
                    <th>주문일</th>
                    <th>배송</th>
                </tr>
                <tr th:each="order:${orders}">
                    <td th:onclick="openOrderPopup(1,[[${order.orderId}]])" style="text-decoration: underline; cursor:pointer;" th:text="${order.orderId}">10121111</td>
                    <td th:text="${order.memUid}">abc1</td>
                    <td th:text="${order.custName}">김유신</td>
                    <td th:text="${order.prodName}">OOO</td>
                    <td th:text="${order.orderItemCount}">2</td>
                    <td th:text="${order.orderItemTotal}">102,999</td>
                    <td th:text="${order.memUid}">신용카드</td>
                    <td style="color: #00B050;"  th:text="${order.orderState}">결제완료</td>
                    <td th:text="${order.orderRdate}">2024.10.16<br>00:00:00</td>
                    <td th:onclick="openOrderPopup(2,[[${order.orderId}]])" style="cursor:pointer">배송하기</td>
                </tr>
            </table>
            <div class="page">
                <a class="none" th:href="@{/admin/order/orders(page=0)}"><<</a>
                <a class="none" th:href="@{/admin/order/orders(page=${page - 2})}" th:if="${page>=2}" th:text="${page}-1"></a>
                <a class="none" th:href="@{/admin/order/orders(page=${page - 1})}" th:if="${page>=1}" th:text="${page}"></a>
                <a class="active" style="font-weight: 600; text-decoration: underline;" th:text="${page}+1"></a>
                <a class="none" th:href="@{/admin/order/orders(page=${page + 1})}" th:if="${(totalPages - page)>=2}" th:text="${page}+2"></a>
                <a class="none" th:href="@{/admin/order/orders(page=${page + 2})}" th:if="${(totalPages - page)>=3}" th:text="${page}+3"></a>
                <a class="none" th:href="@{/admin/order/orders(page=${totalPages - 1})}" >>></a>
            </div>
        </section>
        <div class="popup"></div>
        <div class="popupbg"></div>
    </div>
</main>
<footer th:replace="layout/admin/footer.html"></footer>
<script>
    const popup = document.querySelector('.popup')
    const bg = document.querySelector('.popupbg')

    async function openOrderPopup(a, orderId) {
        try {
            let apiUrl, data;

            if(a===1){

                apiUrl = `/admin/prod/order/${orderId}`;
                const response = await fetch(apiUrl);
                if (!response.ok) throw new Error('주문 상세 정보를 불러오지 못했습니다.');

                data = await response.json();

                console.log(data)

                popup.innerHTML = `
                <div class="header fixed">
                    <div class="title">주문상세 <span style="color: white">${data.orderId}</span></div>
                    <div onclick="closeShopPopup()" class="btn">X</div>
                </div>
                <div style="margin: 20px; margin-bottom: 30px;">
                    <div class="header2">
                        <span class="header-title">상품정보</span>
                    </div>
                    <div class="header-gubun"></div>
                    <table class="tb2">
                        <tr>
                            <th>이미지</th>
                            <th>상품번호</th>
                            <th>상품명</th>
                            <th>판매자</th>
                            <th>가격</th>
                            <th>할인</th>
                            <th>수량</th>
                            <th>배송비</th>
                            <th>결제금액</th>
                        </tr>
                        ${data.orderItemDtos.map(item => `
                        <tr>
                            <td><img src="@{https://via.placeholder.com/35x35}" alt="상품이미지" width="35" height="35"></td>
                            <td>${item.prodId}</td>
                            <td>${item.prodName}</td>
                            <td>${item.sellerName}</td>
                            <td>${item.prodPrice}</td>
                            <td>${item.discount}</td>
                            <td>${item.quantity}</td>
                            <td>${item.delivery}</td>
                            <td>${item.totalPrice}</td>
                        </tr>`).join('')}
                    </table>
                    <div class="total">
                        <div class="right-bg">
                            <div>
                                <p>총 상품금액</p><p>스크립트 처리</p>
                            </div>
                            <div>
                                <p>총 할인금액</p><p>-7,100원</p>
                            </div>
                            <div>
                                <p>배송비</p><p>3,000원</p>
                            </div>
                            <div>
                                <p>총 결제금액</p><p style="color: red">${data.orderTotal}</p>
                            </div>
                        </div>
                    </div>
                    <div class="header2">
                        <span class="header-title">결제정보</span>
                    </div>

                    <div class="header-gubun"></div>
                    <table class="tb3">
                        <tr>
                            <th>주문번호</th>
                            <td>${data.orderId}</td>
                        </tr>
                        <tr>
                            <th>결제방법</th>
                            <td>${data.payment}</td>
                        </tr>
                        <tr>
                            <th>주문자 / 연락처</th>
                            <td>${data.custName} / ${data.custHp}</td>
                        </tr>
                        <tr>
                            <th>결제상태</th>
                            <td>${data.orderState}</td>
                        </tr>
                    </table>
                    <div class="total-price">
                        <p>총 결제금액</p><p style="color: red">${data.orderTotal}</p>
                    </div>
                    <div class="header2">
                        <span class="header-title">배송정보</span>
                    </div>
                    <div class="header-gubun"></div>
                    <table class="tb3">
                        <tr>
                            <th>수취인</th>
                            <td>${data.receiverName}</td>
                        </tr>
                        <tr>
                            <th>연락처</th>
                            <td>${data.receiverHp}</td>
                        </tr>
                        <tr>
                            <th>배송지주소</th>
                            <td>${data.receiverAddr}</td>
                        </tr>
                    </table>
                </div>
                `
            } else {

                // 배송 정보 API 호출
                apiUrl = `/api/orders/${orderId}/shipping`;
                const response = await fetch(apiUrl);
                if (!response.ok) throw new Error('배송 정보를 불러오지 못했습니다.');

                data = await response.json();

                popup.innerHTML = `
                <div class="header fixed">
                    <div class="title">배송입력 <span style="color: white">1012000000</span></div>
                    <div onclick="closeShopPopup()" class="btn">X</div>
                </div>
                <div style="margin: 20px; margin-bottom: 30px;">
                    <table class="tb4">
                        <tr>
                            <th>주문번호</th>
                            <td><input value="101200000"></td>
                        </tr>
                        <tr>
                            <th>수령인</th>
                            <td><input value="101200000"></td>
                        </tr>
                        <tr>
                            <th>우편번호</th>
                            <td><input value="101200000"></td>
                        </tr>
                        <tr>
                            <th>기본주소</th>
                            <td><input value="101200000"></td>
                        </tr>
                        <tr>
                            <th>상세주소</th>
                            <td><input value="101200000"></td>
                        </tr>
                        <tr>
                            <th>택배사</th>
                            <td>
                                <select>
                                    <option>로젠택배</option>
                                    <option>한신택배</option>
                                    <option>우체국택배</option>
                                    <option>몰라택배</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>운송장번호</th>
                            <td><input value="101200000"></td>
                        </tr>
                        <tr>
                            <th>기타</th>
                            <td><textarea readonly>ddddd</textarea></td>
                        </tr>
                    </table>
                    <div class="btns"><button>등록하기</button></div>
                </div>
                `
            }
            popup.style.display = "block";
            bg.style.display = "flex";
        } catch (error) {
            console.error(error);
            alert("데이터를 불러오는 데 실패했습니다.");
        }
    }

    function closeShopPopup() {
        popup.style.display = "none";
        bg.style.display = "none";
    }
</script>