<link rel="stylesheet" th:href="@{/css/admin/product/category.css}" />
<link rel="stylesheet" th:href="@{/css/basic.css}">
<link rel="stylesheet" th:href="@{/css/reset.css}">
<body>
<header th:replace="layout/admin/header.html"></header>
<main>
    <aside th:replace="layout/admin/aside.html"></aside>
    <div class="container">
        <div class="header">
            <span class="header-title">카테고리</span>
            <div class="header-right">
                <span>HOME</span>
                <span>></span>
                <span>상품관리</span>
                <span>></span>
                <span class="bold">카테고리</span>
            </div>
        </div>

        <div class="header-gubun"></div>

        <section class="main">
            <div class="main-title">카테고리 관리</div>
            <div class="main-description">쇼핑몰 메인, 상품 페이지 사이드 카테고리 메뉴 입니다.</div>
        </section>

        <section class="categoryProduct">
            <aside id="sidebar2">
                <div class="navi2">
                    <li onclick="open1('sub')">여성패션 <button class="delBtn parent">삭제</button></li>
                    <div class="subCate" id="sub">
                        <li onclick="open1('third')">브랜드의류 <button class="delBtn parent">삭제</button></li>
                        <div class="thdCate" id="third">
                            <div>- 브랜드의류 <button class="delBtn 1">삭제</button></div>
                            <div>- 브랜드가방 <button class="delBtn 1">삭제</button></div>
                            <div>- 브랜드신발 <button class="delBtn 1">삭제</button></div>
                            <button class="addThd" onclick="addThd('third')">
                                <div class="icon">+</div>
                                <div>카테고리 추가하기</div>
                            </button>
                        </div><!-- thd category -->
                        <button class="addSub">
                            <div class="icon">+</div>
                            <div>서브 카테고리 추가하기</div>
                        </button>
                    </div>
                    <button class="addMain">
                        <div class="icon">+</div>
                        <div>메인 카테고리 추가하기</div>
                    </button>
                </div>
            </aside>
        </section>
        <div class="advice-footer">
            카테고리 메뉴 순서는 변경할때 드래그 앤 드롭으로 1차, 2차 카테고리 메뉴 이동 후 수정하기를 클릭합니다.
        </div>
        <div class="btn">
            <button class="submit-btn" type="submit">수정하기</button>
        </div>
    </div>
</main>
<footer th:replace="layout/admin/footer.html"></footer>
<script type="text/javascript" src="/js/category.js"></script>
