<link rel="stylesheet" th:href="@{/css/admin/product/modify.css}" />
<link rel="stylesheet" th:href="@{/css/basic.css}">
<script th:src="@{/js/productRegister.js}"></script>
<script>
    function updateSelect4() {
        let option1Value = document.getElementsByClassName('cate1')[0];
        let option2Value = document.getElementsByClassName('cate2')[0];


        fetch("/admin/prod/cate1", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'  // 데이터를 JSON으로 전송하는 경우
            },
            body: JSON.stringify({id: option1Value.value})
        })
            .then(resp => resp.json())
            .then(data => {
                option2Value.innerHTML = '';
                if (data.length > 0) {
                    // 데이터가 있을 경우 옵션 추가
                    data.forEach(item => {
                        const prodcate_opt = document.createElement('option');
                        prodcate_opt.value = item.id;
                        prodcate_opt.innerText = item.name;
                        console.log(document.getElementById('Category2').value)
                        if (item.name === document.getElementById('Category2').value) {
                            prodcate_opt.selected = true;
                        }
                        option2Value.appendChild(prodcate_opt);
                        updateSelect5();
                    });
                } else {
                    // 데이터가 없을 경우 '선택사항 없음' 추가
                    const prodcate_opt = document.createElement('option');
                    prodcate_opt.innerText = "선택사항 없음";
                    option2Value.appendChild(prodcate_opt);
                }
            }).catch(err => {
            console.log(err);
        });
    }

    function updateSelect5() {
        let option2Value = document.getElementsByClassName('cate2')[0];
        let option3Value = document.getElementsByClassName('cate3')[0];

        fetch("/admin/prod/cate1", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'  // 데이터를 JSON으로 전송하는 경우
            },
            body: JSON.stringify({id: option2Value.value})
        })
            .then(resp => resp.json())
            .then(data => {
                console.log(data);
                option3Value.innerHTML = '';
                if (data.length > 0) {
                    // 데이터가 있을 경우 옵션 추가
                    data.forEach(item => {
                        const prodcate_opt = document.createElement('option');
                        prodcate_opt.value = item.id;
                        prodcate_opt.innerText = item.name;
                        console.log(document.getElementById('Category3').value)
                        if (item.name === document.getElementById('Category3').value) {
                            prodcate_opt.selected = true;
                        }
                        option3Value.appendChild(prodcate_opt);
                    });
                } else {
                    // 데이터가 없을 경우 '선택사항 없음' 추가
                    const prodcate_opt = document.createElement('option');
                    prodcate_opt.innerText = "선택사항 없음";
                    option3Value.appendChild(prodcate_opt);
                }
            }).catch(err => {
            console.log(err);
        });

        if (option3Value == null) {
            let option3Value = document.getElementsByClassName('cate3')[0];
            const prodcate_opt = document.createElement('option');
            prodcate_opt.innerText = "선택사항 없음";
            option3Value.appendChild(prodcate_opt);
        }
    }
    function deleteRow(button) {
        // button의 부모 tr 요소를 찾아서 삭제
        const row = button.closest('tr');
        if (row) {
            row.remove();
        }
    }
</script>
<body>
<header th:replace="layout/admin/header.html"></header>
<main style="margin: 0 auto; margin-bottom: 50px; margin-top: 50px;">
    <input type="hidden" id="productCateAll" th:value="${prodCate}"/>
    <aside th:replace="layout/admin/aside.html"></aside>
    <section class="container">
        <div class="header">
            <span class="header-title">상품수정</span>
            <div class="header-right">
                <span>HOME</span>
                <span>></span>
                <span>상품관리</span>
                <span>></span>
                <span class="bold">상품수정</span>
            </div>
        </div>

        <div class="header-gubun"></div>
        <form id="prodCategory">
            <div class="main">
                <div class="main-title">상품분류</div>
                <div class="main-description">1차 , 2차 카테고리 기본분류는 반드시 선택하셔야 합니다.</div>
                <table class="tb1">
                    <tr>
                        <th>1차 분류</th>
                        <td>
                            <select class="cate1" name="categoryId1" th:value="${productCategory.getLevel1Name()}"
                                    oninput="updateSelect4()">
                                <option value="">1차분류 선택</option>
                                <th:block th:each="category : ${prodCate}">
                                    <option th:if="${category.getCategoryLevel() == 1}"
                                            th:value="${category.getCategoryId()}"
                                            th:text="${category.getCategoryName()}"
                                            th:selected="${category.getCategoryName() == productCategory.getLevel1Name()}">
                                    </option>
                                </th:block>
                            </select>
                        </td>
                        <td>
                            <span>&nbsp;&nbsp; 현재 카테고리 : [[${productCategory.getLevel1Name()}]]</span>
                        </td>
                    </tr>
                    <tr>
                        <th>2차 분류</th>
                        <td>
                            <input type="hidden" id="Category2" th:value="${productCategory.getLevel2Name()}">
                            <select class="cate2" name="categoryId2" onchange="updateSelect5()">
                                <option value="">2차분류 선택</option>
                            </select>
                        </td>
                        <td>
                            <span>&nbsp;&nbsp; 현재 카테고리 : [[${productCategory.getLevel2Name()}]]</span>
                        </td>
                    </tr>
                    <tr>
                        <th>3차 분류</th>
                        <td>
                            <input type="hidden" id="Category3" th:value="${productCategory.getLevel3Name()}">
                            <select class="cate3" name="categoryId3">
                                <option value="">3차분류 선택</option>
                            </select>
                        </td>
                        <td>
                            <span>&nbsp;&nbsp; 현재 카테고리 : [[${productCategory.getLevel3Name()}]]</span>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <form id="productInfo" enctype="multipart/form-data">
            <div class="main2">
                <div class="main-title">기본정보</div>
                <div class="main-description">기본정보는 반드시 선택하셔야 합니다.</div>
                <table class="tb2">
                    <tr class="name">
                        <th>상품명</th>
                        <td><input type="text" name="prodName" th:value="${product.prodName}"></td>
                    </tr>
                    <tr class="summary">
                        <th>기본설명</th>
                        <td><input type="text" name="prodSummary" th:value="${product.prodSummary}"></td>
                    </tr>
                    <tr class="company">
                        <th>제조사</th>
                        <td><input type="text" name="manufacture" th:value="${prodDetail.manufacture}"></td>
                    </tr>
                    <tr class="price">
                        <th>상품금액</th>
                        <td><input type="text" id="productPrice" name="prodPrice"
                                   th:value="${#numbers.formatInteger(product.getProdPrice(), 1)}"> 원
                        </td>
                    </tr>
                    <tr class="discount">
                        <th>할인율</th>
                        <td><input type="text" name="prodDiscount" class="productDiscount"
                                   th:value="${#numbers.formatInteger(product.prodDiscount, 1)}"> %
                        </td>
                    </tr>
                    <tr class="point">
                        <th>포인트</th>
                        <td><input type="text" id="productPoint" name="prodPoint" th:value="${product.prodPoint}"> p
                        </td>
                    </tr>
                    <tr class="delivery">
                        <th>배송비</th>
                        <td><input type="text" name="prodDeliver" th:value="${product.getProdDeliver}"> 원</td>
                    </tr>
                    <input type="hidden" name="prodStock" id="prodStock">
                    <input type="hidden" th:value="${product.getId()}" name="id" id="prodId">
                    <tr class="images">
                        <th>상품이미지</th>
                        <td class="td-images">
                            <div class="img1">
                                <input type="file" name="listImage" id="prodListImg">
                                <span>크기 190 x 190, 상품 목록에 출력될 이미지입니다.</span>
                            </div>
                            <div class="img2">
                                <input type="file" name="basicImage" id="prodBasicImg">
                                <span>크기 230 x 230, 상품 메인에 출력될 이미지입니다.</span>
                            </div>
                            <div class="img3">
                                <input type="file" name="detailImage" id="prodDetailImg">
                                <span>크기 450 x 450, 상품 상세에 출력될 이미지입니다.</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="detail">
                        <th>상품 상세정보</th>
                        <td class="td-detail">
                            <div class="detail-img">
                                <input type="file" name="description" id="description">
                                <span>크기 가로 940px 세로 제약없음 , 크기 최대 1MB</span>
                            </div>
                        </td>
                    </tr>
                    <input type="hidden" name="sellId" th:value="${#authentication.principal.user.seller.id}">
                </table>
            </div>
        </form>
        <form>
            <div class="main3">
                <div class="main-title">옵션 수정</div>
                <div class="main-description">옵션이 없을경우 재고량만 입력하시면 됩니다.</div>
                <div class="options">
                    <table class="tb5" id="optionTable" border="1">
                        <tr class="tr_option" th:if="${#lists.size(options) == 1 and options.get(0).optionName == '옵션없음'}">
                            <th style="text-align: left">옵션</th>
                            <td class="optionTD" style="text-align: left">
                                <div class="option_inputs">
                                    <input type="text" id="optionStock" class="option_input option_input_stock"
                                           placeholder="재고량" th:value="${options.get(0).stock}">
                                </div>
                            </td>
                        </tr>
                        <th:block th:unless="${#lists.size(options) == 1 and options.get(0).optionName == '옵션없음'}">
                            <tr class="option0">
                                <th>옵션 조합</th>
                                <th>추가금액</th>
                                <th>수량</th>
                                <th>삭제</th>
                            </tr>
                        <tr class="option1" th:each="option : ${options}" >
                            <th:block th:if="${option.optionName3 == null && option.optionName2 != null}">
                                <td>
                                    [[${option.optionName}]]:[[${option.optionValue}]] / [[${option.optionName2}]]:[[${option.optionValue2}]]
                                </td>
                                <td>
                                    <input type="text" class="addPrice" th:value="${#numbers.formatInteger(option.additionalPrice, 1)}">
                                </td>
                                <td>
                                    <input type="text" class="optionStock" th:value="${option.stock}">
                                </td>
                                <td>
                                    <button type="button" class="deleteOptionBtn" onclick="deleteRow(this)">삭제</button>
                                </td>
                            </th:block>
                            <th:block th:if="${option.optionName2 == null && option.optionName3 == null}">
                                <td>
                                    [[${option.optionName}]]:[[${option.optionValue}]]
                                </td>
                                <td>
                                    <input type="text" class="addPrice" th:value="${#numbers.formatInteger(option.additionalPrice, 1)}">
                                </td>
                                <td>
                                    <input type="text" class="optionStock" th:value="${option.stock}">
                                </td>
                                <td>
                                    <button type="button" class="delete-button" onclick="deleteRow(this)">삭제</button>
                                </td>
                            </th:block>
                        </tr>
                        </th:block>
                    </table>
                </div>
                <button class="addoption" type="button" onclick="confirmOption(event)">옵션저장</button>
                <button type="button" class="addoption" id="mix" onclick="showMix()">단일 옵션</button>
                <button class="addoption" id="optionMix" type="button" onclick="showMixOption()" style="display: none">
                    옵션 조합 생성
                </button>
                <button class="addoption" id="optionMixPlus" type="button" onclick="addOptionRow()"
                        style="display: none;">옵션 추가
                </button>
            </div>

            <div class="main3" id="mixOption" style="display: none;">
                <div class="options-table">
                    <table class="tb5">
                        <thead>
                        <tr class="option0">
                            <th>옵션 조합</th>
                            <th>추가금액</th>
                            <th>수량</th>
                        </tr>
                        </thead>
                        <tbody id="optionMixed">
                        <!-- 옵션 조합이 여기에 추가됩니다 -->
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <form id="detail">
            <div class="main3">
                <div class="main-title">상품정보 제공고시</div>
                <div class="main-description">[전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거하여 반드시 등록해야 합니다.</div>

                <table class="tb3">
                    <tr class="state">
                        <th>상품상태</th>
                        <td><input type="text" name="stat" th:value="${prodDetail.stat}"></td>
                    </tr>
                    <tr class="taxation">
                        <th>부가세 면세여부</th>
                        <td><select name="tax"
                                    th:selected="${prodDetail.tax == true}">
                            <option value="true">
                                과세상품
                            </option>
                            <option value="false"
                                    th:selected="${prodDetail.tax == false}">
                                비과세상품
                            </option>
                        </select></td>
                    </tr>
                    <tr class="recipt">
                        <th>영수증 발행</th>
                        <td><input class="recipt-inp" type="text" value="발행가능 - 신용카드전표 , 온라인현금영수증"></td>
                    </tr>
                    <tr class="business">
                        <th>사업자 구분</th>
                        <td><input class="business-inp" type="text" value="사업자판매자"></td>
                    </tr>
                    <tr class="origin">
                        <th>원산지</th>
                        <td><input type="text" name="origin" th:value="${prodDetail.origin}"></td>
                    </tr>
                    <tr class="manufacture">
                        <th>제조자/수입국</th>
                        <td><input type="text" name="manufacture" th:value="${prodDetail.manufacture}"></td>
                    </tr>
                    <tr class="made-in">
                        <th>제조국</th>
                        <td><input type="text" name="madein" th:value="${prodDetail.madein}"></td>
                    </tr>
                    <tr class="mdate">
                        <th>제조연월</th>
                        <td><input type="date" name="mDate1" style="text-indent: 0px;"
                                   th:value="${#dates.format(prodDetail.mdate, 'yyyy-MM-dd')}"></td>
                    </tr>
                    <tr class="caution">
                        <th>취급시 주의사항</th>
                        <td><input type="text" name="caution" th:value="${prodDetail.caution}"></td>
                    </tr>
                    <tr class="warranty">
                        <th>품질보증기간</th>
                        <td><input type="text" name="warranty" th:value="${prodDetail.warranty}"></td>
                    </tr>
                    <tr class="deliAble">
                        <th>해외배송여부</th>
                        <td><select name="deliable">
                            <option value="true"
                                    th:selected="${prodDetail.deliable == true}">
                                해외 배송 가능
                            </option>
                            <option value="false"
                                    th:selected="${prodDetail.deliable == false}">
                                해외 배송 불가능
                            </option>
                        </select></td>
                    </tr>
                    <tr class="card">
                        <th>할부 가능 여부</th>
                        <td><select name="installmentable">
                            <option value="true"
                                    th:selected="${prodDetail.installmentable == true}">
                                할부 가능
                            </option>
                            <option value="false"
                                    th:selected="${prodDetail.installmentable == false}">
                                할부 불가능
                            </option>
                        </select></td>
                    </tr>
                    <tr class="cardEvent">
                        <th>카드 혜택</th>
                        <td><input type="text" name="cardEvent" th:value="${prodDetail.cardEvent}"></td>
                    </tr>
                </table>
            </div>
            <input type="hidden" name="id" th:value="${prodDetail.getId()}" id="prodDetailId">
        </form>
        <div class="advice-footer">
            전자상거래등에서의 상품등의 정보제공에 관한 고시에따라 총 35개 상품군에대해 상품특성들을 양식에따라 입력할 수 있습니다.
        </div>
        <div class="btn">
            <button class="submit-btn">등록하기</button>
        </div>
    </section>
</main>


<script>

</script>
<footer th:replace="layout/admin/footer.html"></footer>
