<nav class="info">
  <h2 class="tit">나의쇼핑정보</h2>
  <table>
    <tr>
      <td>주문</td>
      <td>쿠폰</td>
      <td>포인트</td>
      <td>문의</td>
    </tr>
    <tr>
      <td>2</td>
      <td>1</td>
      <td>1,800</td>
      <td>1</td>
    </tr>
  </table>
</nav>
<aside>
  <ul class="aside_cate">
    <li><a th:href="@{/my/order}">전체주문내역</a></li>
    <li><a th:href="@{/my/point}">포인트내역</a></li>
    <li><a th:href="@{/my/coupon}">쿠폰</a></li>
    <li><a th:href="@{/my/review}">나의리뷰</a></li>
    <li><a th:href="@{/my/qna}">문의하기</a></li>
    <li><a th:href="@{/my/info}">나의설정</a></li>
  </ul>
</aside>