
.cs_index{ width: 790px; margin: 0 auto; border-top: 1px solid #808080;}


/* 롯데온이 도와드릴게요! */
.cs_index_title{ height: 100px; text-align: center; line-height: 100px;}
.cs_index_title .cs_main_title , .cs_main_title>.cs_main_lotte{ font-size: 23px; font-weight: 900;}
.cs_index_title .cs_main_lotte{ color:#00B050;}


/* sub title */
.sub_title{ font-size: 20px; font-weight: 900; margin-top: 4px; width: 100%;}
.sub_title .viewAll{ float: right; font-size: 12px; line-height: 30px; font-weight: 700;}


/* notice */
.cs_index_notice{ height: 260px;}
.cs_index_notice>.notice_box{ margin-top: 25px; margin-left: 20px;}
.cs_index_notice .notice{ height: 30px;}
.cs_index_notice .notice>a{ display: flex;}
.cs_index_notice .cate{width: 60px; }
.cs_index_notice .notice_box .content{width: 180px; }


/* fnq */
.cs_index_fnq{ height: 280px; display: flex; flex-direction: column; align-items: center;}
.cs_index_fnq .fnq_ul{ width: 700px; margin-top: 40px; display: flex; justify-content: space-between;}
.cs_index_fnq .fnq_li>a{ display: grid; place-items: center; padding: 5px;}
.cs_index_fnq>.fnq_ul>.fnq_li .fnq_img{ width: 85px; height: 85px;}
.cs_index_fnq .fnq_content{ margin-top: 10px; text-align: center; font-size: 14px;}

/* qna */
.cs_index_qna{ height: 290px;}
.cs_index_qna .qna_ul{ width: 100%; margin-top: 20px;}
.cs_index_qna .qna{ height: 30px; line-height: 30px;}
.cs_index_qna .qna>a{  display: flex; }

.cs_index_qna .cate{width: 130px; }
.cs_index_qna .content{ width: 350px; }
.cs_index_qna .qna_sub_info{float: right; }
.cs_index_qna .nick{display: inline-block; width: 60px; text-align: center; margin-left: auto; }
.cs_index_qna .date{ margin-left: auto;}
.cs_index_qna .qna_link{font-weight: 900; font-size: 16px; color: #0070C0; display: inline-block; margin-top: 30px;}


/* info */
.cs_index_info{ height: 300px;}
.cs_index_info .infos{ margin-top: 20px; display: flex; justify-content: space-around;}
.cs_index_info .info{ height: 200px; border: 1px solid #D9D9D9; width: 300px; padding: 10px 20px;}
.cs_index_info .info_cate{ margin-top: 15px; font-size: 13px;}
.cs_index_info .info_title{ font-size: 18px; font-weight: 900; margin: 0;}
.cs_index_info .info_number{ display: inline-block; font-size: 23px; font-weight: 900;}
.cs_index_info .info_time{ margin-left: 5px;}
.cs_index_info .info_guide{ display: inline-block; margin-top: 20px; font-size: 20px; font-weight: 900;}