<link rel="stylesheet" th:href="@{/css/admin/config/basic.css}">
<link rel="stylesheet" th:href="@{/css/basic.css}">
<body>
    <header th:replace="layout/admin/header.html"></header>
    <main>
        <aside th:replace="layout/admin/aside.html"></aside>
        <div class="container">
            <div class="header">
                <span class="header-title">기본설정</span>
                <div class="header-right">
                    <span>HOME</span>
                    <span>></span>
                    <span>환경설정</span>
                    <span>></span>
                    <span class="bold">기본설정</span>
                </div>
            </div>
            <div class="header-gubun"></div>

            <section class="s2">
                <article class="header-title1">버전 정보</article>
                <article class="dis1">
                    현재 사이트 버전입니다.
                </article>
                <table class="tb1">
                    <tr>
                        <th>사이트 버전</th>
                        <td>1.0.1-RELEASE</td>
                    </tr>
                </table>
            </section>
            <section class="s2">
                <article class="header-title1">사이트</article>
                <article class="dis1">
                    브라우저 탭 , 헤더 및 푸터 노출정보입니다.
                </article>
                <table class="tb2">
                    <tr>
                        <th>제목</th>
                        <td>
                            <input class="inp" type="text" value="롯데 ON " id="configTitle">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            부제
                        </th>
                        <td>
                            <input class="inp" type="text" value="더 나은 쇼핑을 위한 선택" id="configSub">
                        </td>
                    </tr>
                </table>
                <article class="btn">
                    <input type="hidden" id="configId" value="1">
                    <input type="hidden" id="updater" th:value="${#authentication.principal.user.memUid}">
                    <button onclick="patch('siteInfo')">수정하기</button>
                </article>
            </section>
            <section class="s2">
                <article class="header-title2">로고</article>
                <article class="dis1">
                    브라우저 탭 , 헤더 및 푸터 노출 로고입니다.
                </article>
                <table class="tb3">
                    <tr>
                        <th>헤더 로고</th>
                        <td>
                            <input class="inp" type="file" onchange="readURL(this,'header');" id="configHeaderLogo">
                            <span>크기 370 x 76 권장 </span><img id="headerpreview" style="max-width: 400px; display: none"/>
                            <button type="button" id="headerDeleteBtn" style="display: none;" onclick="resetUpload('header')">삭제</button>
                        </td>
                    </tr>
                    <tr>
                        <th>푸터 로고</th>
                        <td>
                            <input class="inp" type="file" onchange="readURL(this,'footer');" id="configFooterLogo">
                            <span>크기 155 x 36 권장</span><img id="footerpreview" style="max-width: 200px; display: none">
                            <button type="button" id="footerDeleteBtn" style="display: none;" onclick="resetUpload('footer')">삭제</button>
                        </td>
                    </tr>
                    <tr>
                        <th>파비콘</th>
                        <td>
                            <input class="inp" type="file" onchange="readURL(this,'favicon');" id="configFabicon">
                            <span>크기 32 x 32 권장</span><img id="faviconpreview" style="max-width: 50px; max-height: 50px; display: none"/>
                            <button type="button" id="faviconDeleteBtn" style="display: none;" onclick="resetUpload('favicon')">삭제</button>
                        </td>
                    </tr>
                </table>
                <article class="btn">
                    <button id="view-versions" onclick="toggleMenu()">수정 내역 보기</button>
                    <div id="dropdown-menu" class="dropdown-hidden">
                        <ul>
                            <li>10.20 13:32:04 저장됨</li>
                            <li>10.20 06:01:58 저장됨</li>
                            <li>10.19 23:43:19 저장됨</li>
                            <li>10.15 16:21:41 저장됨</li>
                        </ul>
                    </div>
                    <button onclick="patch('siteLogo')">수정하기</button>
                </article>
            </section>
            <section class="s2">
                <article class="header-title2">기업 정보</article>
                <article class="dis1">
                    푸터에 노출되는 기업정보 입니다.
                </article>
                <table class="tb2">
                    <tr>
                        <th>상호명</th>
                        <td><input class="inp" type="text" value="롯데쇼핑주식회사"></td>
                    </tr>
                    <tr>
                        <th>대표이사</th>
                        <td><input class="inp" type="text" value="이상훈"></td>
                    </tr>
                    <tr>
                        <th>사업자등록번호</th>
                        <td><input class="inp" type="text" value="123-12-12345"></td>
                    </tr>
                    <tr>
                        <th>통신판매업신고</th>
                        <td><input class="inp" type="text" value="2021-양산-1234"></td>
                    </tr>
                    <tr>
                        <th>기본주소</th>
                        <td><input class="inp" type="text" value="서울특별시 강남구 테헤란로 507"></td>
                    </tr>
                    <tr>
                        <th>상세주소</th>
                        <td><input class="inp" type="text" value="1002호"></td>
                    </tr>
                </table>
                <article class="btn">
                    <button onclick="patch('fLotte')">수정하기</button>
                </article>
            </section>
            <section class="s2">
                <article class="header-title2">고객센터 정보</article>
                <article class="dis1">
                    푸터에 노출되는 고객센터 정보 입니다.
                </article>
                <table class="tb2">
                    <tr>
                        <th>전화번호</th>
                        <td><input class="inp" type="text" value="010-5555-4444"></td>
                    </tr>
                    <tr>
                        <th>업무시간</th>
                        <td>
                            <input class="inp" type="time" id="start" name="start_time" value="08:00">
                            ~
                            <input class="inp" type="time" id="end" name="end_time" value="18:00">
                        </td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td><input class="inp" type="text" value="lotteon@lotteon.net"></td>
                    </tr>
                    <tr>
                        <th>전자금융거래 분쟁담당</th>
                        <td><input class="inp" type="text" value="1234-1234"></td>
                    </tr>
                </table>
                <article class="btn">
                    <button onclick="patch('fCs')">수정하기</button>
                </article>
            </section>
            <section class="s2">
                <article class="header-title2">카피라이트</article>
                <article class="dis1">
                    푸터에 노출되는 카피라이트 정보 입니다.
                </article>
                <table class="tb1">
                    <tr>
                        <th>카피라이트</th>
                        <td>
                            <input type="text" class="inp" value="CopyrightLotteOn. All rights reserved">
                        </td>
                    </tr>
                </table>
                <article class="btn">
                    <button onclick="patch('copy')">수정하기</button>
                </article>
            </section>
        </div>
    </main>
    <footer th:replace="layout/admin/footer.html"></footer>
</body>
<script>

    // 특정 요소들을 가져오는 공통 함수
    function getElements(type) {
        let elements = {};
        if (type === "header") {
            elements.input = document.getElementById('headerInput');
            elements.preview = document.getElementById('headerpreview');
            elements.deleteBtn = document.getElementById('headerDeleteBtn');
        } else if (type === "footer") {
            elements.input = document.getElementById('footerInput');
            elements.preview = document.getElementById('footerpreview');
            elements.deleteBtn = document.getElementById('footerDeleteBtn');
        } else if (type === "favicon") {
            elements.input = document.getElementById('faviconInput');
            elements.preview = document.getElementById('faviconpreview');
            elements.deleteBtn = document.getElementById('faviconDeleteBtn');
        }
        return elements;
    }

    function resetUpload(type) {
        const { input, preview, deleteBtn } = getElements(type);
        if (!input || !preview || !deleteBtn) return;

        input.value = "";
        preview.src = "";
        preview.style.display = 'none';
        deleteBtn.style.display = 'none';
    }

    function readURL(input, type) {
        const { preview, deleteBtn } = getElements(type);
        if (!preview || !deleteBtn) return;

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = 'inline-block';
                deleteBtn.style.display = 'inline-block';  // 이미지가 보일 때 삭제 버튼 표시
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            resetUpload(type);
        }
    }

    function toggleMenu() {
        const dropdownMenu = document.getElementById('dropdown-menu');
        const isHidden = dropdownMenu.classList.contains('dropdown-hidden');

        // 메뉴를 토글
        if (isHidden) {
            dropdownMenu.classList.remove('dropdown-hidden');
            dropdownMenu.classList.add('dropdown-visible');
        } else {
            dropdownMenu.classList.remove('dropdown-visible');
            dropdownMenu.classList.add('dropdown-hidden');
        }
    }

    // 클릭 외 다른 영역을 누르면 메뉴를 닫음
    document.addEventListener('click', function(event) {
        const dropdownMenu = document.getElementById('dropdown-menu');
        const button = document.getElementById('view-versions');

        if (!dropdownMenu.contains(event.target) && !button.contains(event.target)) {
            dropdownMenu.classList.remove('dropdown-visible');
            dropdownMenu.classList.add('dropdown-hidden');
        }
    });
    function patchConfig(formData){
        fetch(`/admin/config/basic/site`, {
            method: 'PATCH',
            body: formData
        })
            .then(resp => {
                console.log(resp);
                if (!resp.ok) {
                    return resp.json().then(err => {

                        console.error('Server responded with an error:', err); // 추가된 로그
                        // 오류 응답을 자세히 로그에 남김
                        throw new Error(`Error ${resp.status}: ${err.message || JSON.stringify(err)}`);
                    });
                }
                return resp.json();
            })
            .then(data => {
                console.log('Response Data:', data);
                if(data.id>0){
                    alert('성공적으로 수정되었습니다.')
                    document.getElementById('configId').value = data.id;
                }
            })
            .catch(err => {
                console.error('Error : '.err);
                alert('오류가 발생했습니다. 다시 시도해주세요.');
            })
    }
    function patch(type){
        if(!confirm("정말 변경하시겠습니까?")){return;}

        const updater = document.getElementById('updater').value;
        const formData = new FormData();
        if(type==="siteInfo"){
            const configTitle = document.getElementById('configTitle').value;
            const configSub = document.getElementById('configSub').value;
            let jsonData = {
                "updater" : updater,
                "type" : 2,
                "strColumn1" : configTitle,
                "strColumn2" : configSub
            };
            formData.append('patch',JSON.stringify(jsonData));
            console.log('Form Data:', ...formData.entries()); // 폼 데이터 출력

            patchConfig(type,formData);
        }
        else if(type==="siteLogo"){
            const configId = document.getElementById('configId').value;

            let jsonData = {
                "id" : +configId,
                "type" : 3,
                "strColumn1" : null,
                "strColumn2" : null,
                "filesColumn" : null,
                "updater" : updater
            };
            // 파일 선택 요소들 가져오기
            const headerFile = document.getElementById('configHeaderLogo').files[0];
            const footerFile = document.getElementById('configFooterLogo').files[0];
            const faviconFile = document.getElementById('configFabicon').files[0];
            formData.append('file1', headerFile);
            formData.append('file2', footerFile);
            formData.append('file3', faviconFile);
            formData.append('patch', JSON.stringify(jsonData));
            console.log('Form Data:', ...formData.entries()); // 폼 데이터 출력

            patchConfig(type,formData);
        }
        else if(type==="fLotte"){}
        else if(type==="fCs"){}
        else if(type==="copy"){}
    }

</script>
</html>