<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/admin/config/term.css}">
    <link rel="stylesheet" th:href="@{/css/basic.css}">
</head>
<body>
    <header th:replace="layout/admin/header.html"></header>
    <main>
        <aside th:replace="layout/admin/aside.html"></aside>
        <div class="container">
            <div class="header">
                <span class="header-title">약관관리</span>
                <div class="header-right">
                    <span>HOME</span>
                    <span>></span>
                    <span>환경설정</span>
                    <span>></span>
                    <span class="bold">약관관리</span>
                </div>
            </div>
            <div class="header-gubun"></div>

            <section>
                <article class="header-title2">구매회원 약관</article>
                <article class="dis1">
                    회원가입 및 정책 페이지 노출 약관 입니다.
                </article>
                <table class="tb1">
                    <tr>
                        <th>약관내용</th>
                        <td>
                            <div class="ta1">
                                <h5>제 1조 (목적)</h5>
                                <p>
                                    이 약관은 주식회사 케이마켓(이하 회사라함)가 운영하는 롯데 ON 인터넷 오픈마켓 사이트 (http://localhost:8080~~~) (이하
                                    롯데ON이라함) 와 스마트폰등 이동통신기기를 제공하는 롯데 ON 모바일 애플리케이션 (이하 모바일롯데ON이라함)을 통해서
                                    제공하는 전자상거래 관련 서비스 및 기타서비스 (이하 서비스라함)를 이용하는자간의 권리, 의무를 확정하고 이를 이행함으로써
                                    상호 발전을 도모하는 것을 그 목적으로한다.
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
                <article class="btn">
                    <button>수정하기</button>
                </article>
            </section>
            <section>
                <article class="header-title2">판매회원 약관</article>
                <article class="dis1">
                    회원가입 및 정책 페이지 노출 약관 입니다.
                </article>
                <table class="tb1">
                    <tr>
                        <th>약관내용</th>
                        <td>
                            <div class="ta1">
                                <h5>제 1조 (목적)</h5>
                                <p>
                                    이 약관은 주식회사 케이마켓(이하 회사라함)가 운영하는 롯데 ON 인터넷 오픈마켓 사이트 (http://localhost:8080~~~) (이하
                                    롯데ON이라함) 와 스마트폰등 이동통신기기를 제공하는 롯데 ON 모바일 애플리케이션 (이하 모바일롯데ON이라함)을 통해서
                                    제공하는 전자상거래 관련 서비스 및 기타서비스 (이하 서비스라함)를 이용하는자간의 권리, 의무를 확정하고 이를 이행함으로써
                                    상호 발전을 도모하는 것을 그 목적으로한다.
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
                <article class="btn">
                    <button>수정하기</button>
                </article>
            </section>
            <section>
                <article class="header-title2">전자금융거래 약관</article>
                <article class="dis1">
                    회원가입 및 정책 페이지 노출 약관 입니다.
                </article>
                <table class="tb1">
                    <tr>
                        <th>약관내용</th>
                        <td>
                            <div class="ta1">
                                <h5>제 1조 (목적)</h5>
                                <p>
                                    이 약관은 주식회사 케이마켓(이하 회사라함)가 운영하는 롯데 ON 인터넷 오픈마켓 사이트 (http://localhost:8080~~~) (이하
                                    롯데ON이라함) 와 스마트폰등 이동통신기기를 제공하는 롯데 ON 모바일 애플리케이션 (이하 모바일롯데ON이라함)을 통해서
                                    제공하는 전자상거래 관련 서비스 및 기타서비스 (이하 서비스라함)를 이용하는자간의 권리, 의무를 확정하고 이를 이행함으로써
                                    상호 발전을 도모하는 것을 그 목적으로한다.
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
                <article class="btn">
                    <button>수정하기</button>
                </article>
            </section>
            <section>
                <article class="header-title2">위치정보이용 약관</article>
                <article class="dis1">
                    회원가입 및 정책 페이지 노출 약관 입니다.
                </article>
                <table class="tb1">
                    <tr>
                        <th>약관내용</th>
                        <td>
                            <div class="ta1">
                                <h5>제 1조 (목적)</h5>
                                <p>
                                    이 약관은 주식회사 케이마켓(이하 회사라함)가 운영하는 롯데 ON 인터넷 오픈마켓 사이트 (http://localhost:8080~~~) (이하
                                    롯데ON이라함) 와 스마트폰등 이동통신기기를 제공하는 롯데 ON 모바일 애플리케이션 (이하 모바일롯데ON이라함)을 통해서
                                    제공하는 전자상거래 관련 서비스 및 기타서비스 (이하 서비스라함)를 이용하는자간의 권리, 의무를 확정하고 이를 이행함으로써
                                    상호 발전을 도모하는 것을 그 목적으로한다.
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
                <article class="btn">
                    <button>수정하기</button>
                </article>
            </section>
            <section>
                <article class="header-title2">개인정보처리방침</article>
                <article class="dis1">
                    회원가입 및 정책 페이지 노출 약관 입니다.
                </article>
                <table class="tb1">
                    <tr>
                        <th>약관내용</th>
                        <td>
                            <div class="ta1">
                                <h5>제 1조 (목적)</h5>
                                <p>
                                    이 약관은 주식회사 케이마켓(이하 회사라함)가 운영하는 롯데 ON 인터넷 오픈마켓 사이트 (http://localhost:8080~~~) (이하
                                    롯데ON이라함) 와 스마트폰등 이동통신기기를 제공하는 롯데 ON 모바일 애플리케이션 (이하 모바일롯데ON이라함)을 통해서
                                    제공하는 전자상거래 관련 서비스 및 기타서비스 (이하 서비스라함)를 이용하는자간의 권리, 의무를 확정하고 이를 이행함으로써
                                    상호 발전을 도모하는 것을 그 목적으로한다.
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
                <article class="btn">
                    <button>수정하기</button>
                </article>
            </section>
        </div>
    </main>
    <footer th:replace="layout/admin/footer.html"></footer>
</body>
</html>