
    <link rel="stylesheet" as="style" crossorigin th:href="@{https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css}" /> <!-- 가변 다이나믹 서브셋 (fontfamily : pretendard) -->
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
    
    <footer id="footer">
        <div id="footerIn">
            
            <div class="fmenu">
                <ul>
                    <li><a th:href="@{/company/index}" class="intro">회사소개</a></li>
                    <li><a href="#">서비스 이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li class="last"><a href="#">전자금융거래약관</a></li><!--.last-->
                </ul>
            </div><!--.fmenu-->

            <div class="fLeft cf">
                <div class="flogo cf"><a href="#">
                    <img th:src="@{/images/logo_lotte-on@2x(wh).png}" alt="LotteON logo">
                </a></div><!--.flogo-->

                <div class="finfo cf">
                    <h4 class="fTit">(주)롯데 ON</h4>
                    <p>
                        <span>서울특별시 송파구 올림픽로 300</span>
                        <span>&nbsp;롯데월드타워 26층</span>
                    </p>
                        <span>대표이사 : 홍길동</span>
                        <span>&nbsp;사업자등록번호 : 123-45-123445</span>
                    </p>
                    <p th:text="2조- + ${appName} + ${appVersion}" class="copy">Copyright ⓒ 2024 Team2 All Rights Reserved.</p><!--.copy-->
                </div><!--.finfo-->
            </div><!-- .fLeft -->
            
            <div class="fRight cf">
                <div class="fcs">
                    <div class="csCenter">
                        <h4 class="fTit">고객센터</h4>
                        <p><span>1234-5678</span>&#40; Tel &#41;</p>
                        <p>전자금융거래 분쟁 담당  </p>
                        <p> : 1234-1234 (365일) (09:00~18:00) </p>
                    </div><!--.csCenter-->
                    <div class="fsns">
                        <ul>
                            <li><a href="#">페이스북</a></li>
                            <li><a href="#">인스타그램</a></li>
                            <li><a href="#">유튜브</a></li>
                        </ul>
                    </div><!--.fsns-->
                </div><!--.fcs-->
            </div><!-- .fRight -->

            

        </div><!--.footerIn-->
    </footer><!--#footer-->
</body>
</html>