<link rel="stylesheet" th:href="@{/css/admin/cs/notice/list.css}" />
<link rel="stylesheet" th:href="@{/css/basic.css}">
<body>
<header th:replace="layout/admin/header.html"></header>
<main>
  <aside th:replace="layout/admin/aside.html"></aside>
  <section id="admin-product-list" class="container">
    <div id="search_input">
      <nav class="notice-nav">
        <h3>공지사항 목록</h3>
        <p>HOME > 고객센터 > <strong>공지사항</strong></p>
      </nav>
      <form class="search">
        <!-- 공지사항 유형 선택 -->
        <select name="type" class="select_type">
          <option value="typeselect">유형선택</option>
          <option value="customer_service">고객서비스</option>
          <option value="safe_transaction">안전거래</option>
          <option value="hazardous_product">위해상품</option>
          <option value="event_winner">이벤트 당첨</option>
        </select>
      </form>
    </div>

    <article>
      <table style="width: 100%">
        <thead>
        <tr>
          <th style="width: 5%"><input type="checkbox" id="selectAll" /></th>
          <th style="width: 5%">번호</th>
          <th>유형</th>
          <th>제목</th>
          <th>조회</th>
          <th>날짜</th>
          <th>관리</th>
        </tr>
        </thead>
        <tbody>
        <!-- 공지사항 리스트 출력 -->
        <tr th:each="notice, iterStat : ${notices}">
          <td><input type="checkbox" /></td>
          <td th:text="${iterStat.index + 1}"></td> <!-- 번호 -->
          <td th:text="${notice.cate1.categoryName}"></td> <!-- 카테고리 1 -->
          <td style="text-align: left" th:text="${notice.noticeTitle}"></td> <!-- 제목 -->
          <td th:text="${notice.noticeViews}"></td> <!-- 조회수 -->
          <td th:text="${#dates.format(notice.noticeRdate, 'yyyy-MM-dd')}"></td> <!-- 날짜 -->
          <td>
            <div>
              <a th:href="@{'/admin/cs/notice/delete/' + ${notice.id}}" class="button--delete">[삭제]</a>
            </div>
            <div>
              <a th:href="@{'/admin/cs/notice/modify/' + ${notice.id}}" class="button--edit">[수정]</a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </article>

    <div class="button-group">
      <button class="button--delete">선택삭제</button>
      <a th:href="@{/admin/cs/notice/write}" class="button--write">작성하기</a>
    </div>

    <!-- 페이지 네비게이션 -->
    <div class="paging">
      <a href="#" class="prev">이전</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#" class="next">다음</a>
    </div>
  </section>
</main>
<footer th:replace="layout/admin/footer.html"></footer>
