<link rel="stylesheet" th:href="@{/css/admin/cs/notice/view.css}" />
<link rel="stylesheet" th:href="@{/css/basic.css}">
<body>
<header th:replace="layout/admin/header.html"></header>
<main>
  <aside th:replace="layout/admin/aside.html"></aside>
  <section id="admin-product-list" class="container">
    <script>
      function deleteNotice(event) {
        const chk = confirm("정말 삭제하시겠습니까?");
        if (!chk) {
          event.preventDefault();
        }
      }
      function goBack() {
        window.history.back();
      }
    </script>
    <nav class="notice-nav">
      <h3 class="viewTit">공지사항 보기</h3>
      <p>
        HOME > 고객센터 > <strong>공지사항</strong>
      </p>
    </nav>
    <!-- 공지사항 컨텐츠 시작 -->
    <article class="sectionBox">
      <table>
        <tbody>
        <input type="hidden" name="noticeHit" value="1" />
        <tr style="height: 60px;">
          <th>유형</th>
          <td class="notice-type">고객서비스</td>
        </tr>
        <tr style="height: 60px;">
          <th>제목</th>
          <td class="notice-title">[안내] 해외결제 사칭 문자 주의</td>
        </tr>
        <tr style="height: 200px;">
          <th>내용</th>
          <td class="notice-content">안녕하세요. 롯데 ON입니다.</td>
        </tr>
        </tbody>
      </table>
      <div class="button-group">
        <button class="button--delete" onclick="deleteNotice(event);"
                href="/admin/cs/notice/delete?noticeNo=1">삭제</button>
        <button class="button--modify" href="/admin/cs/notice/modify?noticeNo=1">수정</button>
        <button class="button--back" href="#" onclick="goBack();">목록</button>
      </div>
    </article>
  </section>
</main>
<footer th:replace="layout/admin/footer.html"></footer>
