<title>공지사항 목록</title>
<link rel="stylesheet" th:href="@{/css/cs/cs_notice.css}" />
<link rel="stylesheet" th:href="@{/css/basic.css}" />
<link rel="stylesheet" th:href="@{/css/cs/cs_common.css}" />

<header th:replace="layout/main/header.html"></header>

<main style="margin: 0 auto; margin-bottom: 50px; margin-top: 230px;">
    <aside class="cs_aside">
        <h3 class="aside_title">공지사항</h3>
        <ul class="aside_cate">
            <li class="cate_list"><a th:href="@{/cs/notices(category='')}">전체</a></li>
            <li class="cate_list"><a th:href="@{/cs/notices(category='고객서비스')}">고객서비스</a></li>
            <li class="cate_list"><a th:href="@{/cs/notices(category='안전거래')}">안전거래</a></li>
            <li class="cate_list"><a th:href="@{/cs/notices(category='위해상품')}">위해상품</a></li>
            <li class="cate_list"><a th:href="@{/cs/notices(category='이벤트당첨')}">이벤트당첨</a></li>
        </ul>
    </aside>

    <div id="main" style="height: auto;">
        <!-- 네비게이션과 상단 정보 영역 -->
        <div class="top-info">
            <div class="cate_bar">
                <h3 class="cate_title" th:text="${selectedCate1 != null && !selectedCate1.isEmpty() ? selectedCate1 : '전체'}">전체</h3>
                <p class="cate_des" th:text="${selectedCate1 != null && !selectedCate1.isEmpty() ? selectedCate1 + ' 관련 공지사항입니다.' : '공지사항 전체 내용입니다.'}">
                    공지사항 전체 내용입니다.
                </p>
            </div>
            <nav class="cs_nav">
                <p class="cs_nav_tit"><span>홈</span> > <span>공지사항</span></p>
            </nav>
        </div>

        <!-- 공지사항 리스트 -->
        <ul class="notice_box">
            <li th:each="notice : ${notices.content}" class="notice">
                <a th:href="@{|/cs/notice/view/${notice.id}|}">
                    <p class="n_cate highlight" th:text="${notice.category2Name}">공지 카테고리</p>
                    <p class="n_content" th:text="${notice.noticeTitle}">공지사항 제목</p>
                    <span class="n_date" th:text="${#dates.format(notice.noticeRdate, 'yy.MM.dd')}">등록일</span>
                </a>
            </li>
        </ul>

        <!-- 페이징 -->
        <div class="paging">
            <a th:href="@{/cs/notices(page=${notices.number - 1})}" th:if="${notices.hasPrevious()}" class="ico btn_prev">이전</a>
            <span th:each="i : ${#numbers.sequence(0, notices.totalPages - 1)}">
                <a th:href="@{/cs/notices(page=${i})}" th:text="${i + 1}" th:classappend="${notices.number == i} ? 'active' : ''"></a>
            </span>
            <a th:href="@{/cs/notices(page=${notices.number + 1})}" th:if="${notices.hasNext()}" class="ico btn_next">다음</a>
        </div>

        <!-- 목록 버튼 -->
        <div style="text-align: center; padding-top: 40px;">
            <a th:href="@{/cs/notices}" class="btn_gray btn_list">목록</a>
        </div>
    </div>
</main>

<footer th:replace="layout/main/footer.html"></footer>
