@charset "UTF-8";

*{margin: 0; padding:0; font-family: "Inter", sans-serif; font-size: 12px; font-weight: 400;}
html{color:#111; position:relative;}
html, body{height:100%; }
body{font-size:12px; line-height:18px; font-family: 'Noto Sans KR', sans-serif;}
a, address, blockquote, br, fieldset, legend, label, form, input, select, textarea, button, cite, code, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, div, iframe, ul, ol, li, hr, img {margin: 0; padding: 0; outline:none;}
a{color:#111; text-decoration: none;}
img{border:none; vertical-align: top;}
ul, ol{list-style:none;}
address{font-style: normal;}
/* clearfix */
.cf{}
.cf::after {content: ""; display: block; clear: both;}

/* hyper link */
a, a:link, a:visited, a:active, a:hover{text-decoration: none; color: inherit;}

/* input outline */
input:active{outline: none;}
input:focus{outline: none;}

#wrap{
    display: flex;
    justify-content: center;
    gap: 6px;
}

/* 메인 */
.container {
    width: 800px;
    margin: 0 auto;
}
/* navi 부분 */
#navi {
    width: 786px;
    height: auto;
    display: flex;
    justify-content: space-between; /* 두 요소를 양 끝에 배치 */
    align-items: center;
    border-bottom: 1.5px solid #000000;
    margin: 0 auto;;
}

.sub_tit {
   font-size: 20px;
   font-weight: 700;
   margin-left: 3px;
   margin-bottom: 8px; 
   margin-top: 5px;
}

/* 로케이션 */
.location > span::after{content: ' \003E'; }
.location > span:last-of-type{font-weight: 700;}
.location > span:last-of-type:after{content:none;}

/* 검색 부분 */
.search{
    margin-top: 20px;
    height: 32.5px;
    display: flex;
    gap: 5px;
}

.search-option {
    width: 70px;
    text-align: center;
    border: 1px solid #c7c7c7;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
}

.search-keyword {
    border: 1px solid #c7c7c7;
    outline: none;
    width: 150px;
    border-radius: 5px;
}

.search-keyword::placeholder {
    padding-left: 8px;
}

.search-btn {
    background-color: #303644;
    color: white;
    width: 62px;
    cursor: pointer;
    border-radius: 5px;

    &:hover{
        opacity: 0.8;
    }
}

.header-gubun-bottom {
    text-align: right;
    width: 800px;
    height: auto;
    background-image: url(/images/login-gubun-bottom.png);
    margin-top: 30px;
}


/* 테이블1 */
.tb1 {
    box-sizing: border-box;
    border-collapse: collapse;
    border-top: 1px solid #a6a6a6;
    width: 100%;
}

.tb1 th {
    height: 50px;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    border-bottom: 2px solid #e8e8e8;
}

.tb1 td {
    padding: 5px 0;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    border-bottom: 2px solid #e8e8e8;
    height: 66px;
}
/* 삭제, 등록 버튼 */

.btns {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background-color: #bfbfbf;
    border: none;
    width: 94px;
    height: 35px;
    color: white;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }
}

.insert-btn {
    background-color: #8eb4e3;
    border: none;
    width: 94px;
    height: 35px;
    color: white;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }
}

.page {
    margin: 30px 0;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.page a {
    text-decoration: none;
    color: black;
    cursor: pointer;

    &:hover{
        opacity: 0.3;
    }
}

.page .on {
    font-weight: 600;
    text-decoration: underline;
}
