<link rel="stylesheet" th:href="@{/css/policy/customer.css}">
<link rel="stylesheet" th:href="@{/css/basic.css}">
<header th:replace="layout/main/header.html"></header>
<main>
  <div class="container">
    <section class="header">
      <h3 class="title">LotteON 서비스 이용약관</h3>
      <div class="navs">
        <div onclick="navFunction()" class="nav1 ">
          <div class="nav-img">
            <img src="https://via.placeholder.com/80x60" alt="">
          </div>
          <div class="nav-name">구매회원약관</div>
        </div>
        <div onclick="navFunction()" class="nav1">
          <div class="nav-img">
            <img src="https://via.placeholder.com/80x60" alt="">
          </div>
          <div class="nav-name">판매회원약관</div>
        </div>
        <div onclick="navFunction()" class="nav1 active">
          <div class="nav-img">
            <img src="https://via.placeholder.com/80x60" alt="">
          </div>
          <div class="nav-name">전자금융거래</div>
        </div>
        <div onclick="navFunction()" class="nav1">
          <div class="nav-img">
            <img src="https://via.placeholder.com/80x60" alt="">
          </div>
          <div class="nav-name">위치정보입력</div>
        </div>
        <div onclick="navFunction()" class="nav1">
          <div class="nav-img">
            <img src="https://via.placeholder.com/80x60" alt="">
          </div>
          <div class="nav-name">개인정보처리</div>
        </div>
      </div>
    </section>
    <h4 id="terms-name">구매회원 이용약관</h4>
    <section class="main">
      <h5>제 1조 (목적)</h5>
      <p>이 약관은 주식회사 케이마켓(이하 회사라함)가 운영하는 롯데 ON 인터넷 오픈마켓 사이트 (http://localhost:8080~~~) (이하
        롯데ON이라함) 와 스마트폰등 이동통신기기를 제공하는 롯데 ON 모바일 애플리케이션 (이하 모바일롯데ON이라함)을 통해서
        제공하는 전자상거래 관련 서비스 및 기타서비스 (이하 서비스라함)를 이용하는자간의 권리, 의무를 확정하고 이를 이행함으로써
        상호 발전을 도모하는 것을 그 목적으로한다.
      </p>
      <hr>
    </section>
    <section class="main">
      <h5>제 2조 (목적)</h5>
      <p>이 약관은 주식회사 케이마켓(이하 회사라함)가 운영하는 롯데 ON 인터넷 오픈마켓 사이트 (http://localhost:8080~~~) (이하
        롯데ON이라함) 와 스마트폰등 이동통신기기를 제공하는 롯데 ON 모바일 애플리케이션 (이하 모바일롯데ON이라함)을 통해서
        제공하는 전자상거래 관련 서비스 및 기타서비스 (이하 서비스라함)를 이용하는자간의 권리, 의무를 확정하고 이를 이행함으로써
        상호 발전을 도모하는 것을 그 목적으로한다.
      </p>
      <hr>
    </section>
    <section class="main">
      <h5>제 3조 (목적)</h5>
      <p>이 약관은 주식회사 케이마켓(이하 회사라함)가 운영하는 롯데 ON 인터넷 오픈마켓 사이트 (http://localhost:8080~~~) (이하
        롯데ON이라함) 와 스마트폰등 이동통신기기를 제공하는 롯데 ON 모바일 애플리케이션 (이하 모바일롯데ON이라함)을 통해서
        제공하는 전자상거래 관련 서비스 및 기타서비스 (이하 서비스라함)를 이용하는자간의 권리, 의무를 확정하고 이를 이행함으로써
        상호 발전을 도모하는 것을 그 목적으로한다.
      </p>
      <hr>
    </section>
    <section class="main">
      <h5>제 4조 (목적)</h5>
      <p>이 약관은 주식회사 케이마켓(이하 회사라함)가 운영하는 롯데 ON 인터넷 오픈마켓 사이트 (http://localhost:8080~~~) (이하
        롯데ON이라함) 와 스마트폰등 이동통신기기를 제공하는 롯데 ON 모바일 애플리케이션 (이하 모바일롯데ON이라함)을 통해서
        제공하는 전자상거래 관련 서비스 및 기타서비스 (이하 서비스라함)를 이용하는자간의 권리, 의무를 확정하고 이를 이행함으로써
        상호 발전을 도모하는 것을 그 목적으로한다.
      </p>
      <hr>
    </section>
  </div>
</main>
<footer th:replace="layout/main/footer.html"></footer>




<script>
  function navFunction (){

  }
</script>
