select {outline: none;}

input {text-indent: 10px;}

.main-title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.main-description {
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    height: 37px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 20px;
}

.tb1 {
    border-collapse: collapse;
    border-top: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
    width: 270px;
}

.tb1 th {
    background-color: #DCE6F2;
    width: 110px;
    height: 40px;
}

.tb1 tr {
    border-bottom: 1px solid #A6A6A6;
}

.tb1 .cate1, .tb1 .cate2, .tb1 .cate3{
    width: 141.68px;
    height: 28.29px;
    margin-left: 10px;
    text-align: center;
    outline: none;
    border: 2px solid #BFBFBF;
}

.main2 {
    margin-top: 30px;
    width: 780px;
    box-sizing: border-box;
}

.tb2 {
    border-collapse: collapse;
    border-top: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
    width: 100%;
}

.tb2 th {
    background-color: #DCE6F2;
    width: 110px;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    border-top: 2px solid #BFBFBF;
    border-bottom: 2px solid #BFBFBF;
}

.tb2 td{
    height: 28.29px;
    margin-left: 10px;
    outline: none;
    border-top: 2px solid #BFBFBF;
    border-bottom: 2px solid #BFBFBF;
    padding: 10px;
}

.tb2 td input[type=text]{
    width: 236.75px;
    height: 28.29px;
    border: 1px solid #BFBFBF;
    outline: none;
}

.main3 {
    margin-top: 30px;
    width: 780px;
    box-sizing: border-box;
}

.tb3 {
    border-collapse: collapse;
    border-top: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
    width: 100%;
}

.tb3 th {
    background-color: #DCE6F2;
    width: 110px;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    border-top: 2px solid #BFBFBF;
    border-bottom: 2px solid #BFBFBF;
}

.tb3 td{
    height: 28.29px;
    margin-left: 10px;
    outline: none;
    border-top: 2px solid #BFBFBF;
    border-bottom: 2px solid #BFBFBF;
    padding: 10px;
}

.tb3 td input[type=text]{
    width: 236.75px;
    height: 28.29px;
    border: 1px solid #BFBFBF;
    outline: none;
}



.tb3 td .business-inp[type=text], .tb3 td .recipt-inp[type=text] {
    width: 350px;
    height: 27.5px;
}

.advice-footer {
    background-color: #FFFFCC;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 20px;
    margin: 30px 0;
    color: #595959;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.submit-btn{
    background-color: #647264;
    color: white !important;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: box-shadow 0.3s ease;
}

/* option */
.tb4{width: 100%; border: none; border-top: 2px solid #BFBFBF;  border-bottom: 2px solid #BFBFBF;}
.tb4>tbody>tr{height: auto;}
.tb4>tbody>tr>td{height: 30px;}
.option_inputs{display: inline-block; padding: 7px;}
.option_input{width: 100px;height: 28.29px;border: 1px solid #BFBFBF;outline: none;}
.btnOption{height: 28.29px;border: none; padding: 0 5px; background-color:#ddd;}
.addoption{background-color: #647264;
    color: white !important;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: box-shadow 0.3s ease;
    float: right;
}
.btnDelete{height: 28.29px;border: none; padding: 0 5px; background-color:#ddd;}
.addoption:hover{cursor: pointer}

.tb5 {
    border-collapse: collapse;
    border-top: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
    width: 100%;
    border-left: none;
    border-right: none;
}

.tb5 th {
    background-color: #DCE6F2;
    width: 110px;
    height: 40px;
    text-align: center;
    padding-left: 10px;
    border-top: 2px solid #BFBFBF;
    border-bottom: 2px solid #BFBFBF;
    border-left: none;
    border-right: none;
    margin: 0 auto;
}

.tb5 td{
    height: 28.29px;
    margin-left: 10px;
    outline: none;
    border-top: 2px solid #BFBFBF;
    border-bottom: 2px solid #BFBFBF;
    padding: 10px;
    border-left: none;
    border-right: none;
    text-align: center;
}

.tb5 td input[type=text]{
    width: 236.75px;
    height: 28.29px;
    border: 1px solid #BFBFBF;
    outline: none;
    margin: 0 auto;
}

.deleteOption {
    background-color: #647264;
    color: white !important;
    padding: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: box-shadow 0.3s ease;
    float: right;
}