main {
    display: flex;
    gap: 60px;
    width: 1200px;
    margin: 100px auto;
    user-select: none;
    align-items: flex-start;
}



#main {
    display: flex;
    flex-direction: column;
}
#my > main {
    display: block;
    width: 810px; height: auto;float: left; margin: 30px; box-sizing: border-box;
}

#wrap > #main {
    margin: 0 auto;
    width: 811px;
    height: auto;
    border: none;
    gap: 10px;
}

#wrap > #navi {
    width: 800px;
}

.admin-btn{
    border-radius: 5px;
}