/*
     날짜 : 2024/10/13 (일)
     이름 : 김민희
     내용 : 메인(index) 레이아웃 css 생성

     수정이력
      - 2024/10/30 (수) 김민희 : 마이페이지, gnb 메뉴, 실시간 검색어 수정 (myTool, menu-box, search-slider)
*/

/* reset: 실시간 검색어 ico 수평 설정 */
/*img{vertical-align: middle; width: 18px; height: 40px; }*/

/* header */
#wraper{width:100%; min-width:1200px; padding-top:120px;}
#header{width:100%; height:206px; border-bottom: 3px solid #ef2a23; transition:all 0.5s; background-color: white; position:fixed; top:0; left:0; z-index: 1000;}
#header:after{display: block; content: ""; width:100%; height:37px; background:#eee;}
/*.h_utill{}*/
/*.h_utill:after{display: block; content: ""; width:100%; height:30px; background:#eee;}*/
#headerIn{width:1200px; margin:0 auto; position:relative;}

/* 로고 */
.logo a{z-index: 2; position: absolute; top:33px;}
.logo a img{vertical-align: top;  display: inline-block; width: 205px; height: 72px; font-size:50px; /*margin-left: 40px;*/ line-height:1em; padding-top:30px; transition:all 0.5s;}
#headerIn > .logo > a > img.hlogo{vertical-align: top; display: inline-block; width: 205px; height: 72px; font-size:50px; /*margin-left: 40px;*/ line-height:1em; padding-top:30px; transition:all 0.5s;}

/* 로그인 | 회원가입 | 고객센터 */
/*.utill{position:absolute; top:10px; right:868px; width: 350px; transition:all 0.5s;}*/
/*.utill li{float:left; margin-left:20px;}*/
/*.utill li a{color:#555; float: left;}*/

.utill{position:absolute; top:10px; right:0; transition:all 0.5s;}
.utill li{float:left; margin-left:12px;}
.utill li a{color:#555;}

/* 검색 bar */
#headerIn .search2{position: absolute; top: 30px; right: 31%; margin-left: -175px; transition: all 0.5s; padding-top: 34px}
#headerIn .search2 input{width: 460px;height: 44px;text-indent: 13px;border-radius: 21px;border: 2.5px solid #ef2a23;background-color: #fff;text-overflow: ellipsis;}
#headerIn .search2 input.open{border-radius: 21px 21px 0 0; border-bottom: 1px solid #F2F2F2;}
#headerIn .search2 .ico_sch img{position: absolute; top: 10px; right: 26px; padding-top: 39px;}

/* 연관검색어 */
.related-search-box{position: absolute;top: 108px;left: 362px;width: 460px; background-color: white;padding: 0 20px 20px; z-index: 1000; display: none;color: #484848;border-radius: 0 0 21px 21px;border: 2.5px solid #ef2a23;border-top: none; min-height: 150px}
.related-search-box h4 {margin-top: 10px;font-size: 14px;}
.related-search-box span {margin-left: 10px;min-width: 60px;display: inline-block;border:1px solid #828282; margin-top: 10px;border-radius: 5px;text-align: center; cursor: pointer;}
.related-search-box .related-search-inp{width: 600px;height: 44px;text-indent: 13px;border-radius: 34px;border: 2.5px solid #ef2a23;background-color: #fff;text-overflow: ellipsis;}
.related-search-box .related-search-ico{position: absolute;top: -25px;right: 90px;padding-top: 39px;}
.related-search-box .close-related {position: absolute;right: 20px;font-size: 14px;top: 10px;cursor: pointer;}

/* 마이롯데, 장바구니, 나의 찜 */
#header .myTool {display: flex; gap: 25px; justify-content: flex-end; position: absolute; top: 80px; right:0;}
#header .myTool .img-header-link {width: 50px; height: 50px;}

/* 메뉴 박스 (gnb) : 히트상품 ~ */
/*#header .menu-box:before {display: block; content:""; clear: both; width:100%; height: 1px; background: #f0f0f0;} !* 메뉴 박스 위에 line *!*/
/*#header .menu-box .menu-box-in:before {display: block; content:""; clear: both; width:100%; height: 1px; background: #f0f0f0;}*/

#header .menu-box .menu-box-in .gnb{position:absolute; top:162px; left:0;}
#header .menu-box .menu-box-in .gnb li{float:left; margin-right:10px;}

/* 히트상품 font */
#header .menu-box .menu-box-in .gnb li a{display: inline-block; height: 40px; font-size: 1.27em; line-height: 40px;
    margin-right: 6px; transition:all 0.3s; cursor: pointer;}
#header .menu-box .menu-box-in .gnb li a:hover{cursor: pointer; color: #f65; font-weight: 500; transition:all 0.3s;}

/* 실시간 검색어 ∨ (trending) */
#headerIn .search-slider{position: absolute; top: 162px; right: 0; display: flex; justify-content: space-between;}
#headerIn .search-slider .searchSlider{position: relative;}
#headerIn .search-slider .searchSlider li{overflow: hidden;}
#headerIn .search-slider .searchSlider li a{margin-right:10px; display: inline-block; font-size: 14px;
    color: #333; width: 120px; line-height: 40px; overflow: hidden; box-sizing: border-box; text-align: right;}  /* 실시간 검색어 타이틀 */

#headerIn .search-slider > .sch_ico_down {display: block; padding-top:12px; position: relative; top:0; right:0;} /* 실시간 검색어 ∨ icon */
#headerIn .search-slider > .sch_ico_down > img {display: inline-block; width: 18px; height: 18px;}

#headerIn .search-slider .bx-wrapper {border: none; background: none;} /* 불필요한 line x */

/* 실시간 검색어 font 강조 스타일  */
#headerIn .search-slider .searchSlider li:nth-child(1) a{color: #e60023; /* 첫 번째 검색어 font 강조 색상 */ font-weight: bold;}

/* 스크롤이 발생할 때 변경될 #header 스타일 */
#header.fix{height:80px; background:rgba(255,255,255,0.8); box-shadow:0 1px 5px rgba(0,0,0,0.3);}
#header.fix .logo a img{font-size:25px; padding-top:26px;}

#header.fix .utill{top:-50px;}

#header.fix .gnb{top:20px;}
#header.fix .gnb li:hover a{color:#f30;}
#header.fix .gnb .on a{color:#f30;}

#header.fix .search{top:24px;}
#header .img-header-link {cursor: pointer}

/* 메인컨텐츠 본문영역 */
/* main */
#main{width: 100%; height: 2700px; display: flex; justify-content: center; /* 콘텐츠를 중앙에 배치 */}
.mainIn{width: 1200px; margin: 0 auto; display: flex;}

#aside{width:220px; height: 100%; margin:0 auto; margin-top: 150px;}
#aside > .menu{height: 300px;}
#aside > .menu > ul{}
#aside > .menu > ul > .dep1:last-child > .m{border-bottom:1px solid #eee;}
#aside > .menu > ul > .dep1 > .m:first-of-type{border-top:1px solid #eee;}

#aside > .menu > ul > .dep1 > .m{position: relative; display: block; font-size: 16px; font-weight: 700; overflow: hidden!important; height: 75px; line-height: 75px; text-align: center; border:1px solid #eee; border-top: 0; border-bottom: 0; box-sizing: border-box;}
#aside > .menu > ul > .dep1 > .m > .d1_tit{font-size: 15.5px; font-weight: 700; letter-spacing: -0.25px; }
#aside > .menu > ul > .dep1 > .m:hover > .d1_tit{display: block; background-color: #ef2a23; color:#fff; transition:all 0.3s;}
#aside .menu ul .dep1 .dep2{
    display: none;
    position: relative;
    top: -300px;
    left: 220px;
    width: 980px;  padding: 30px 0px 0px 35px; height: 300px; border: 1px solid #ddd; background-color: #fff; box-sizing: border-box; z-index: 500; box-sizing: border-box;}

#aside .menu ul .dep1 .dep2 .flex{display: flex; align-items: flex-start; /* 자식 요소가 컨테이너의 높이에 맞춰 늘어나지 않음 */}
#aside .menu ul .dep1 .dep2 .d2_tit{font-size: 16px!important; font-weight: 700; display: block!important; width: 192px; float: left; margin-bottom: 6px;}
.dep2 button {
    position: relative;
    /* top: 220px; */
    left: 900px;
    border: none;
    background-color: white;
    cursor: pointer;
    background-color: white;
    color: black;
}
#aside .menu ul .dep1 .dep2 .dep3{}
#aside .menu ul .dep1 .dep2 .dep3{}
#aside .menu ul .dep1 .dep2 .dep3 li{}
#aside .menu ul .dep1 .dep2 .dep3 li a{font-size:13px; display: block; width: 192px; color:#777; line-height: 3em; &:hover {color: brown;} }
#aside .menuBg{width:100%; height:0; overflow:hidden; background:#ff9; border-bottom:1px solid #333; position:absolute; top:100px; left:0;}

/* 베스트 상품 영역 */
.best{margin-top:50px; border: 1px solid #ddd; width: 192px; box-sizing: border-box; padding: 10px;} /* sec 와  margin-right: 28px */
.best .tit_sty02{font-size: 16px; margin-bottom: 14px; margin-left: 10px; margin-top:10px; font-weight: 700; letter-spacing: 0.5px;}

.bestRank{margin-left: 10px; position: relative;}
.bestRank li{margin-bottom: 15px;}
.bestRank li a .photo1::before{display: block; content: '1'; clear: both; width: 20px; height: 20px; background-color: #ef2a23; position: absolute; top: 0; left: 0; font-size: 12px; font-weight: 500; color: #fff; text-align: center; line-height: 20px;}
.bestRank li a .photo img{}

.bestRank li a .photo1, .photo2, .photo3 .bImg{display: block; margin-bottom: 10px;}
.bestRank li a .photo2::before{display: block; content: '2'; clear: both; width: 20px; height: 20px; background-color: #ef2a23; position: absolute;
    top: 199px; left: 0; font-size: 12px; font-weight: 500; color: #fff; text-align: center; line-height: 20px;}
.bestRank li a .photo3::before{display: block; content: '3'; clear: both; width: 20px; height: 20px; background-color: #ef2a23; position: absolute;
    top: 284px; left: 0; font-size: 12px; font-weight: 500; color: #fff; text-align: center; line-height: 20px;}
.bestRank .pho{float: left;}
.bestRank .txt{float:left; margin-left: 10px; }

.best ul{}
.best ul li{}
.best ul li a{}
.best ul li a .bImg{}
/* .best ul li a .bImg img{display: block; width: 120px; height: 120px; margin-left:10px;} */

.best ul li a dl{}
.best ul li a dl dt{}
.best ul li a dl dt .oPrice{float: left; text-decoration:line-through; color: #aaa; font-size: 9px;}
.best ul li a dl dt .dis{float: left; font-style: normal; color: #ef2a23; font-size: 10px; font-weight: 700; margin-left: 4px;}
.best ul li a dl dd{font-size: 12px; font-weight: 700; color:#444;}

#sec{width: 980px; height: 300px;
    margin-top: 150px;
    /* background: url(../images/980x300.jpg); */
}
#sec::after{content: ""; display: block; clear: both;}

#mainSlider ul li{float: left;}
#mainSlider ul li.prev:before {margin-top:-160px; margin-left: 40px; text-indent: -9999px; display: block; content: ''; width: 30px; height: 30px; border-top: 2px solid #fff; border-right: 2px solid #fff; transform: rotate(225deg);}
#mainSlider ul li.next:before {margin-top:-160px; margin-left: 900px; text-indent: -9999px; display: block; content: ''; width: 30px; height: 30px;  border-top: 2px solid #fff; border-right: 2px solid #fff; transform: rotate(45deg);}

/* pager */
#mainSlider .pager{position: relative; margin-left:465px; z-index: 100;}
#mainSlider .pager ul{position: absolute; bottom: 10px; opacity: 70%;  z-index: 100;}
#mainSlider .pager ul li{float:left; margin-right: 10px;}
#mainSlider .pager ul li:last-child{margin-right: 0;}
#mainSlider .pager ul li.on{background: #ef2a23;}
#mainSlider .pager ul li a{text-indent: -9999px;display: inline-block;width: 10px; height: 10px;background: #000; border-radius: 50%;}


/* cont1 */
.cont1{margin-top: 60px;}
.cont1 .tit{font-size:26px; font-weight: 900; letter-spacing:-0.5px; margin-bottom: 20px;}

.cont1 ul{position: relative;}
.cont1 ul:after{content:""; display:block; clear:both;}
.cont1 ul li{float:left; width: 217px; height: 320px; margin-right:28px; border: 1px solid #eee; box-sizing: border-box;}
.cont1 ul .last{margin-right:0;}

.cont1 ul li .photo{overflow: hidden;}
.cont1 ul li dl{padding:32px 25px 25px;} /* top: 32px; bottom: 25px; (left,right) :25px; */
.cont1 ul li dl dt.proTit{display: block; font-size:15px; font-weight:bold; letter-spacing:-0.5px;}

.cont1 ul li dl dd p.oPrice{ display:inline-block; font-size:12px; font-weight:normal; margin-top:5px;
    text-decoration:line-through; color: #aaa;}
/* 할인율 ↓ */
.cont1 ul li dl dd .dis{font-style: normal; color: #ef2a23;
    margin-left:4px; margin-top:5px; font-weight: 700; text-decoration:none!important;}

.cont1 .dPrice{font-size: 13px; font-weight: 700; color:#444;}
.cont1 .free{display: block; width: 70px; height: 22px; position: absolute; bottom: 25px;}

/* position 개별값 */
.cont1 .free:nth-of-type(1){left:129px;}
.cont1 .free:nth-of-type(2){bottom: 0; left:258px;}
.cont1 .free:nth-of-type(3){left:387px;}
.cont1 .free:nth-of-type(4){bottom: 0; left:516px;}

/* cont2 */
.cont2{padding:53px 0 53px;}
.cont2 .tit{font-size:26px; font-weight: 900; letter-spacing:-0.5px; margin-bottom: 20px;}

.cont2 ul{}
.cont2 ul:after{content:""; display:block; clear:both;}
.cont2 ul li{float:left; width: 224px; margin-right:28px; border: 1px solid #eee; box-sizing: border-box;}
.cont2 ul .last{margin-right:0;}

.cont2 ul li .photo{}
.cont2 ul li dl{padding:32px 25px 25px;}
.cont2 ul li dl dt{font-size:15px; font-weight:bold; margin-bottom:25px; letter-spacing:-0.5px;}
.cont2 ul li dl dt span{float: left; display:block; font-size:12px; font-weight:normal; margin-top:5px; text-decoration:line-through; color: #aaa;}
.cont2 ul li dl dt em{float: left; font-style: normal; color: #ef2a23; margin-left:6px; margin-top:5px; font-weight: 700;}

.cont2 .price{font-size: 14px; font-weight: 700; color:#444;}
.cont2 .free{display: block; width: 80px; height: 21px;}

/* cont3 */
.cont3{padding:53px 0 53px;}
.cont3 .tit{font-size:26px; font-weight: 900; letter-spacing:-0.5px; margin-bottom: 20px;}

.cont3 ul{}
.cont3 ul:after{content:""; display:block; clear:both;}
.cont3 ul li{float:left; width: 224px; margin-right:28px; border: 1px solid #eee; box-sizing: border-box;}
.cont3 ul .last{margin-right:0;}

.cont3 ul li .photo{}
.cont3 ul li dl{padding:32px 25px 25px;}
.cont3 ul li dl dt{font-size:15px; font-weight:bold; margin-bottom:25px; letter-spacing:-0.5px;}
.cont3 ul li dl dt span{float: left; display:block; font-size:12px; font-weight:normal; margin-top:5px; text-decoration:line-through; color: #aaa;}
.cont3 ul li dl dt em{float: left; font-style: normal; color: #ef2a23; margin-left:6px; margin-top:5px; font-weight: 700;}

.cont3 .price{font-size: 14px; font-weight: 700; color:#444;}
.cont3 .free{display: block; width: 80px; height: 21px;}

/* footer */
#footer{width: 100%; height:200px; background:#39394c; padding:25px 0 110px; overflow: hidden; } /*264*/
#footerIn{width:1200px; height:159px; margin:0 auto; position:relative;}

.fmenu{width: 1200px; margin-left: 400px;}
.fmenu ul:after{content:""; display:block; clear:both;}
.fmenu ul li{float:left; margin-right:20px; border-right:1px solid rgba(238,238,238,0.4); padding-right:20px; line-height:9px;
}
.fmenu .intro{color:#f65; font-weight: 500;}
.fmenu ul .last{border-right:none; padding-right:0; margin-right:0;}
.fmenu ul li a{color:#eee;}
.fmenu ul li:hover a{color:#f65;}

.fLeft{float: left; margin-top: 30px;}

.flogo{float: left;}
.flogo a img{margin-bottom:24px; width: 135px;}

.fTit{font-size: 15px; color:#fff; margin-bottom: 10px; margin-top: 5px;}

.finfo{float: left; color:#ccc; margin-left: 20px;}
.finfo p{margin-bottom: 2px;}
.finfo .copy{margin-top: 10px; font-weight: 100; opacity: 50%;}


.fRight{float: right; margin-top: 30px; margin-right: 100px;}
.fcs{color: rgba(255,255,255,0.8);}
.fcs .csCenter{}
.fcs .csCenter p{margin-bottom: 3px;}
.fcs .csCenter p span{font-size: 26px; font-weight: 800; color: #fffc9d; margin-right: 6px; }

.fcs .fsns{position:absolute; left:0; top:108px;}
.fcs .fsns ul{}
.fcs .fsns ul li{float:left; margin-right:14px;}
.fcs .fsns ul li a{display:block; width:50px; height:50px; text-indent:-9999px;} /*투명버튼 만들기*/

/* 스크롤시 생기는 top 버튼 */
.btnTop{display:block; width:20px; height:80px;  background:#fff; border-radius:50px; text-align: center; border: 1px solid #bfbfbf; margin-left: 8px; font-size:16px; text-align:center; padding:20px; position:fixed; right:45px; bottom:45px;}

.fade-in {
    display: block; !important;/* Block으로 설정하여 CSS transition을 사용할 수 있도록 함 */
    opacity: 0; !important;/* 초기 상태를 투명하게 설정 */
    transition: opacity 0.7s ease-in; !important;/* opacity에 대한 부드러운 전환 추가 */
}

.fade-in.show {
    opacity: 1; !important;/* show 클래스가 추가되면 불투명하게 설정 */
}

/* 메인슬라이더 영역 */
#mainSlider{position: relative}
#sliderPage{bottom: 20px;right: 60px;position: absolute; background: rgba(0,0,0,0.3);border-radius: 15px; padding: 5px 10px}
#sliderPage>span{display: inline-block; font-size: 14px; color:#FFF;text-align: center}
#sliderPage>.currentSlider{ font-weight: 700 }
#sliderPage>.totalSlider{font-weight: 600}








