
    <link rel="stylesheet" as="style" crossorigin th:href="@{https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css}" /> <!-- 가변 다이나믹 서브셋 (fontfamily : pretendard) -->
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
<header th:replace="layout/main/header.html"></header>
<div id="wrap">
    <main id="main">
        <div class="mainIn">

            <aside id="aside">
                <nav id="menu" class="menu">
                    <ul th:each="cate1 : ${category1}">
                        <li class="dep1">
                            <a href="#" class="m">
                                <span onclick="openCategory(event)" th:data-id="${cate1.id}" th:text="${cate1.name}" class="d1_tit">패션 · 의류 · 뷰티</span>
                            </a></li>
                    </ul>
                    <ul>

                        <li class="dep1">
                            <a href="#">
                                <div class="dep2">
                                    <button onclick="closePopupCategory()">X</button>
                                    <ul class="cf flex" id="data-response">

                                    </ul>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav><!-- #memu .memu -->
                <div class="memuBg"></div><!-- .memuBg -->

                <div class="best">
                    <h3 class="tit_sty02 cf">
                        <img src="/images/ico_best.png" alt="베스트 상품 아이콘">
                        베스트 상품
                    </h3><!--.tit_sty02 -->
                    <ul class="bestRank">
                        <li><a href="#">
                            <div class="photo1">
                                <img src="/images/144x120.png" class="bImg" alt="베스트 상품 이미지 1">
                            </div><!--.photo-->
                            <dl>
                                <dt class="Btit cf">
                                    <p>베스트 상품명 1</p>
                                    <p class="oPrice cf">30,000원 </p>
                                    <em class="dis cf">10%&#8595;</em>
                                </dt><!--.Btit-->
                                <dd class="dPrice">
                                    27,000원
                                </dd><!--.price-->
                            </dl>
                        </a></li>

                        <li class="cf"><a href="#">
                            <div class="photo2 pho">
                                <img src="/images/60x60.png" class="bImg" alt="베스트 상품 이미지 2">
                            </div><!--.photo-->
                            <dl class="txt">
                                <dt class="Btit cf">
                                    <p>베스트 상품명 2</p>
                                    <p class="oPrice cf">30,000원 </p>
                                    <em class="dis cf">10%&#8595;</em>
                                </dt><!--.Btit-->
                                <dd class="dPrice">
                                    27,000원
                                </dd><!--.price-->
                            </dl>
                        </a></li>

                        <li class="cf"><a href="#">
                            <div class="photo3 pho">
                                <img src="/images/60x60.png" class="bImg" alt="베스트 상품 이미지 2">
                            </div><!--.photo-->
                            <dl class="txt">
                                <dt class="Btit cf">
                                    <p>베스트 상품명 3</p>
                                    <p class="oPrice cf">30,000원 </p>
                                    <em class="dis cf">10%&#8595;</em>
                                </dt><!--.Btit-->
                                <dd class="dPrice">
                                    27,000원
                                </dd><!--.price-->
                            </dl>
                        </a></li>

                    </ul>
                </div><!--.best-->

            </aside><!-- #aside -->




            <section id="sec">

                <div id="mainSlider">
                    <div class="simg">
                        <a th:href="@{/event/attendance}">
                            <img th:src="@{/images/980x300.jpg}" alt="메인슬라이더1">
                            <ul class="cf">
                                <li class="prev"><a href="#"></a></li><!-- .prev -->
                                <li class="next"><a href="#"></a></li><!-- .next -->
                            </ul>
                            <!-- <p class="prev"><a href="#"></a></p>
                            <p class="next"><a href="#"></a></p> -->
                            <div class="pager cf">
                                <ul class="cf">
                                    <li><a href="#" class="on">1</a></li><!-- .on -->
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div><!-- .mainSlider -->

                <div class="cont1">
                    <div class="inner">
                        <h2 class="tit cf">히트상품</h2><!--.tit-->
                        <div class="pro1 cf">
                            <ul>
                                <li><a href="#">
                                    <div class="photo">
                                        <img src="./images/240x200(1).jpg" alt="hit photo1">
                                    </div><!--.photo-->
                                    <dl>
                                        <dt class="proTit">
                                            히트 상품명 1
                                            <p class="oPrice cf">30,000원 <em class="dis cf">10%&#8595;</em></p>
                                        </dt>
                                        <dd class="dPrice">
                                            27,000원
                                        </dd><!--.price-->
                                        <dd><a href="#" class="free">
                                            <img src="/images/btn_free.png" class="free" alt="무료배송">
                                        </a></dd>
                                    </dl>
                                </a></li>
                                <li><a href="#">
                                    <div class="photo">
                                        <img src="./images/240x200(2).jpg" alt="hit photo1">
                                    </div><!--.photo-->
                                    <dl>
                                        <dt>
                                            히트 상품명2 입니다.
                                            <span>30,000원</span><em>10%&#8595;</em>
                                        </dt>
                                        <dd class="price">
                                            27,000원
                                        </dd><!--.price-->
                                        <dd><a href="#">
                                            <img src="/images/btn_free.png" class="free" alt="무료배송">
                                        </a></dd>
                                    </dl>
                                </a></li>
                                <li><a href="#">
                                    <div class="photo">
                                        <img src="./images/240x200(3).jpg" alt="hit photo1">
                                    </div><!--.photo-->
                                    <dl>
                                        <dt>
                                            히트 상품명3 입니다.
                                            <span>30,000원</span><em>10%&#8595;</em>
                                        </dt>
                                        <dd class="price">
                                            27,000원
                                        </dd><!--.price-->
                                        <dd><a href="#">
                                            <img src="/images/btn_free.png" class="free" alt="무료배송">
                                        </a></dd>
                                    </dl>
                                </a></li>
                                <li class="last"><a href="#">
                                    <div class="photo">
                                        <img src="./images/240x200(5).jpg" alt="hit photo1">
                                    </div><!--.photo-->
                                    <dl>
                                        <dt>
                                            히트 상품명4 입니다.
                                            <span>30,000원</span><em>10%&#8595;</em>
                                        </dt>
                                        <dd class="price">
                                            27,000원
                                        </dd><!--.price-->
                                        <dd><a href="#">
                                            <img src="/images/btn_free.png" class="free" alt="무료배송">
                                        </a></dd>
                                    </dl>
                                </a></li><!-- .last -->
                            </ul>
                        </div><!--.brsite-->
                    </div><!--.inner-->
                </div><!-- .cont1 -->

                <div class="cont1">
                    <div class="inner">
                        <h2 class="tit cf">히트상품</h2><!--.tit-->
                        <div class="pro1 cf">
                            <ul>
                                <li><a href="#">
                                    <div class="photo">
                                        <img src="./images/240x200(1).jpg" alt="hit photo1">
                                    </div><!--.photo-->
                                    <dl>
                                        <dt class="proTit">
                                            히트 상품명 1
                                            <p class="oPrice cf">30,000원 <em class="dis cf">10%&#8595;</em></p>
                                        </dt>
                                        <dd class="dPrice">
                                            27,000원
                                        </dd><!--.price-->
                                        <dd><a href="#" class="free cf">
                                            <img src="/images/btn_free.png" class="free" alt="무료배송">
                                        </a></dd>
                                    </dl>
                                </a></li>

                                <li><a href="#">
                                    <div class="photo">
                                        <img src="./images/240x200(2).jpg" alt="hit photo1">
                                    </div><!--.photo-->
                                    <dl>
                                        <dt>
                                            히트 상품명2 입니다.
                                            <span>30,000원</span><em>10%&#8595;</em>
                                        </dt>
                                        <dd class="price">
                                            27,000원
                                        </dd><!--.price-->
                                        <dd><a href="#">
                                            <img src="/images/btn_free.png" class="free" alt="무료배송">
                                        </a></dd>
                                    </dl>
                                </a></li>

                                <li><a href="#">
                                    <div class="photo">
                                        <img src="./images/240x200(3).jpg" alt="hit photo1">
                                    </div><!--.photo-->
                                    <dl>
                                        <dt>
                                            히트 상품명3 입니다.
                                            <span>30,000원</span><em>10%&#8595;</em>
                                        </dt>
                                        <dd class="price">
                                            27,000원
                                        </dd><!--.price-->
                                        <dd><a href="#">
                                            <img src="/images/btn_free.png" class="free" alt="무료배송">
                                        </a></dd>
                                    </dl>
                                </a></li>

                                <li class="last"><a href="#">
                                    <div class="photo">
                                        <img src="./images/240x200(5).jpg" alt="hit photo1">
                                    </div><!--.photo-->
                                    <dl>
                                        <dt>
                                            히트 상품명4 입니다.
                                            <span>30,000원</span><em>10%&#8595;</em>
                                        </dt>
                                        <dd class="price">
                                            27,000원
                                        </dd><!--.price-->
                                        <dd><a href="#">
                                            <img src="/images/btn_free.png" class="free" alt="무료배송">
                                        </a></dd>
                                    </dl>
                                </a></li><!-- .last -->

                            </ul>
                        </div><!--.brsite-->
                    </div><!--.inner-->
                </div><!-- .cont1 -->

                <div class="cont1">
                    <div class="inner">
                        <h2 class="tit cf">히트상품</h2><!--.tit-->
                        <div class="pro1 cf">
                            <ul>
                                <li><a href="#">
                                    <div class="photo">
                                        <img src="./images/240x200(1).jpg" alt="hit photo1">
                                    </div><!--.photo-->
                                    <dl>
                                        <dt class="proTit">
                                            히트 상품명 1
                                            <p class="oPrice cf">30,000원 <em class="dis cf">10%&#8595;</em></p>
                                        </dt>
                                        <dd class="dPrice">
                                            27,000원
                                        </dd><!--.price-->
                                        <dd><a href="#" class="free">
                                            <img src="/images/btn_free.png" class="free" alt="무료배송">
                                        </a></dd>
                                    </dl>
                                </a></li>
                                <li><a href="#">
                                    <div class="photo">
                                        <img src="./images/240x200(2).jpg" alt="hit photo1">
                                    </div><!--.photo-->
                                    <dl>
                                        <dt>
                                            히트 상품명2 입니다.
                                            <span>30,000원</span><em>10%&#8595;</em>
                                        </dt>
                                        <dd class="price">
                                            27,000원
                                        </dd><!--.price-->
                                        <dd><a href="#">
                                            <img src="/images/btn_free.png" class="free" alt="무료배송">
                                        </a></dd>
                                    </dl>
                                </a></li>
                                <li><a href="#">
                                    <div class="photo">
                                        <img src="./images/240x200(3).jpg" alt="hit photo1">
                                    </div><!--.photo-->
                                    <dl>
                                        <dt>
                                            히트 상품명3 입니다.
                                            <span>30,000원</span><em>10%&#8595;</em>
                                        </dt>
                                        <dd class="price">
                                            27,000원
                                        </dd><!--.price-->
                                        <dd><a href="#">
                                            <img src="/images/btn_free.png" class="free" alt="무료배송">
                                        </a></dd>
                                    </dl>
                                </a></li>
                                <li class="last"><a href="#">
                                    <div class="photo">
                                        <img src="./images/240x200(5).jpg" alt="hit photo1">
                                    </div><!--.photo-->
                                    <dl>
                                        <dt>
                                            히트 상품명4 입니다.
                                            <span>30,000원</span><em>10%&#8595;</em>
                                        </dt>
                                        <dd class="price">
                                            27,000원
                                        </dd><!--.price-->
                                        <dd><a href="#">
                                            <img src="/images/btn_free.png" class="free" alt="무료배송">
                                        </a></dd>
                                    </dl>
                                </a></li><!-- .last -->
                            </ul>
                        </div><!--.brsite-->
                    </div><!--.inner-->
                </div><!-- .cont1 -->




            </section><!--#sec-->

        </div><!-- .mainIn -->
    </main><!--#main-->

    

    <a href="#" class="btnTop">TOP</a><!--.btnTop-->
</div><!--#wrap-->
<footer th:replace="layout/main/footer.html"></footer>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
<link th:href="@{/js/jquery.bxslider.min.css}" rel="stylesheet" />
<script th:src="@{/js/jquery.bxslider.min.js}"></script>
<script>
    $(document).ready(function() {
        $('.mainSlider1 ul').bxSlider({
            auto: true,
            autoControls: true,
            autoControlsCombine: true,
            stopAutoOnClick: true,
            pager: true
        });
        $('.mainSlider2 ul').bxSlider({
            auto: true,
            autoControls: true,
            autoControlsCombine: true,
            stopAutoOnClick: true,
            pager: true,
            pagerType: 'short'
        });
    });
</script>
