<link rel="stylesheet" th:href="@{/css/admin/coupon/list.css}" />
<link rel="stylesheet" th:href="@{/css/basic.css}">
<link rel="stylesheet" th:href="@{/css/reset.css}">
<script th:src="@{/js/axios.min.js}"></script>
<header th:replace="layout/admin/header.html"></header>
<main style="margin: 0 auto; margin-bottom: 50px">
    <aside th:replace="layout/admin/aside.html"></aside>
    <div class="container">
        <div class="header">
            <span class="header-title">쿠폰목록</span>
            <div class="header-right">
                <span>HOME</span>
                <span>></span>
                <span>쿠폰관리</span>
                <span>></span>
                <span class="bold">쿠폰목록</span>
            </div>
        </div>

        <div class="header-gubun"></div>

        <section class="categoryProduct">
            <form class="order-search">
                <select>
                    <option>쿠폰번호</option>
                    <option>쿠폰명</option>
                    <option>발급자</option>
                </select>
                <input type="text" placeholder="검색어입력">
                <button type="submit">검색</button>
            </form>
            <table class="tb1">
                <tr>
                    <th>쿠폰번호</th>
                    <th>쿠폰종류</th>
                    <th>쿠폰명</th>
                    <th>혜택</th>
                    <th>사용기간</th>
                    <th>발급자</th>
                    <th>발급수</th>
                    <th>사용수</th>
                    <th>상태</th>
                    <th>발급일</th>
                    <th>관리</th>
                </tr>
                <tr th:each="coupon : ${coupons}">
                    <td onclick="openCouponPopup(1)" th:text="${coupon.id}" style="text-decoration: underline; cursor:pointer;">10121111</td>
                    <td th:text="${coupon.couponType}">abc1</td>
                    <td th:text="${coupon.couponName}">김유신</td>
                    <td th:text="${coupon.couponDiscount} + ${coupon.couponDiscountOption}">OOO</td>
                    <td th:text="${coupon.couponExpiration}">2</td>
                    <td th:text="${coupon.couponIssuer}">102,999</td>
                    <td th:text="${coupon.couponIssueCount}">신용카드</td>
                    <td th:text="${coupon.couponUseCount}" style="color: #00B050;">결제완료</td>
                    <td th:text="${coupon.couponState}">2024.10.16<br>00:00:00</td>
                    <td th:text="${coupon.couponRdate}">배송하기</td>
                    <td onclick="updateCouponState(1)" th:if="${coupon.couponState=='발급중'}"
                    ><button class="active-btn"
                             style="cursor: pointer; border: 1px solid #0070C0; color: #0070C0; padding: 3px 1px; background-color: transparent;"
                    >종료</button>
                    </td>
                    <td onclick="updateCouponState(2)" th:if="${coupon.couponState=='종료'}">
                        <button class="active-btn"
                                style="cursor: pointer; border: 1px solid #0070C0; color: #0070C0; padding: 3px 1px; background-color: transparent;"
                        >활성화</button>
                    </td>
                </tr>

            </table>
            <div class="page">
                <a class="none" th:href="@{/admin/coupon/coupons(page=0)}"><<</a>
                <a class="none" th:href="@{/admin/coupon/coupons(page=${page - 2})}" th:if="${page>=2}" th:text="${page}-1"></a>
                <a class="none" th:href="@{/admin/coupon/coupons(page=${page - 1})}" th:if="${page>=1}" th:text="${page}"></a>
                <a class="active" style="font-weight: 600; text-decoration: underline;" th:text="${page}+1"></a>
                <a class="none" th:href="@{/admin/coupon/coupons(page=${page + 1})}" th:if="${(totalPages - page)>=2}" th:text="${page}+2"></a>
                <a class="none" th:href="@{/admin/coupon/coupons(page=${page + 2})}" th:if="${(totalPages - page)>=3}" th:text="${page}+3"></a>
                <a class="none" th:href="@{/admin/coupon/coupons(page=${totalPages - 1})}" >>></a>
            </div>
        </section>
        <div class="green2"><button onclick="openCouponPopup(2)"  class="btn_green2">등록하기</button></div>
        <div class="popup"></div>
        <div class="popupbg"></div>
    </div>
</main>
<footer th:replace="layout/admin/footer.html"></footer>
<script>
    const popup = document.querySelector('.popup')
    const bg = document.querySelector('.popupbg')
    function openCouponPopup(a) {
        if(a===1){
            popup.innerHTML = `
            <div class="header">
                <div class="title">쿠폰정보 <span style="color: white">1012000000</span></div>
                <div onclick="closeShopPopup()" class="btn">X</div>
            </div>
            <div style="margin: 20px; margin-bottom: 30px;">
                <table class="tb4">
                    <tr>
                        <th>쿠폰번호</th>
                        <td><input value="101200000"></td>
                    </tr>
                    <tr>
                        <th>발급처</th>
                        <td><input value="101200000"></td>
                    </tr>
                    <tr>
                        <th>쿠폰종류</th>
                        <td><input value="101200000"></td>
                    </tr>
                    <tr>
                        <th>쿠폰명</th>
                        <td><input value="101200000"></td>
                    </tr>
                    <tr>
                        <th>혜택</th>
                        <td><input value="101200000"></td>
                    </tr>
                    <tr>
                        <th>사용기간</th>
                        <td>
                            ㅁㄴㅇㅁㄴㅇ
                        </td>
                    </tr>
                    <tr>
                        <th>유의사항</th>
                        <td><textarea readonly>ddddd</textarea></td>
                    </tr>
                </table>
                <div class="btns"><button>등록하기</button></div>
            </div>
            `
        } else {
            popup.innerHTML = `
            <div class="header">
                <div class="title">쿠폰등록 <span style="color: white">1012000000</span></div>
                <div onclick="closeShopPopup()" class="btn">X</div>
            </div>
            <div style="margin: 20px; margin-bottom: 30px;">
                <table class="tb4">
                    <tr>
                        <th>발급처</th>
                        <td><input readonly value="6" id="memId"></td>
                    </tr>
                    <tr>
                        <th>쿠폰명</th>
                        <td><input id="couponName"></td>
                    </tr>
                    <tr>
                        <th>혜택</th>
                        <td>
                            <select id="couponDiscount">
                                <option value="1000/w">1000원 할인</option>
                                <option value="2000/w">2000원 할인</option>
                                <option value="3000/w">3000원 할인</option>
                                <option value="10/p">10% 할인</option>
                                <option value="20/p">20% 할인</option>
                                <option value="50/p">50% 할인</option>
                                <option value="1000/d">배송비 1000원 할인</option>
                                <option value="2000/d">배송비 2000원 할인</option>
                                <option value="3000/d">배송비 3000원 할인</option>
                                <option value="all/d">배송비 무료</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>최소적용금액</th>
                        <td>
                            <input id="couponMinPrice">
                        </td>
                    </tr>
                    <tr>
                        <th>사용기간</th>
                        <td>
                            <input id="couponExpiration1" type="date"> ~ <input id="couponExpiration2" type="date">
                        </td>
                    </tr>
                    <tr>
                        <th>유의사항</th>
                        <td><textarea id="couponCaution"></textarea></td>
                    </tr>
                </table>
                <div class="btns"><button onclick="postCoupon(event)">등록하기</button></div>
            </div>
            `
        }
        popup.style.display = "block";
        bg.style.display = "flex";
    }

    function closeShopPopup() {
        popup.style.display = "none";
        bg.style.display = "none";
    }

    async function postCoupon(event) {
        const submitData = {
            'memId' : document.getElementById('memId').value,
            'couponName' : document.getElementById('couponName').value,
            'couponDiscount' : document.getElementById('couponDiscount').value,
            'couponMinPrice' : document.getElementById('couponMinPrice').value,
            'couponExpiration' : document.getElementById('couponExpiration1').value + '~' + document.getElementById('couponExpiration2').value,
            'couponCaution' : document.getElementById('couponCaution').value
        }

        const resp = await axios.post("/admin/coupon/coupon",submitData,{
            headers : {
                "Content-Type" : "application/json"
            }
        })
        if(resp.status===200){
            window.location.href = "/admin/coupon/coupons"
        }

    }

    async function updateCouponState(a){
        if(a===1) {
            console.log("발급종료버튼")
        } else if (a===2){
            console.log("발급다시하기버튼")
        }

    }
</script>