<header th:replace="layout/main/header.html"></header>
<link rel="stylesheet" th:href="@{/css/product/list.css}">
<link rel="stylesheet" th:href="@{/css/basic.css}">
<script th:src="@{/js/main.js}"></script>
<script>

    window.onload = function () {
        let currentURL = window.location.href;
        let splitURL = currentURL.split('?')[1];
        let sortCode = ""
        let sortText = '';
        if (splitURL !== undefined){
            let params = new URLSearchParams(window.location.search);
            sortCode = params.get('sort');
        }
        const sortNav = document.getElementsByClassName('sort')[0];
        const aTag = sortNav.querySelectorAll('a');

        switch (sortCode) {
            case 'prodSold':
                aTag[0].classList.add('navOn');
                sortText = '  판매많은순';
                break;
            case 'prodLowPrice':
                aTag[1].classList.add('navOn');
                sortText = '  낮은가격순';
                break;
            case 'prodHighPrice':
                aTag[2].classList.add('navOn');
                sortText = '  높은가격순';
                break;
            case 'prodScore':
                aTag[3].classList.add('navOn');
                sortText = '  평점높은순';
                break;
            case 'prodReview':
                aTag[4].classList.add('navOn');
                sortText = '  후기많은순';
                break;
            case 'prodRdate':
                aTag[5].classList.add('navOn');
                sortText = '  최근등록순';
                break;
            default:
                sortText = '';
        }

        document.getElementById('sortText').innerText = sortText;

    }

    function sort(sortType){
        const currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set('sort', sortType);
        window.location.href = currentUrl.toString();
    }
</script>
<main style="margin-top: 140px; gap: 0">
    <aside th:replace="layout/main/aside.html" style="margin: 0; margin-right: 30px"></aside>
    <div id="wrap">
        <!-- .aside -->
        <main id="main" style="height: auto;">
            <nav id="navi" style="width: 810px">
                <h2 class="sub_tit">상품목록</h2>
                <p class="location">
                    <span>HOME</span>
                    <span>패션·의류·뷰티</span>
                    <span>남성의류</span>
                    <span th:if="${param.sort != null}" id="sortText"></span>
                </p>
            </nav> <!-- .navi-->
            <div class="tab">
                <ul class="sort">
                    <li><a href="#" onclick="sort('prodSold')" > 판매많은순</a></li>
                    <li><a href="#" onclick="sort('prodLowPrice')" > 낮은가격순</a></li>
                    <li><a href="#" onclick="sort('prodHighPrice')" > 높은가격순</a></li>
                    <li><a href="#" onclick="sort('prodScore')"> 평점높은순</a></li>
                    <li><a href="#" onclick="sort('prodReview')" > 후기많은순</a></li>
                    <li><a href="#" onclick="sort('prodRdate')" > 최근등록순</a></li>
                </ul><!-- .array -->
            </div><!-- .tab -->
            <table class="tb1">
                <colgroup>
                    <col style="width: 20%;">
                    <col style="width: 40%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                </colgroup>
                <tr th:each="product, i:${products.getDtoList()}">
                    <td><img style="width: 138px; height: 110px;" th:src="@{'/file/'+${product.getProdListImg()}}" alt="상품 이미지"></td>
                    <td>
                        <a th:href="@{/prod/product(prodId=${product.getId()})}">
                            <span>[[${product.getProdName}]]</span> <br>
                            <span>[[${product.getProdSummary}]]</span>
                        </a>
                    </td>
                    <td>
                        <span>[[${#numbers.formatInteger(product.getTotalPrice(), 1)}]]원</span> <br>
                        <del>[[${#numbers.formatInteger(product.getProdPrice(), 1)}]]원</del>
                        <span>[[${#numbers.formatInteger(product.getProdDiscount(), 1)}]]%&#8595;</span> <br>
                        <span>배송비 [[${product.getProdDeliver}]]</span>
                        <img src="https://via.placeholder.com/89x19" alt="">
                    </td>
                    <td>
                        <img src="https://via.placeholder.com/19x19">
                        <span>&nbsp;&nbsp;[[${product.getSellCompany}]]</span> <br> <br>
                        <img src="https://via.placeholder.com/76x18" th:alt="${product.getSellGrade()}"> <br> <br>
                        <span>상품평</span>
                        <img src="https://via.placeholder.com/56x17">
                    </td>
                </tr>
            </table> <!-- tb1 -->
            <div class="page" th:if="${not #lists.isEmpty(products.dtoList)}">

                <th:block th:if="${products.prev}">
                    <a th:href="@{/prod/products/(pg=${products.start - 1}, cate=${cate})}" class="first"><<</a>
                </th:block>
                <th:block th:each="num:${#numbers.sequence(products.start, products.end)}">
                    <a th:href="@{/prod/products(pg=${num}, cate=${cate})}" th:class="${num == products.pg} ? 'on' : 'num'">[[${num}]]</a>
                </th:block>
                <th:block th:if="${products.next}">
                    <a th:href="@{/prod/products/(pg=${products.end + 1}, cate=${cate})}" class="first"><<</a>
                </th:block>

            </div>
        </main> <!-- #main-->
    </div><!-- #wrap -->
</main>
<footer th:replace="layout/main/footer.html"></footer>
