<link rel="stylesheet" th:href="@{/css/product/search.css}">
<link rel="stylesheet" th:href="@{/css/basic.css}">
<header th:replace="layout/main/header.html"></header>
<script th:src="@{/js/main.js}"></script>
<main style="margin-top: 140px; gap: 0">
    <aside th:replace="layout/main/aside.html" style="margin: 0; margin-right: 30px"></aside>
    <div id="wrap">
        <!-- .aside -->
        <main id="main" style="height: auto;">
            <nav id="navi" style="width: 810px">
                <h2 class="sub_tit">상품검색결과</h2>
                <p class="location">
                    <span>HOME</span>
                    <span>상품검색</span>
                    <span>검색결과</span>
                </p>
            </nav> <!-- #navi-->
            <table class="tb_search">
                <tr>
                    <th>
                        <span style="color: #c00000;">셔츠</span>
                        <span>검색결과</span>
                        <span>&#40;총 :</span>
                        <span style="color: #c00000;"> 20 </span>
                        <span>건&#41;</span>
                    </th>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="search">
                        <button class="btn_search"><a href="#">검색</a></button>
                        <input type="checkbox">상품명
                        <input type="checkbox">설명
                        <input type="checkbox">가격
                        <input type="number">
                        <span>&#126;</span>
                        <input type="number">
                    </td>
                </tr>
            </table> <!-- .tb_search-->
            <div class="tab">
                <ul class="array">
                    <li><a href="#">판매많은순</a></li>
                    <li><a href="#">낮은가격순</a></li>
                    <li><a href="#">높은가격순</a></li>
                    <li><a href="#">평점높은순</a></li>
                    <li><a href="#">후기많은순</a></li>
                    <li><a href="#">최근등록순</a></li>
                </ul><!-- .array -->
            </div><!-- .tab -->
            <table class="tb1">
                <colgroup>
                    <col style="width: 20%;">
                    <col style="width: 40%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                </colgroup>
                <tr>
                    <td><img src="https://via.placeholder.com/138x110" alt="상품 이미지"></td>
                    <td>
                        <span style="font-size: 20px; font-weight: 700;">상품명</span> <br>
                        <span style="font-size: 16px;">간단한 상품 설명</span>
                    </td>
                    <td>
                        <strong style="font-size: 20px;">27,000원</strong> <br>
                        <del style="color: #7f7f7f; font-size: 16px;">30,000원&nbsp;</del>
                        <span style="font-size: 16px; color: #c00000;">10%&#8595;</span> <br>
                        <span style="font-size: 16px;">배송비 2,500</span>
                        <img src="https://via.placeholder.com/89x19" alt="">
                    </td>
                    <td>
                        <img src="https://via.placeholder.com/19x19">
                        <span style="font-size: 14px;">&nbsp;&nbsp;판매자</span> <br> <br>
                        <img src="https://via.placeholder.com/76x18"> <br> <br>
                        <span style="font-size: 14px;">상품평</span>
                        <img src="https://via.placeholder.com/56x17">
                    </td>
                </tr>
                <tr>
                    <td><img src="https://via.placeholder.com/138x110" alt="상품 이미지"></td>
                    <td>
                        <span style="font-size: 20px; font-weight: 700;">상품명</span> <br>
                        <span style="font-size: 16px;">간단한 상품 설명</span>
                    </td>
                    <td>
                        <strong style="font-size: 20px;">27,000원</strong> <br>
                        <del style="color: #7f7f7f; font-size: 16px;">30,000원&nbsp;</del>
                        <span style="font-size: 16px; color: #c00000;">10%&#8595;</span> <br>
                        <span style="font-size: 16px;">배송비 2,500</span>
                        <img src="https://via.placeholder.com/89x19" alt="">
                    </td>
                    <td>
                        <img src="https://via.placeholder.com/19x19">
                        <span style="font-size: 14px;">&nbsp;&nbsp;판매자</span> <br> <br>
                        <img src="https://via.placeholder.com/76x18"> <br> <br>
                        <span style="font-size: 14px;">상품평</span>
                        <img src="https://via.placeholder.com/56x17">
                    </td>
                </tr>
                <tr>
                    <td><img src="https://via.placeholder.com/138x110" alt="상품 이미지"></td>
                    <td>
                        <span style="font-size: 20px; font-weight: 700;">상품명</span> <br>
                        <span style="font-size: 16px;">간단한 상품 설명</span>
                    </td>
                    <td>
                        <strong style="font-size: 20px;">27,000원</strong> <br>
                        <del style="color: #7f7f7f; font-size: 16px;">30,000원&nbsp;</del>
                        <span style="font-size: 16px; color: #c00000;">10%&#8595;</span> <br>
                        <span style="font-size: 16px;">배송비 2,500</span>
                        <img src="https://via.placeholder.com/89x19" alt="">
                    </td>
                    <td>
                        <img src="https://via.placeholder.com/19x19">
                        <span style="font-size: 14px;">&nbsp;&nbsp;판매자</span> <br> <br>
                        <img src="https://via.placeholder.com/76x18"> <br> <br>
                        <span style="font-size: 14px;">상품평</span>
                        <img src="https://via.placeholder.com/56x17">
                    </td>
                </tr>
            </table> <!-- tb1 -->
            <div class="page">
                <a href="#">&lt; 이전</a>
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <a href="#">다음 &gt;</a>
            </div> <!-- page -->
        </div> <!-- #main-->
    </div><!-- #wrap -->
</main>
<footer th:replace="layout/main/footer.html"></footer>
