

.dis1 {
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    height: 37px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 20px;
}

.tb1, .tb2, .tb3 {
    border-collapse: collapse;
    border-top: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
    width: 100%;
}

.tb1 tr, .tb2 tr, .tb3 tr {border-bottom: 1px solid #A6A6A6;}
.tb1 th, .tb2 th, .tb3 th {background-color: #DCE6F2;width: 110px;height: 40px;}
.tb1 td, .tb2 td, .tb3 td {
    height: 28.29px;
    padding-left: 10px;
    text-align: left;
    outline: none;
    border: solid #A6A6A6;
    border-width: 1px 0;
}
.s2 {
    width: 780px;
    margin: 0 auto;
}
.tb1 .inp, .tb2 td .inp, .tb3 td .inp  {
    outline: none;
    border: 2px solid #bfbfbf;
}

.tb1 td .inp {width: 300px;height: 25px;padding: 3px 0 3px 10px;}
.tb2 td .inp {width: 200px;height: 27px;padding-left: 10px;}
.tb3 td .inp {width: 200px;height: 26px;}


.btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn button {
    background-color: #8eb4e3;
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
input.inp[type="file"]{border: none}

#view-versions {
    margin-left: 20px;
    background: #FFF;
    color: #A6A6A6;
    border: none;
    cursor: pointer;
}

#dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin-top: 41px;
    margin-right: 95px;
    width: 200px;
    z-index: 100;
    display: none;
    max-height: 200px;
    overflow: auto;
}

#dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#dropdown-menu li {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#dropdown-menu li:hover {
    background-color: #f0f0f0;
}
#dropdown-menu::-webkit-scrollbar{
    width: 7px;
}

#dropdown-menu::-webkit-scrollbar-thumb{
    background-color: #5f5f5f75;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 50px;
}

#dropdown-menu.dropdown-hidden {
    display: none;
}

#dropdown-menu.dropdown-visible {
    display: block;
}
td>img{margin: 10px; max-height: 60px; max-width: 100%}

.popup, .popupbg {
    display: none;
}

.popupbg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 735.53px;
    background-color: white;
    z-index: 1000;
    height: auto;
}

.popup .header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #404040;
    color: white;
    margin-bottom: 0;
}

.popup .header .title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.popup .btns {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0 !important;
}

.popup .submit-btn {
    background-color: #00B050;
    width: 130px;
    height: 40px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    color: white;

    &:hover {
        opacity: 0.8;
    }
}
.popup .prev{left:0; background: url(/images/icon_prev_arrow.png) center no-repeat rgba(0,0,0,0.3);background-size: auto 20px;border-radius: 0 20px 20px 0;}
.popup .prev:hover{background: url(/images/icon_prev_arrow.png) center no-repeat rgba(0,0,0,0.5);background-size: auto 20px;}
.popup .next{right:0;background:url(/images/icon_next_arrow.png) center no-repeat rgba(0,0,0,0.3);background-size: auto 20px;border-radius: 20px 0 0 20px;}
.popup .next:hover{background: url(/images/icon_next_arrow.png) center no-repeat rgba(0,0,0,0.5);background-size: auto 20px;}
.popup .indicator a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
}


.popup tr.modified{background: aliceblue;}
.popup .body {padding: 50px;}
.popup .btn {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}