li{list-style:none;}
.container {width: 800px;user-select: none;}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto 20px;
}

.header-title{font-weight: 600;font-size: 20px;}
.header-right {font-size: 14px;}
.header-right .bold {font-weight: 600;}

.header-gubun {height: 2px;background: url(/images/Vector.png) no-repeat;margin: 0 auto;margin-bottom: 30px; background-size: cover;}
.header-gubun2 {height: 2px;background: url(/images/Vector2.png) no-repeat;background-size: cover;margin: 0 auto;}

.header-title1 {font-weight: 600;font-size: 15px;margin: 20px 0;}
.header-title2 {font-weight: 600;font-size: 15px;margin-bottom: 20px;}