.container {
  width: 800px;
}

/* 보더 추가 */
.qna-nav {
  border-bottom: 1px solid black;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 70px;
}

table {
  width: 100%;
  height: auto;
  /* text-align: center; */
  border-top: 1px solid #999999;
  border-collapse: collapse;
  margin-top: 5px;
}

tr {
  height: 42.5px;
}

th {
  border-bottom: 1px solid #999999;
}

td {
  border-bottom: 1px solid #999999;
  padding: 8px 0;
}

.button-group {
  display: flex;
  justify-content: end;
  gap: 12px;
  margin-top: 48px;
  padding: 0 12px;
}

.button--delete {
  width: 100px;
  height: 40px;
  background: #cfcfcf;
  border: 0;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.button--reply {
  width: 100px;
  height: 40px;
  background: #cfcfcf;
  border: 0;
  color: white;
  font-weight: 700;
  cursor: pointer;
}


.button--back {
  background-color: #f44336;
  color: white !important; /* 글자 색상을 흰색으로 강제 적용 */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: box-shadow 0.3s ease;
}

.button--write {
  width: 100px;
  height: 40px;
  background: #8bbedc;
  border: 0;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.paging {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.qnaCate {
  height: 36px;
  appearance: none;
  width: 100px;
}

.qnaTitle {
  width: 100%;
  height: 36px;
}

.qnaContent {
  font-size: 16px;
  width: 100%;
  height: 200px;
}
