<link rel="stylesheet" th:href="@{/css/admin/user/point.css}" />
<link rel="stylesheet" th:href="@{/css/basic.css}">
<body>
<header th:replace="layout/admin/header.html"></header>
<main>
    <aside th:replace="layout/admin/aside.html"></aside>
    <div id="wrap">
        <div class="container">
            <nav id="navi">
                <h2 class="sub_tit">포인트관리</h2>
                <p class="location">
                    <span>HOME</span>
                    <span>회원관리</span>
                    <span>포인트관리</span>
                </p>
            </nav>
            <form class="search">
                <select name="search" class="search-option">
                    <option value="상품명">아이디</option>
                    <option value="상품번호">이름</option>
                    <option value="판매자">이메일</option>
                    <option value="제조사">휴대폰</option>
                </select>
                <input class="search-keyword" type="text" name="keyword" placeholder="키워드 입력">
                <button class="search-btn" type="submit">검색</button>
            </form>

            <div class="header-gubun-bottom">
            </div>
            <table class="tb1">
                <colgroup>
                    <col style="width: 8%;">
                    <col style="width: 8%;">
                    <col style="width: 12%;">
                    <col style="width: 12%;">
                    <col style="width: 12%;">
                    <col style="width: 12%;">
                    <col style="width: 16%;">
                    <col style="width: 16%;">
                </colgroup>
                <tr>
                    <th class="checkbox">
                        <input type="checkbox" id="allCheckbox">
                    </th>
                    <th>번호</th>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>지급 포인트</th>
                    <th>잔여 포인트</th>
                    <th>지급 내용</th>
                    <th>지급 날짜</th>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="checkbox">
                    </td>
                    <td>5</td>
                    <td>xxx...</td>
                    <td>정우성</td>
                    <td>1,000</td>
                    <td>15,000</td>
                    <td>구매확정 포인트 지급</td>
                    <td>0000-00-00 00:00:00</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="checkbox">
                    </td>
                    <td>5</td>
                    <td>xxx...</td>
                    <td>정우성</td>
                    <td>1,000</td>
                    <td>15,000</td>
                    <td>구매확정 포인트 지급</td>
                    <td>0000-00-00 00:00:00</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="checkbox">
                    </td>
                    <td>5</td>
                    <td>xxx...</td>
                    <td>정우성</td>
                    <td>1,000</td>
                    <td>15,000</td>
                    <td>구매확정 포인트 지급</td>
                    <td>0000-00-00 00:00:00</td>
                </tr>
            </table>
            <div class="btns">
                <button class="delete-btn">선택수정</button>
            </div>
            <div class="page">
                <a href="#" class="first">이전</a>
                <a class="on" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#" class="last">다음</a>
            </div>
        </div><!--container-->
    </div>
</main>
<footer th:replace="layout/admin/footer.html"></footer>
