<link rel="stylesheet" th:href="@{/css/admin/user/user.css}" />
<link rel="stylesheet" th:href="@{/css/basic.css}">
<!--
     날짜 : 2024/10/25 (금)
     이름 : 김민희
     내용 : 관리자 회원목록 출력을 위한 타임리프 구문 추가

     수정이력
      - 2025/10/27 (일) 김민희 - 회원수정 팝업호출 기능 추가
-->
<body>
<header th:replace="layout/admin/header.html"></header>
<main style="margin: 0 auto; margin-bottom: 50px; margin-top: 50px;">
    <aside th:replace="layout/admin/aside.html"></aside>
    <div id="wrap">
        <div class="container">
            <nav id="navi">
                <h2 class="sub_tit">회원목록</h2>
                <p class="location">
                    <span>HOME</span>
                    <span>회원관리</span>
                    <span>회원목록</span>
                </p>
            </nav>
            <form th:action="@{/admin/user/user}" method="get" class="search">
                <select name="search" class="search-option">
                    <option th:selected="${search=='couponName'}" value="couponName">아이디</option>
                    <option value="상품명">아이디</option>
                    <option value="상품번호">이름</option>
                    <option value="판매자">이메일</option>
                    <option value="제조사">휴대폰</option>
                </select>
                <input class="search-keyword" type="text" name="keyword" placeholder="키워드 입력">
                <button class="search-btn" type="submit">검색</button>
            </form>


            <div class="header-gubun-bottom"></div>

            <table class="tb1 user">
                <colgroup>
                    <col style="width: 5%;">
                    <col style="width: 5%;">
                    <col style="width: 12%;">
                    <col style="width: 7%;">
                    <col style="width: 5%;">
                    <col style="width: 12%;">
                    <col style="width: 10%;">
                    <col style="width: 5%;">
                    <col style="width: 12%;">
                    <col style="width: 12%;">
                    <col style="width: 8%;">
                    <col style="width: 7%;">
                </colgroup>
                <thead>
                    <tr>
                        <th class="checkbox">
                            <input type="checkbox" id="allCheckbox">
                        </th>
                        <th>번호</th>
                        <th>아이디</th>
                        <th>이름</th>
                        <th>성별</th>
                        <th>등급</th>
                        <th>포인트</th>
                        <th>이메일</th>
                        <th>휴대폰</th>
                        <th>가입일</th>
                        <th>상태</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="cust : ${customers}">
                   <!-- 번호, 아이디, 이름, 성별, 등급, 포인트, 이메일, 휴대폰, 가입일, 상태, 관리 -->
                    <th class="checkbox">
                        <input type="checkbox" id="allCheckbox2">
                    </th>
                    <td th:text="${cust.id}">번호</td>

                    <td th:text="${cust.memUid}">아이디</td>
                    <td th:text="${cust.custName}">이름</td>
                    <td th:text="${cust.custGender?'남':'여'}">성별</td>

                    <td>
                        <select name="search" class="grade custgrade" th:data-id="${cust.memUid}">
                            <option value="VVIP" th:selected="${cust.custGrade}=='VVIP'">VVIP</option>
                            <option value="VIP" th:selected="${cust.custGrade}=='VIP'">VIP</option>
                            <option value="Gold" th:selected="${cust.custGrade}=='Gold'">Gold</option>
                            <option value="Silver" th:selected="${cust.custGrade}=='Silver'">Silver</option>
                            <option value="Family" th:selected="${cust.custGrade}=='Family'">Family</option>
                        </select>
                    </td>

                    <td th:text="${cust.custPoint}">포인트</td>
                    <td th:text="${cust.custEmail}">이메일</td>
                    <td th:text="${cust.custHp}">휴대폰</td>
                    <td th:text="${cust.memRdate}">가입일</td>

                    <!-- 회원상태 (4가지 - 정상, 중지, 휴면, 탈퇴) -->
                    <td th:if="${cust.memState == 'stop'}" th:data-id="${cust.memState}" onclick="stateChanger(event)" class="condition stop">중지</td>
                    <td th:if="${cust.memState == 'basic'}" th:data-id="${cust.memState}" onclick="stateChanger(event)" class="condition basic">정상</td>
                    <td th:if="${cust.memState == 'sleep'}" th:data-id="${cust.memState}" onclick="stateChanger(event)" class="condition sleep">휴면</td>
                    <td th:if="${cust.memState == 'reave'}" th:data-id="${cust.memState}" onclick="stateChanger(event)" class="condition reave">탈퇴</td>

                    <td class="td-admin">
                        <input type="button" value="[ 수정 ]" onclick="openCustUpdatePopup(event)" id="buttonId" th:data-id="${cust.id}">
                        <input type="button" value="[ 중지 ]">
                    </td>
                </tr>
                </tbody>

            </table><!-- .tb1 .user-->

            <div class="btns">
                <button class="delete-btn">선택수정</button>
            </div><!-- .btns -->

            <!-- 페이지 이동 -->
            <div class="page">
                <a class="none" th:href="@{/admin/user/user(page=0, searchType=${searchType}, keyword=${keyword})}"><<</a>
                <a class="none" th:href="@{/admin/user/user(page=${page - 2}, searchType=${searchType}, keyword=${keyword})}" th:if="${page>=2}" th:text="${page}-1"></a>
                <a class="none" th:href="@{/admin/user/user(page=${page - 1}, searchType=${searchType}, keyword=${keyword})}" th:if="${page>=1}" th:text="${page}"></a>
                <a class="active" style="font-weight: 600; text-decoration: underline;" th:text="${page}+1"></a>
                <a class="none" th:href="@{/admin/user/user(page=${page + 1}, searchType=${searchType}, keyword=${keyword})}" th:if="${(totalPages - page)>=2}" th:text="${page}+2"></a>
                <a class="none" th:href="@{/admin/user/user(page=${page + 2}, searchType=${searchType}, keyword=${keyword})}" th:if="${(totalPages - page)>=3}" th:text="${page}+3"></a>
                <a class="none" th:href="@{/admin/user/user(page=${totalPages - 1}, searchType=${searchType}, keyword=${keyword})}" >>></a>
            </div><!-- .page -->

            <div class="popup"></div><!-- .popup -->
            <div class="popupbg"></div><!-- .popupbg -->
        </div><!-- .container -->
    </div><!-- .wrap -->

</main>
<footer th:replace="layout/admin/footer.html"></footer>

<script>
    // [ 수정 ] 버튼 클릭 시 팝업 호출
    const popup = document.querySelector(".popup");
    const bg = document.querySelector(".popupbg");

    document.getElementById("buttonId").addEventListener("click", openCustUpdatePopup);


    async function openCustUpdatePopup(event){
        const id = event.target.dataset.id;
        console.log(id);


        fetch(`/admin/user/user/${id}`,{
            method : 'GET',
            headers : {
                "Content-Type" : "application/json"
            }
        })
            .then(resp => {
                console.log(resp);
                if (!resp.ok) {
                    return resp.json().then(err => {
                        console.error('Server responded with an error:', err);
                        throw new Error(`Error ${resp.status}: ${err.message || JSON.stringify(err)}`);
                    });
                }
                return resp.json();
            })
            .then(data => {
                console.log('Response Data:', data);
                if(data.id>0){
                    popup.innerHTML = `

            <div class="header">
                <div class="title">회원수정</div>
                <div onclick="closePopup()" class="btn">X</div>
            </div>

            <div style="margin: 20px; margin-bottom: 30px;">
                <table class="tb4">
                    <tr>
                        <th>아이디</th>
                        <td><input readonly value="${data.memUid}" ></td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td><input readonly value="${data.custName}"></td>
                    </tr>
                    <tr>
                        <th>성별</th>
                        <td>

                            <label for=""><input value="true" type="radio" name="custGender">남</label>

                            <label for=""><input value="false" type="radio" name="custGender">여</label>
                        </td>
                    </tr>
                    <tr>
                        <th>등급</th>
                        <td>${data.custGrade}</td>

                    </tr>
                    <tr>
                        <th>상태</th>
                        <td>${data.memState}</td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td><input readonly value="${data.custEmail}"></td>
                    </tr>
                    <tr>
                        <th>휴대폰</th>
                        <td><input readonly value="${data.custHp}"></td>
                    </tr>
                    <tr>
                        <th>우편번호</th>
                        <td><input readonly value="${data.custAddr1}"></td>
                    </tr>
                    <tr>
                        <th>기본주소</th>
                        <td><input readonly value="${data.custAddr2}"></td>
                    </tr>
                    <tr>
                        <th>상세주소</th>
                        <td><input readonly value="${data.custAddr3}"></td>
                    </tr>
                    <tr>
                        <th>가입일</th>
                        <td>${data.memRdate}</td>
                    </tr>
                    <tr>
                        <th>최근 로그인 날짜</th>
                        <td>${data.custAddr}</td>
                    </tr>
                    <tr>
                        <th>기타</th>
                        <td><textarea readonly placeholder="회원에 대한 기타정보입력"></textarea></td>
                    </tr>
                </table>
            </div>
            <div style="margin-bottom:20px" class="btns">
                <button onclick="closePopup(event)">수정하기
            </button></div>
            `
                    popup.style.display = "block";
                    bg.style.display = "flex";
                }
            })
            .catch(err => {
                console.error('Error:', err);
            })
    }

    // 팝업 닫기
    function closePopup() {
        popup.style.display = "none";
        bg.style.display = "none";
    }

    // 회원 상태 (4가지 - 정상, 중지, 휴면, 탈퇴) if문 스크립트
    async function stateChanger(event){
        const submitData = {
            "id" : event.target.dataset.id
        }
        const resp = await axios.patch("/admin/user/user",submitData,{
            headers : {
                "Content-Type" : "application/json"
            }
        })
        window.location.href = "/admin/user/user"
    }

    // 선택 수정
    // 수정 버튼 클릭 시


</script>