<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn 번창하세여~</title>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo">
            <a href="#home"><img th:src="@{/images/footer_logo2.png}" alt="LotteOn 로고"></a>
        </div>
        <ul class="menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#culture">기업문화</a></li>
            <li><a href="#story">소식과 이야기</a></li>
            <li><a href="#recruit">채용</a></li>
            <li><a href="#media">미디어</a></li>
        </ul>
    </nav>
</header>