/* 초기화 */
* {margin: 0;padding: 0;font-size: 14px;}
ul, ol {list-style: none;margin: 0;padding: 0;}
a {text-decoration: none;color: #111;}
input, textarea {outline: none;}
body{height: 100vh;}
#my {width: 1100px;margin: 0 auto; overflow: hidden;}
#my h3{ font-size: 16px; margin-top: 20px; display: flex; justify-content: space-between; }
#my h3>a[href]{color: #000; font-weight: 400;}

#my > .info {width: 100%; height: 75px; background: #F2F2F2; display: flex; justify-content: space-between; align-items: center; box-sizing: border-box; padding: 20px;}
#my > .info > h2.tit{font-size: 18px; font-weight: 700;}
#my > .info table td { border-left: 1px solid #D9D9D9; text-align: center; padding: 0 10px; font-size: 16px;}
#my > .info table td:first-child { border-left: none;}

#my > aside {float: left; width: 200px; height: 700px; display: flex; flex-direction: column;align-items: center;border-right: 1px solid #D9D9D9;}
#my > aside > ul{height: 300px;width: 150px;display: flex;flex-direction: column;text-align: left;}
#my > aside > ul > li {margin: 10px;}
#my > nav tr > td > a {display: inline-block; width: 100%;}

#my > main {width: 810px; height: auto;float: left; margin: 30px; box-sizing: border-box;}
#my > main  .banner {width: 810px; height: 86px;}

/* 기간별 조회 */
#my section > .byDate ul,
#my section > .byDate p,
#my section > .byDate ul>li {display: inline-block;}
#my section > .byDate {width: 100%;height: auto;margin-top: 16px;padding: 16px;background-color: #f7f7f7;border: 1px solid #c7c7c7;box-sizing: border-box;overflow: hidden;}
#my section > .byDate > * {float: left;font-family: '돋움';color: #444;}
#my section > .byDate > .tit {width: 70px;height: 11px;margin-right: 20px;margin-top: 6px;}
#my section > .byDate > ul > li {height: 100%;box-sizing: border-box;}
#my section > .byDate > ul a {display: block;width: 40px;height: 27px;text-align: center;line-height: 27px;}
#my section > .byDate > ul a:hover {text-decoration: underline;}
#my section > .byDate > .date_3ea {width: 150px;height: 29px;}
#my section > .byDate > .date_5ea {width: 250px;height: 29px;}
#my section > .byDate > p {width: 190px;height: 29px;padding: 5px;box-sizing: border-box;background-color: #FFF;margin-right: 5px;}
#my section > .byDate > p > span {display: inline-block;margin: 0 4px;}
#my section > .byDate input[type=date] {width: 80px;border: none;}
#my section > .byDate > .btnConfirm {width: 69px;height: 27px;border: none;}

/* 테이블 공통설정 */
#my article > table {table-layout: fixed;}
#my article > table  {width: 100%;height: auto;border-top: 2px solid #444;margin-top: 6px;border-collapse: collapse;}
#my article > table  * {font-family: '돋움';color: #444; text-align: center;}
#my article > table th {padding: 6px;background-color: #a5a7a5;box-sizing: border-box;color: #fff; font-weight: 600;}
#my article > table td {padding: 10px;border-bottom: 1px solid #aaa;box-sizing: border-box;overflow: hidden; padding: 20px 0;}

#my table.order td:nth-of-type(2) *,
#my table.review td:nth-of-type(3),
#my table.qna td:nth-of-type(4){text-align: left;}

#my table.review td:nth-of-type(3),
#my table.qna td:nth-of-type(4){white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

/* 주문내역 테이블 */
#my table.order tr > th:nth-child(1) { width: 15%; }
#my table.order tr > th:nth-child(2) { width: 50%; }
#my table.order tr > th:nth-child(3) { width: 15%; }
#my table.order tr > th:nth-child(4) { width: 20%; }

#my table.order .thumb {float: left;width: 120px;height: 120px;overflow: hidden;text-align: center;}
#my table.order .thumb > img {max-width: 100%;width: auto;height: 100%;}

#my table.order ul {float:left;margin-left: 10px;margin-right: 10px;}
#my table.order ul > li {margin: 4px 0;}

#my table.order .prodName {max-width: 250px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#my table.order .prodPrice {margin-top: 6px;font-family: '고딕';font-size: 16px;font-weight: bold;color: #222;}
#my table.order .prodPrice::after {content: '원';font-size: 12px;}
#my table.order .confirm{display: flex; flex-direction: column; align-items: center;}
#my table.order .confirm > a {display: block;width: 100px;height: 30px; padding: 6px; box-sizing: border-box; font-size: 12px;}
#my table.order a {margin-top: 2px;font-family: '돋움';color: #676767;line-height: 19px;}


#my table.order .color{background: #558ED5; color: #FFF;}
#my table.order .grey{background: #F2F2F2; color: #000; border: 1px solid #808080;}

/* 포인트 적립 테이블 */
#my table.point tr > th:nth-child(1) { width: 14%; }
#my table.point tr > th:nth-child(2) { width: 14.5%; }
#my table.point tr > th:nth-child(3) { width: 22%; }
#my table.point tr > th:nth-child(4) { width: 14.5%; }
#my table.point tr > th:nth-child(5) { width: 19%; }
#my table.point tr > th:nth-child(6) { width: 16%; }

/* 상품평 테이블 */
#my table.review tr > th:nth-of-type(1) { width: 9.5%; }
#my table.review tr > th:nth-of-type(2) { width: 20%; }
#my table.review tr > th:nth-of-type(3) { width: 33%; }
#my table.review tr > th:nth-of-type(4) { width: 18%; }
#my table.review tr > th:nth-of-type(5) { width: 19.5%; }

/* 문의내역 테이블 */
#my table.qna tr > th:nth-child(1) { width: 8%; }
#my table.qna tr > th:nth-child(2) { width: 14%; }
#my table.qna tr > th:nth-child(3) { width: 13%; }
#my table.qna tr > th:nth-child(4) { width: 39%; }
#my table.qna tr > th:nth-child(5) { width: 14%; }
#my table.qna tr > th:nth-child(6) { width: 12%; }
#my table.qna tr > td .success{color: #00B050;}
#my table.qna tr > td .check{color: #808080;}

/* 쿠폰내역 테이블 */
#my table.coupon tr > th:nth-child(1) { width: 25.5%; }
#my table.coupon tr > th:nth-child(2) { width: 16%; }
#my table.coupon tr > th:nth-child(3) { width: 20.5%; }
#my table.coupon tr > th:nth-child(4) { width: 18%; }
#my table.coupon tr > th:nth-child(5) { width: 20%; }

/* 쿠폰내역 안내 */
#my ul.notice {list-style: disc; margin: 30px; width: 90%;}
#my ul.notice > li { padding-left: 20px; color: #777; line-height: 17px; font-size: 14px; font-weight: 400;}

/* 나의설정 테이블 */
#my table.user{background: #DCE6F2; border: 0.5px solid #BFBFBF; table-layout: fixed;}
#my table.user tr:nth-of-type(1){height: 17px;}
#my table.user tr:nth-of-type(2){height: 105px;}
#my table.user tr:nth-of-type(3){height: 17px;}
#my table.user div{display: flex; justify-content: space-between;}
#my table.user b{font-size: 16px;}
#my table.user a[href]{text-decoration: underline; color: #0070C0;}
#my table.user td{border-left: #BFBFBF 1px solid; border-width: 0 0 0 1px; text-align: left; padding: 0 20px;}
#my table.user p{ color: #808080; text-align: left; box-sizing: border-box; margin-top: 10px;}


#my table.myInfo{width: 100%;height: auto;border: 1px solid #000000; border-width: 0.4px 0 0.4px 0 ; margin-top: 6px;border-collapse: collapse;}
#my table.myInfo  * {font-family: '돋움';color: #444; text-align: left;}
#my table.myInfo th {padding: 6px;background-color: #F2F2F2;box-sizing: border-box;width: 150px; font-weight: 400; padding-left: 20px; vertical-align: top; padding-top: 15px;}
#my table.myInfo td {padding: 5px 10px;box-sizing: border-box;overflow: hidden; font-size: 14px;}

#my table.myInfo select,
#my table.myInfo input{margin: 3px; border: #BFBFBF 1px solid; height: 30px; padding: 0 5px;}
#my table.myInfo input[disabled]{border: none; background: #FFF; text-align: left;}
#my table.myInfo input[type="number"]{width: 80px;}
#my table.myInfo input[name="email"]{width: 100px;}
#my table.myInfo input.addr{width: 50%;}
#my table.myInfo .btn{cursor: pointer; padding: 0 5px; height: 30px; width: 85px;font-family: '돋움'; text-align: center; border-color: #808080;}
#my table.myInfo .quit{background-color: #C00000; color: #FFF; border: none;}
#my form>p{display: flex; justify-content: center;}
#my form>p>input.submit{background: #558ED5; color: #FFF; margin-top: 20px; border: none; text-align: center; width: 200px; height: 40px;}


/* 페이징 */
#my .paging {margin: 20px 0;text-align: center;}
#my .paging > li {display: inline-block;height: 19px;box-sizing: border-box;}
#my .paging > li > .prev,
#my .paging > li > .next{width: 30px;display: inline-block;}
#my .paging > li > .num{width: 15px;display: inline-block;}
#my .paging > li > a {color: #777;}
#my .paging > li > a.on {font-weight: bold;color: #000;}

#my .page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}