@charset "UTF-8";

*{margin: 0; padding:0; font-family: "Inter", sans-serif; font-size: 12px; font-weight: 400;}
html{color:#111; position:relative;}
html, body{height:100%; }
body{font-size:12px; line-height:18px; font-family: 'Noto Sans KR', sans-serif;}
a, address, blockquote, br, fieldset, legend, label, form, input, select, textarea, button, cite, code, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, div, iframe, ul, ol, li, hr, img {margin: 0; padding: 0; outline:none;}
a{color:#111; text-decoration: none;}
img{border:none; vertical-align: top;}
ul, ol{list-style:none;}
address{font-style: normal;}
/* clearfix */
.cf{}
.cf::after {content: ""; display: block; clear: both;}

/* hyper link */
a, a:link, a:visited, a:active, a:hover{text-decoration: none; color: inherit;}

/* input outline */
input:active{outline: none;}
input:focus{outline: none;}

#wrap{
    display: flex;
    justify-content: center;
    gap: 6px;
}
/* aside 부분 */
.aside{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.aside1, .aside2{
    background-color: #111;
    padding: 20px;
    margin-bottom: 10px;
    width: 236px;
}

/* 메인 */
#main {
    width: 811px;
    height: 747px;
    border: 2px solid #D9D9D9;
}

/* navi 부분 */
#navi {
    width: 765px;
    height: auto;
    display: flex;
    justify-content: space-between; /* 두 요소를 양 끝에 배치 */
    align-items: center;
    border-bottom: 2px solid #000000;
    margin: 0 auto;;
}

.sub_tit {
   font-size: 16px;
   font-weight: 700;
   margin-left: 3px;
   margin-bottom: 8px;
   margin-top: 5px;
}

/* 로케이션 */
.location > span::after{content: ' \003E'; }
.location > span:last-of-type{font-weight: 700;}
.location > span:last-of-type:after{content:none;}

/* 완료문구 */
.clear {width: 797px;     height: 95px; text-align: center; margin-top: 65px;}
.clear > span:first-child{font-size: 24px; }
.clear > span:last-child{font-size: 16px; padding: 20px;}

/* tb1 */
.tb1 {width: 797px; height: auto; border-top: 2.5px solid #000; margin: 0 auto; margin-top: 20px; border-collapse: collapse;}
.tb1 th{height: 49px; border-bottom: 1px solid #bfbfbf; text-align: center;}
.tb1 td{text-align: center; height: 101px; border-bottom: 1px solid #bfbfbf; font-size: 14px;}
.img {display: flex; align-items: center;}
.img > img {margin-left: 20px; margin-right: 15px;}
.name_box > span:last-child {color: #7f7f7f;}
.tb1 td:last-child{color: #c00000;}

/* tb2 */
.total {width: 240px; height: 142px; float: right;
     background-color: #f2f2f2;
    padding: 20px;   margin-top: 30px;
}

.tb2 td {width: 115px; font-size: 14px; text-align: center; line-height: 25px;}

/* 주문 정보 */
.sub_tit2 {
    clear: both;
    width: 797px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 10px;
    border-bottom: 2.5px solid #000;
    line-height: 40px;
 }

 .tb3 {width: 797px; height: 108px; border-collapse: collapse; margin: 0 auto;}
 .tb3 th {background-color: #f2f2f2;    height: 37px; width: 177px; padding: 0 20px; font-size: 14px;text-align: center;}
 .tb3 td {font-size: 14px; text-indent: 15px;}
 .tb3 .payment span{font-size: 14px;}

 /* 배송 정보 */
 .sub_tit3 {
    width: 797px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 10px;
    border-bottom: 2.5px solid #000;
    line-height: 40px;
 }

 .tb4 {width: 797px; height: 108px; border-collapse: collapse; margin: 0 auto;}
 .tb4 th {background-color: #f2f2f2;  height: 37px; width: 177px; padding: 0 20px; font-size: 14px;text-align: center;}
 .tb4 td {font-size: 14px; text-indent: 15px;}