@charset "UTF-8";

*{margin: 0; padding:0; font-family: "Inter", sans-serif; font-size: 12px; font-weight: 400;}
html{color:#111; position:relative;}
html, body{height:auto; }
body{font-size:12px; line-height:18px; font-family: 'Noto Sans KR', sans-serif;}
a, address, blockquote, br, fieldset, legend, label, form, input, select, textarea, button, cite, code, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, div, iframe, ul, ol, li, hr, img {margin: 0; padding: 0; outline:none;}
a{color:#111; text-decoration: none;}
img{border:none; vertical-align: top;}
ul, ol{list-style:none;}
address{font-style: normal;}
/* clearfix */
.cf{}
.cf::after {content: ""; display: block; clear: both;}

/* hyper link */
a, a:link, a:visited, a:active, a:hover{text-decoration: none; color: inherit;}

/* input outline */
input:active{outline: none;}
input:focus{outline: none;}

#wrap{
    display: flex;
    justify-content: center;
    gap: 6px;
}
/* aside 부분 */
.aside{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.aside1, .aside2{
    background-color: #111;
    padding: 20px;
    margin-bottom: 10px;
    width: 236px;
}
/* 메인 */
#main {
    width: 811px;
    height: auto;
    margin-top: 200px;
}
/* navi 부분 */
#navi {
    width: 800px;
    height: auto;
    display: flex;
    justify-content: space-between; /* 두 요소를 양 끝에 배치 */
    align-items: center;
    border-bottom: 2px solid #000000;
    margin: 0 auto;;
}

.sub_tit {
   font-size: 16px;
   font-weight: 700;
   margin-left: 3px;
   margin-bottom: 8px;
   margin-top: 5px;
}
/* 로케이션 */
.location > span::after{content: ' \003E'; }
.location > span:last-of-type{font-weight: 700;}
.location > span:last-of-type:after{content:none;}

/* tb1 */
.tb1 {width: 797px; height: auto; border-top: 2.5px solid #000; margin: 0 auto; margin-top: 20px; border-collapse: collapse;}
.tb1 tr{ border-bottom: 1px solid #bfbfbf;}
.tb1 th{height: 49px; text-align: center; }
.tb1 td{text-align: center; height: 101px; font-size: 14px;}
.img {display: flex; align-items: center; display: inline-block;}
.img > img {margin-left: 20px; margin-right: 15px;}
.name_desc > span {display: flex; flex-direction: column; line-height: 1px;}
.name_desc > span:last-child {color: #7f7f7f;}
.tb1 td:last-child{color: #c00000;}

/* 선택 삭제 버튼 */
.btnDel {width: 96px; 
        height: 36px; 
        background-color: #f2f2f2; 
        border: 1px solid #d9d9d9;
        margin-left: 15px;
        margin-top: 10px;    
}

/* 주문 정보 */
.order_info {width: 450px; height: auto; float: left; margin: 21px 0 0 12px;}
.order_info h2 {margin-bottom: 20px; text-indent: 10px; height: 30px; margin-top: 30px;}

/* 배송 정보 */
.sub_tit2 {width: 418px; font-size: 16px; font-weight: 700;
           border-bottom: 1px solid #d9d9d9;}
.tb2 {width: 430px; height: auto; margin-left: 20px;}
.tb2 td > input {width: 170px; height: 21px; margin-top: 3px;}
.addr1, .addr2 {width: 317px !important; height: 21px;}
.btn_zip {width: 71px; height: 30px; border: 1px solid #bfbfbf; background-color: #d9d9d9; font-size: 14px;}

/* 할인 정보 */
.sub_tit3 {width: 418px; font-size: 16px; font-weight: 700;
    border-bottom: 1px solid #d9d9d9;}
.tb3 span {font-size: 14px; line-height: 17px; color: #808080;}
.tb3 span:nth-of-type(1),.tb3 span:nth-of-type(2) {color: #000;}
.point {width: 115px; height: 25px; margin-left: 30px; }
.btn_point {width: 71px; height: 30px; border: 1px solid #bfbfbf; background-color: #d9d9d9; font-size: 14px;}
.tb3 {font-size: 16px; margin-left: 20px;}
.usedPoint{margin-right: 20px;}

/*!* 결제 방법 *!*/
.sub_tit4 {width: 418px; font-size: 16px; font-weight: 700;
    border-bottom: 1px solid #d9d9d9;}
.tb4 td{display: flex; margin-left: 30px;}
.tb4 div{display: flex; flex-direction: column;}
.tb4 div p{height: 30px; line-height: 30px; width: 100px;}
.tb4 div:nth-of-type(2) p{width: 150px;}
.tb4 img{margin-left: 5px; width: 50px;margin-top: 4px;}



/* 전체합계 */
.total {width: 291px; height: auto;
        border: 2px solid #d9d9d9; float: right;
         margin-top: 50px; margin-left: 40px;
    padding: 30px 30px;
}
.tb5 {width: 277px; height: auto; margin-bottom: 30px;}
.tb5 th{text-align: left; font-size: 16px; height: 40px;
        font-weight: 700;}
.tb5 td {font-size: 14px; height: 25px;}
.tb5 tr:nth-of-type(7) > td:last-child {color: #c00000;}

.btn_order {width: 198px; height: 41px; 
            border: none; color: #fff;
            background-color: #cc3434;margin-left: 12px;}

.btn_order > a {font-size: 20px;}