<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join to LOTTE ON</title>
    <link rel="stylesheet" th:href="@{/css/company/index.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css}">
</head>
<header th:replace="layout/company/header.html"></header>

    <section class="hero-banner">
        <img src="/images/optimize.webp" alt="LotteON Banner" class="banner-img">
    </section>
<main class="container">
    <div class="contentHead">
        <h2>쇼핑을 새롭게, 세상을 이롭게 이끌</h2>
        <p>쇼핑 좀 해 본 인재를 모십니다!</p>
    </div>

    <div class="companyIntro">
        <p>롯데ON은 안정성과 혁신을 기반으로 우리만의 문화를 만들어가고 있습니다.<br>
            롯데ON과 함께 성장하실 분들을 기다립니다.</p>
    </div>

    <section class="recruitment-section">
        <div class="recruitTable">
            <a href="#" class="recruit-card">
                <div>
                    <h3>광고 플랫폼 기획</h3>
                    <span>광고사업 | UX | 경력 3~4년 | 롯데월드타워</span>
                </div>
                <button>Apply Now</button>
            </a>
            <a href="#" class="recruit-card">
                <div>
                    <h3>IT 인재 상시 영입(경력)</h3>
                    <span>IT | 경력 2~15년 | 롯데월드타워</span>
                </div>
                <button>Apply Now</button>
            </a>
            <a href="#" class="recruit-card">
                <div>
                    <h3>IT 인재 영입(신입)</h3>
                    <span>IT | 신입 | 롯데월드타워</span>
                </div>
                <button>Apply Now</button>
            </a>
        </div>
    </section>
</main>
<footer th:replace="layout/company/footer.html"></footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
    AOS.init(); // AOS 애니메이션 초기화
</script>
