<link rel="stylesheet" th:href="@{/css/event/attendance.css}">
<link rel="stylesheet" th:href="@{/css/basic.css}">
<script th:src="@{/js/main.js}"></script>
<header th:replace="layout/main/header.html"></header>
<main style="margin: 0 auto; margin-bottom: 50px; margin-top: 230px; border: none;">
    <div id="wrap" style=" margin: 0 auto;">
        <main id="main" style="height: auto;">
            <nav id="navi" style="width: 810px;">
                <h2 class="sub_tit">쿠폰이벤트</h2>
                <p class="location">
                    <span>HOME</span>
                    <span>이벤트</span>
                    <span>쿠폰이벤트</span>
                </p>
            </nav>


            <div class="event-month">10월</div>
        </main>
    </div>
</main>
<footer th:replace="layout/main/footer.html"></footer>