<!--
    이름 : 이상훈
    날짜 : 2024-10-28
    작업내용 : 커스터머 / 셀러 아이디찾기 기능 구현
 -->

<link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
<link rel="stylesheet" th:href="@{/css/auth/find.css}">
<link rel="stylesheet" th:href="@{/css/basic.css}">
<header th:replace="layout/main/header.html"></header>
<main id="find" style="margin-top: 240px;">
    <section class="top-sec">
        <article class="findinfo">
            <h2>아이디 찾기</h2>
            <p>아이디를 이미 알고 있나요? &nbsp;>><a th:href="@{/auth/findpwd}">비밀번호 재설정하기</a></p>
        </article>
    </section>
    <section class="bottom-sec">
        <article class="usertype customer" onclick="openSection('cust')">
            <img th:src="@{/images/icon_my.svg}">
            <h4>개인 회원</h4>
            <p>개인 회원 인증 후 아이디 찾기</p>
        </article>
        <article class="usertype seller" onclick="openSection('seller')">
            <img th:src="@{/images/icon_my.svg}">
            <h4>사업자 회원</h4>
            <p>사업자 회원 인증 후 아이디 찾기</p>
        </article>
    </section>
    <section class="find-sec">
        <div class="name-div">
            <span class="name-span">이름</span>
            <input id="name" type="text" class="long inp" name="name" placeholder="이름을 입력해주세요"><a href="" class="del-btn">×</a><br>
        </div>
        <div class="bizcode-div">
            <span class="bizcode-span">사업자등록번호</span>
            <input id="business" type="text" class="long inp" name="bizcode" placeholder="사업자등록번호 숫자 10자리를 입력해주세요"><a href="" class="del-btn">×</a><br>
        </div>
        <div>
            <span class="email-span">이메일</span>
            <input id="email" type="email" class="inp" name="email" placeholder="가입시 사용한 이메일을 입력해주세요">
            <button class="del-btn">×</button>
            <button class="btn send">인증번호 전송</button>
        </div>
        <div class="authcode-div">
            <span class="code-span">인증코드</span>
            <input id="verifyCode" type="number" class="inp" name="authcode" placeholder="인증 코드 숫자 6자리를 입력해주세요">
            <button class="del-btn">×</button><button class="btn submit">인증하기</button>
        </div>
    </section>

</main>

<footer th:replace="layout/main/footer.html"></footer>
<script>
    const find_section = document.querySelector('.find-sec');
    const nameDiv = document.getElementsByClassName('name-div')[0];
    const bizDiv = document.getElementsByClassName('bizcode-div')[0];
    const sendBtn = document.getElementsByClassName('send')[0];
    const submitBtn = document.getElementsByClassName('submit')[0];

    const nameInput = document.getElementsByName('name')[0];
    const bizInput = document.getElementsByName('bizcode')[0];
    const emailInput = document.getElementsByName('email')[0];
    const authInput = document.getElementsByName('authcode')[0];

    const inputs = [nameInput, bizInput, emailInput, authInput];
    let saveCode ;
    let result;
    function view(div){
        div.querySelector('span').style.color = '#000';
        div.getElementsByClassName('del-btn')[0].style.opacity = 1;
        div.getElementsByClassName('del-btn')[0].style.cursor = 'pointer';
    }

    function unview(div){
        div.querySelector('span').style.color = '#FFF';
        div.getElementsByClassName('del-btn')[0].style.opacity = 0;
        div.getElementsByClassName('del-btn')[0].style.cursor = 'text';
    }

    function openSection(type){
        find_section.style.display='block';

        if(type==="cust"){
            bizInput.value='';
            nameDiv.style.display='block';
            bizDiv.style.display='none';
            unview(bizDiv);
            sendBtn.dataset.type = 'cust';
            submitBtn.dataset.type = 'cust';
        }else if(type==='seller'){
            nameInput.value='';
            bizDiv.style.display='block';
            nameDiv.style.display='none';
            unview(nameDiv);
            sendBtn.dataset.type = 'seller';
            submitBtn.dataset.type = 'seller';
        }
        window.scrollTo({
            top: 200,
            behavior: 'smooth'
        });
    }

    inputs.forEach(input => {
        input.addEventListener('keyup', function() {
            const targetDiv = input.closest('div');
            if (input.value.trim() !== '') {
                view(targetDiv);
            } else {
                unview(targetDiv);
            }
        });
    });

    document.addEventListener('click', function(e){
        if(e.target.classList.contains('del-btn')){
            e.preventDefault();
            const targetDiv = e.target.closest('div');
            targetDiv.querySelector('input').value='';
            unview(targetDiv);
        }
        if(e.target.classList.contains('send')){
            e.preventDefault();
            const button = e.target;
            if(button.dataset.send === '1'){return;} //이미 발송했으면 더이상 진행되지 않음

            const where = e.target.dataset.type;

            if(where==='cust') {
                result = validateData(1);
                if(result==='false'){
                    return;
                } else {
                    let code = sendEmail(1,result)

                    code.then(result => {
                        console.log(result); // 출력: 993530
                        saveCode = result;
                        document.querySelector('.authcode-div').style.display='block';
                        window.scrollTo({
                            top: 300,
                            behavior: 'smooth'
                        });
                        button.style.background='#453a94';
                        button.style.cursor='default';
                        button.innerText='전송됨';

                        button.dataset.send = 1;
                    });
                }
            }else{
                result = validateData(2);
                if(result==='false'){
                    return;
                } else {
                    let code = sendEmail(2,result)

                    code.then(result => {
                        console.log(result); // 출력: 993530
                        saveCode = result;
                        document.querySelector('.authcode-div').style.display='block';
                        window.scrollTo({
                            top: 300,
                            behavior: 'smooth'
                        });
                        button.style.background='#453a94';
                        button.style.cursor='default';
                        button.innerText='전송됨';

                        button.dataset.send = 1;
                    });
                }
            }
        }
        if(e.target.classList.contains('submit')){
            e.preventDefault();

            console.log(saveCode)

            const button = e.target;
            if(button.dataset.auth === '1'){return;} //이미 인증했으면 더이상 진행되지 않음

            // 여기에 AuthCode 비교 쿼리 작성
            const authcode = authInput.value;
            const where = e.target.dataset.type;
            if(Number(authcode)===Number(saveCode)){
                alert('인증되었습니다.');
                button.style.background='#3b9a28';
                button.style.cursor='default';
                button.innerText='인증완료';
                button.dataset.auth = 1;
                if(where === 'cust'){
                    getEmail(1)
                } else {
                    getEmail(2)
                }


            } else {
                alert('인증실패하였습니다.')
            }


        }
    });

    function validateData(a){
        if(a===1){
            const submitData = {
                'name' : document.getElementById('name').value,
                'email' : document.getElementById('email').value
            }
            const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            if (submitData.name.trim() === '') {
                alert('이름을 입력해주세요.')
                return 'false';
            }

            if(submitData.email.trim() === ''){
                alert('이메일을 입력해주세요.')
                return 'false';
            }

            if (!emailPattern.test(submitData.email.trim())) {
                alert('유효한 이메일 주소를 입력해주세요.');
                return 'false';
            }

            return submitData;

        } else {
            const submitData = {
                'name' : document.getElementById('business').value,
                'email' : document.getElementById('email').value
            }
            const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            if (submitData.name.trim() === '') {
                alert('사업자등록번호를 입력해주세요.')
                return 'false';
            }

            if(submitData.email.trim() === ''){
                alert('이메일을 입력해주세요.')
                return 'false';
            }

            if (!emailPattern.test(submitData.email.trim())) {
                alert('유효한 이메일 주소를 입력해주세요.');
                return 'false';
            }

            return submitData;
        }
    }

    async function sendEmail(a,result){
        if(a===1){
            try {
                const resp = await axios.post("/auth/send/customer",result,{
                    headers : {
                        "Content-Type" : "application/json"
                    }
                })
                if(resp.status===200){
                    if(resp.data==='NF'){
                        alert("일치하는 정보가 없습니다.")
                        window.location.href="/auth/findid"
                    }
                    return resp.data;
                }

            } catch (e) {
                alert(e)
            }
        } else {
            try {
                const resp = await axios.post("/auth/send/seller",result,{
                    headers : {
                        "Content-Type" : "application/json"
                    }
                })
                if(resp.status===200){
                    if(resp.data==='NF'){
                        alert("일치하는 정보가 없습니다.")
                        window.location.href="/auth/findid"
                    }
                    return resp.data;
                }

            } catch (e) {
                alert(e)
            }
        }
    }

    async function getEmail(a){
        if(a===1){
            try {
                const resp = await axios.post("/auth/email/customer",result,{
                    headers : {
                        "Content-Type" : "application/json"
                    }
                })
                document.querySelector('.find-sec').style.display='none';
                const mainSection = document.getElementById('find')
                const newSection = document.createElement('section')
                newSection.innerHTML = `
                        <div style="display: flex; justify-content: space-around;">
                            <span style="display: inline; font-size: 20px;">아이디 :</span><span style="display: inline; font-size: 20px;">${resp.data}</span>
                        </div>
                `
                mainSection.appendChild(newSection);

            } catch (e) {
                alert('에러발생')
            }
        } else {
            try {
                const resp = await axios.post("/auth/email/seller",result,{
                    headers : {
                        "Content-Type" : "application/json"
                    }
                })
                document.querySelector('.find-sec').style.display='none';
                const mainSection = document.getElementById('find')
                const newSection = document.createElement('section')
                newSection.innerHTML = `
                        <div style="display: flex; justify-content: space-around;">
                            <span style="display: inline; font-size: 20px;">아이디 :</span><span style="display: inline; font-size: 20px;">${resp.data}</span>
                        </div>
                `
                mainSection.appendChild(newSection);

            } catch (e) {
                alert('에러발생')
            }
        }

    }


</script>

