
<link rel="stylesheet" th:href="@{/css/auth/login.css}">
<link rel="stylesheet" th:href="@{/css/basic.css}">
<header th:replace="layout/main/header.html"></header>
<main>
    <div class="container">
        <h3 class="header-title">로그인</h3>
        <div class="header-gubun"></div>
        <div class="main">
            <div class="main-inp">
                <form th:action="@{/auth/login/customer}" method="post" class="inp-top">
                    <div class="top-left">
                        <div class="inp-id">
                            <label class="label-id label">아이디 <input name="userName" class="id inp" type="text"></label>
                        </div>
                        <div class="inp-pwd">
                            <label class="label-pwd label">비밀번호<input name="pwd" class="pwd inp" type="password"></label>
                        </div><!-- inp-pwd -->
                    </div>
                    <div class="top-right">
                        <button type="submit" class="login-btn"><a th:href="@{/auth/login}">로그인</a></button>
                    </div>
                </form>
                <div class="inp-bottom">
                    <div class="link-auto link"><input class="auto" type="checkbox">자동로그인</div>
                    <div class="link">|</div>
                    <div class="link-find-id link">
                        <a href="#">아이디 찾기</a>
                    </div>
                    <div class="link">|</div>
                    <div class="link-find-pwd link">
                        <a href="#">비밀번호 찾기</a>
                    </div>
                    <div class="link">|</div>
                    <div class="link-signup link">
                        <a th:href="@{/auth/join}">회원가입</a>
                    </div>
                </div>
            </div>
            <div class="main-img">
                <img th:src="@{/images/x-img.png}" alt="" class="login-banner">
            </div>
        </div>
        <div class="header-gubun-bottom"></div>
        <div class="award-logos">
            <div class="logo logo1"><img th:src="@{/images/x-img.png}" alt=""></div>
            <div class="logo logo2"><img th:src="@{/images/x-img.png}" alt=""></div>
            <div class="logo logo3"><img th:src="@{/images/x-img.png}" alt=""></div>
            <div class="logo logo4"><img th:src="@{/images/x-img.png}" alt=""></div>
            <div class="logo logo5"><img th:src="@{/images/x-img.png}" alt=""></div>
            <div class="logo logo6"><img th:src="@{/images/x-img.png}" alt=""></div>
            <div class="logo logo7"><img th:src="@{/images/x-img.png}" alt=""></div>
        </div>
    </div>
</main>
<footer th:replace="layout/main/footer.html"></footer>
